.iphone-13-13-pro-seoyoung-6 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  padding: 13px 5px;
  width: 390px;
}

.overlap-group5-32 {
  align-self: flex-end;
  height: 201px;
  margin-top: 41px;
  position: relative;
  width: 376px;
}

.search-28 {
  height: 26px;
  left: 294px;
  position: absolute;
  top: 0;
  width: 27px;
}

.image-2-21 {
  height: 201px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 356px;
}

.vector-188 {
  cursor: pointer;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

.overlap-group4-41 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 184px;
  padding: 8px 4.0px;
  width: 344px;
}

.a-soup-shop-51 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 22.0px;
  min-height: 39px;
  width: 168px;
}

.overlap-group9-17 {
  height: 51px;
  position: relative;
  width: 300px;
}

.text-37 {
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 138px;
}

.seat-left-16 {
  left: 134px;
  letter-spacing: 0;
  position: absolute;
  top: 14px;
  width: 126px;
}

.line-1-16 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.flex-row-101 {
  align-items: flex-end;
  display: flex;
  height: 30px;
  margin-right: 5.0px;
  margin-top: 38px;
  min-width: 306px;
}

.overlap-group8-23 {
  height: 28px;
  position: relative;
  width: 62px;
}

.x250m-4 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 62px;
}

.line-4-8 {
  height: 28px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 1px;
}

.star-1-38 {
  align-self: flex-start;
  height: 29px;
  margin-left: 2px;
  width: 30px;
}

.text-38 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 1.5px;
  margin-left: 3px;
  min-height: 23px;
  width: 68px;
}

.line-5-16 {
  height: 28px;
  margin-left: 4px;
  width: 1px;
}

.overlap-group10-8 {
  height: 29px;
  margin-left: 10px;
  position: relative;
  width: 126px;
}

.are-going-13 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 91px;
}

.number-43 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.overlap-group-container-14 {
  height: 360px;
  margin-left: 8.5px;
  margin-top: 32px;
  position: relative;
  width: 346px;
}

.overlap-group1-52 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 90px;
  min-width: 61px;
  padding: 0 3px;
  position: absolute;
  top: 5px;
}

.info-8,
.map-10 {
  letter-spacing: 0;
  min-height: 32px;
  width: 48px;
}

.overlap-group12-5 {
  height: 360px;
  left: 0;
  position: absolute;
  top: 0;
  width: 346px;
}

.group-22-4 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 272px;
  min-width: 63px;
  position: absolute;
  top: 6px;
}

.overlap-group2-32 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 6px;
}

.group-21-5 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 34px;
  left: 166px;
  min-width: 95px;
  position: absolute;
  top: 4px;
}

.overlap-group3-39 {
  height: 34px;
  position: relative;
  width: 93px;
}

.rectangle-39-8 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.review-12 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 84px;
}

.restaurant-information-1 {
  left: 38px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 57px;
  width: 278px;
}

.overlap-group7-31 {
  height: 360px;
  left: 157px;
  position: absolute;
  top: 0;
  width: 189px;
}

.line-9-6 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.line-13-6 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 44px;
  width: 179px;
}

.line-14-6 {
  height: 266px;
  left: 176px;
  position: absolute;
  top: 44px;
  width: 2px;
}

.group-27-1 {
  align-items: center;
  background-color: var(--orange);
  border-radius: 29px;
  cursor: pointer;
  display: flex;
  height: 58px;
  left: 131px;
  min-width: 58px;
  padding: 0 13px;
  position: absolute;
  top: 302px;
}

.vector-189 {
  height: 32px;
  width: 32px;
}

.line-container-4 {
  height: 310px;
  left: 0;
  position: absolute;
  top: 0;
  width: 81px;
}

.line-19-15 {
  height: 44px;
  left: 80px;
  position: absolute;
  top: 0;
  width: 2px;
}

.line-12-6 {
  height: 266px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 1px;
}

.line-18-5 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 80px;
}

.group-19-4 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 0;
  min-width: 78px;
  position: absolute;
  top: 5px;
}

.overlap-group-110 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 76px;
  padding: 0 1px;
}

.menu-18 {
  letter-spacing: 0;
  min-height: 32px;
  width: 68px;
}

