.component-18 {
  align-items: flex-end;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 108px;
  padding: 14px 24px;
  position: absolute;
  top: 0;
  width: 390px;
}

.a-soup-shop-8 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 53.0px;
  min-height: 24px;
  min-width: 125px;
}

.overlap-group-419 {
  height: 24px;
  margin-top: 30px;
  position: relative;
  width: 260px;
}

.x250m-47-18-are-going {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.span1-51 {
  color: var(--black);
  font-weight: 500;
}

.icon-star-251 {
  height: 22px;
  left: 70px;
  position: absolute;
  top: 2px;
  width: 23px;
}

.component-18.component-23 {
  left: 5px;
  top: 403px;
}

.component-18.component-18-17 {
  left: 5px;
  min-height: 111px;
  padding: 14.4px 24px;
  top: 628px;
}

.component-18.component-18-17 .overlap-group-419 {
  margin-top: 31px;
}

.component-18.component-23-1 {
  left: 5px;
  top: 402px;
}

.component-18.component-18-18 {
  left: 8px;
  top: 103px;
}

.component-18.component-23-2,
.component-18.component-23-3 {
  left: 5px;
  top: 401px;
}

.component-18.component-23-4 {
  left: 5px;
  top: 400px;
}

