.filter-list-rating {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 12px 0;
  width: 390px;
}

.flex-row-51 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  margin-right: 7px;
  margin-top: 33px;
  min-width: 362px;
}

.overlap-group7-16 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 20px;
  display: flex;
  height: 42px;
  margin-top: 1px;
  min-width: 309px;
  padding: 4px 16px;
}

.search-9 {
  height: 29px;
  width: 25px;
}

.flex-col-45 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 52px;
  width: 48px;
}

.group-5 {
  cursor: pointer;
  height: 38px;
  margin-right: 3.0px;
  width: 35px;
}

.my-order-8 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 48px;
}

.overlap-group6-16 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin-right: -21px;
  margin-top: 9px;
  min-height: 726px;
  padding: 0 7.0px;
  width: 419px;
}

.line-27-1 {
  height: 1px;
  margin-right: 15.0px;
  margin-top: -1px;
  width: 390px;
}

.line-29-1 {
  height: 2px;
  margin-right: 6.0px;
  width: 107px;
}

.overlap-group-container-6 {
  align-items: flex-start;
  display: flex;
  margin-right: 17.0px;
  margin-top: 7px;
  min-width: 360px;
}

.overlap-group17 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 85px;
  padding: 3px 6px;
}

.distance-4 {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 58px;
}

.vector-41 {
  align-self: center;
  height: 8px;
  margin-left: 7px;
  width: 8px;
}

.overlap-group12 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  margin-left: 16px;
  min-width: 85px;
  padding: 2px 5px;
}

.category-4 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 57px;
}

.vector-42 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.0px;
  margin-left: 9px;
  width: 8px;
}

.overlap-group14 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  margin-left: 11px;
  min-width: 74px;
  padding: 2px 17px;
}

.seats-4 {
  letter-spacing: 0;
  min-height: 17px;
}

.overlap-group16 {
  border-radius: 15px;
  height: 26px;
  margin-left: 17px;
  position: relative;
  width: 72px;
}

.rectangle-60-2 {
  background-color: var(--orange);
  border-radius: 15px;
  cursor: pointer;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 72px;
}

.rating-4 {
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
}

.line-28-1 {
  height: 1px;
  margin-right: 15.0px;
  margin-top: 7px;
  width: 390px;
}

.overlap-group13 {
  height: 108px;
  margin-right: 13.0px;
  margin-top: 1px;
  position: relative;
  width: 390px;
}

.vector-43 {
  height: 1px;
  left: 363px;
  position: absolute;
  top: 87px;
  width: 1px;
}

.rectangle-70-1 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 289px;
  position: absolute;
  top: 25px;
  width: 39px;
}

.western {
  left: 294px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

.rectangle {
  background-color: var(--white);
  height: 85px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 85px;
}

.vector-44 {
  height: 31px;
  left: 369px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.x1,
.x1-1,
.x1-2,
.x1-3 {
  height: 85px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 85px;
}

.overlap-group-77 {
  height: 108px;
  margin-right: 13.0px;
  margin-top: 5px;
  position: relative;
  width: 390px;
}

.rectangle-67 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 182px;
  position: absolute;
  top: 25px;
  width: 28px;
}

.asian {
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

.vector-40 {
  height: 31px;
  left: 367px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.rectangle-29-5 {
  background-color: var(--white);
  height: 85px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 85px;
}

.rectangle-68-1 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 215px;
  position: absolute;
  top: 25px;
  width: 41px;
}

.language {
  left: 220px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

.overlap-group8-11 {
  height: 108px;
  margin-right: 13.0px;
  margin-top: 6px;
  position: relative;
  width: 390px;
}

.image-6-2 {
  height: 85px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 86px;
}

.rectangle-69-2 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 239px;
  position: absolute;
  top: 27px;
  width: 27px;
}

.meat-2 {
  left: 244px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.vector-45 {
  cursor: pointer;
  height: 31px;
  left: 369px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.vector-46 {
  height: 31px;
  left: 367px;
  position: absolute;
  top: 31px;
  width: 17px;
}

.address-9 {
  color: transparent;
  font-weight: 500;
  left: 106px;
  position: absolute;
  top: 41px;
}

.span0-20 {
  color: var(--saffron);
  font-weight: 500;
}

.span1-28 {
  letter-spacing: 0;
}

.rectangle-66 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 236px;
  position: absolute;
  top: 25px;
  width: 39px;
}

.fastfood {
  left: 241px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

.overlap-group11-1 {
  height: 108px;
  margin-right: 13.0px;
  margin-top: 4px;
  position: relative;
  width: 390px;
}

.rectangle-32 {
  background-color: var(--white);
  height: 85px;
  left: 8px;
  position: absolute;
  top: 12px;
  width: 85px;
}

.vector-47 {
  height: 31px;
  left: 369px;
  position: absolute;
  top: 39px;
  width: 17px;
}

.bhc-1 {
  height: 85px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 85px;
}

.rectangle-71-1 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 157px;
  position: absolute;
  top: 25px;
  width: 38px;
}

.place {
  left: 162px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

