.menu-detail3porkrib2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 42px 0;
  width: 390px;
}

.flex-row-419 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 39px;
  margin-left: 6px;
  margin-top: 3px;
  min-width: 311px;
}

.vector-280 {
  cursor: pointer;
  height: 25px;
  margin-top: 2.0px;
  width: 36px;
}

.hanam-bbq-86 {
  letter-spacing: 0;
  margin-left: 18px;
  min-height: 39px;
  width: 257px;
}

.overlap-group4-176 {
  height: 418px;
  margin-top: 25px;
  position: relative;
  width: 390px;
}

.loaded-baked-potato-soup-recipe-3-5-2 {
  height: 302px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.overlap-group3-220 {
  height: 86px;
  margin-right: 3.0px;
  margin-top: 48px;
  position: relative;
  width: 303px;
}

.icon-check_mark-51 {
  cursor: pointer;
  height: 25px;
  left: 2px;
  position: absolute;
  top: 48px;
  width: 27px;
}

.icon-check_mark-52 {
  cursor: pointer;
  height: 25px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 27px;
}

.line-20-22 {
  height: 2px;
  margin-left: 0.01px;
  margin-top: 20px;
  width: 390px;
}

.group-25-17 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 4.0px;
  margin-top: 48px;
  min-width: 338px;
}

.overlap-group-743 {
  background-color: var(--orange);
  border-radius: 15px;
  height: 71px;
  position: relative;
  width: 334px;
}

.price-16 {
  left: 233px;
  letter-spacing: 0;
  position: absolute;
  top: 44px;
  width: 97px;
}

.add-to-cart-16 {
  left: 61px;
  letter-spacing: 0;
  position: absolute;
  top: 13px;
  width: 200px;
}

