.pumpkin-soup-1 {
  cursor: pointer;
  display: flex;
  height: 46px;
  left: 24px;
  position: absolute;
  top: 155px;
  width: 261px;
}

.pork-lib-4 {
  flex: 1;
  letter-spacing: 0;
  width: 261px;
}

.pumpkin-soup-1.pumpkin-soup-2,
.pumpkin-soup-1.pumpkin-soup-3 {
  cursor: unset;
}

