.component-23-5 {
  align-items: flex-start;
  display: flex;
  height: 264px;
  left: 23px;
  min-width: 342px;
  position: absolute;
  top: 246px;
}

.overlap-group4-257 {
  height: 264px;
  position: relative;
  width: 342px;
}

.rectangle-56 {
  background-color: var(--white);
  border-radius: 10px;
  height: 254px;
  left: 0;
  position: absolute;
  top: 0;
  width: 342px;
}

.this-menu-added-to-cart {
  left: 26px;
  letter-spacing: 0;
  position: absolute;
  top: 93px;
  width: 309px;
}

.rectangle-57 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 72px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 342px;
}

.rectangle-23-18 {
  background-color: var(--orange);
  border-radius: 12px;
  cursor: pointer;
  height: 43px;
  left: 174px;
  position: absolute;
  top: 207px;
  width: 155px;
}

.rectangle-27-145 {
  background-color: var(--bg);
  border-radius: 12px;
  height: 43px;
  left: 10px;
  position: absolute;
  top: 207px;
  width: 158px;
}

.menu-90 {
  left: 26px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 217px;
  width: 125px;
}

.cart {
  left: 192px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 215px;
  width: 120px;
}

.component-23-5.component-23-6,
.component-23-5.component-23-8 {
  left: 24px;
}

.component-23-5.component-23-6 .menu-90,
.component-23-5.component-23-7 .rectangle-27-145,
.component-23-5.component-23-7 .menu-90,
.component-23-5.component-23-8 .rectangle-27-145 {
  cursor: pointer;
}

