.group-61-1,
.group-59 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 80px;
  margin-left: 20px;
  margin-top: 11px;
  min-width: 82px;
}

.overlap-group9-10,
.overlap-group7-18 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  padding: 8.2px 10.8px;
  width: 80px;
}

.vector-49,
.vector-50 {
  height: 32px;
  margin-right: 12.85px;
  margin-top: 5px;
  width: 36px;
}

.photo-05-1,
.photo-05-2 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 20px;
  width: 58px;
}

