.component-19 {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 108px;
  padding: 14px 24px;
  position: absolute;
  top: 0;
  width: 390px;
}

.a-soup-shop-32 {
  letter-spacing: 0;
  margin-right: 108.0px;
  min-height: 24px;
  min-width: 70px;
}

.x35-seats-left-9 {
  color: transparent;
  font-weight: 500;
  margin-right: 63.0px;
  margin-top: 3px;
  min-height: 24px;
  min-width: 115px;
}

.span0-31 {
  color: var(--saffron);
  font-weight: 500;
}

.span1-75 {
  letter-spacing: 0;
}

.overlap-group-441 {
  align-self: flex-end;
  height: 24px;
  margin-top: 3px;
  position: relative;
  width: 260px;
}

.x250m-47-18-are-going-24 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.span1-76 {
  color: var(--black);
  font-weight: 500;
}

.icon-star-269 {
  height: 22px;
  left: 70px;
  position: absolute;
  top: 2px;
  width: 23px;
}

.component-19.component-20,
.component-19.component-20-1,
.component-19.component-20-2,
.component-19.component-20-3,
.component-19.component-20-4,
.component-19.component-20-5,
.component-19.component-20-6,
.component-19.component-20-7,
.component-19.component-20-8,
.component-19.component-20-9 {
  padding: 14px 34px;
}

.component-19.component-20 .a-soup-shop-32,
.component-19.component-20-1 .a-soup-shop-32,
.component-19.component-20-2 .a-soup-shop-32,
.component-19.component-20-3 .a-soup-shop-32,
.component-19.component-20-4 .a-soup-shop-32,
.component-19.component-20-5 .a-soup-shop-32,
.component-19.component-20-6 .a-soup-shop-32,
.component-19.component-20-7 .a-soup-shop-32,
.component-19.component-20-8 .a-soup-shop-32,
.component-19.component-20-9 .a-soup-shop-32,
.component-19.component-20-10 .a-soup-shop-32,
.component-19.component-20-11 .a-soup-shop-32,
.component-19.component-25 .a-soup-shop-32,
.component-19.component-20-12 .a-soup-shop-32,
.component-19.component-25-1 .a-soup-shop-32,
.component-19.component-25-2 .a-soup-shop-32,
.component-19.component-25-3 .a-soup-shop-32 {
  margin-right: 78.0px;
  min-width: 100px;
}

.component-19.component-20 .x35-seats-left-9,
.component-19.component-20-1 .x35-seats-left-9,
.component-19.component-20-2 .x35-seats-left-9,
.component-19.component-20-3 .x35-seats-left-9,
.component-19.component-20-4 .x35-seats-left-9,
.component-19.component-20-5 .x35-seats-left-9,
.component-19.component-20-6 .x35-seats-left-9,
.component-19.component-20-7 .x35-seats-left-9,
.component-19.component-20-8 .x35-seats-left-9,
.component-19.component-20-9 .x35-seats-left-9,
.component-19.component-20-10 .x35-seats-left-9,
.component-19.component-25 .x35-seats-left-9,
.component-19.component-20-12 .x35-seats-left-9,
.component-19.component-25-1 .x35-seats-left-9,
.component-19.component-25-2 .x35-seats-left-9,
.component-19.component-25-3 .x35-seats-left-9 {
  margin-right: 53.0px;
  min-width: 125px;
}

.component-19.component-20 .span0-31,
.component-19.component-20-1 .span0-31,
.component-19.component-20-2 .span0-31,
.component-19.component-20-3 .span0-31,
.component-19.component-20-4 .span0-31,
.component-19.component-20-5 .span0-31,
.component-19.component-20-6 .span0-31,
.component-19.component-20-7 .span0-31,
.component-19.component-20-8 .span0-31,
.component-19.component-20-9 .span0-31,
.component-19.component-20-10 .span0-31,
.component-19.component-20-11 .span0-31,
.component-19.component-25 .span0-31,
.component-19.component-20-12 .span0-31,
.component-19.component-25-1 .span0-31,
.component-19.component-25-2 .span0-31,
.component-19.component-25-3 .span0-31 {
  color: var(--apple);
}

.component-19.component-20 .overlap-group-441,
.component-19.component-20-1 .overlap-group-441,
.component-19.component-20-2 .overlap-group-441,
.component-19.component-20-3 .overlap-group-441,
.component-19.component-20-4 .overlap-group-441,
.component-19.component-20-5 .overlap-group-441,
.component-19.component-20-6 .overlap-group-441,
.component-19.component-20-7 .overlap-group-441,
.component-19.component-20-8 .overlap-group-441,
.component-19.component-20-9 .overlap-group-441,
.component-19.component-20-10 .overlap-group-441,
.component-19.component-25 .overlap-group-441,
.component-19.component-20-12 .overlap-group-441,
.component-19.component-25-1 .overlap-group-441,
.component-19.component-25-2 .overlap-group-441,
.component-19.component-25-3 .overlap-group-441 {
  width: 250px;
}

.component-19.component-20-10 {
  left: 5px;
  padding: 14px 34px;
  top: 516px;
}

.component-19.component-20-11 {
  left: 5px;
  min-height: 111px;
  padding: 14.4px 34px;
  top: 629px;
}

.component-19.component-20-11 .x35-seats-left-9 {
  margin-right: 53.0px;
  margin-top: 4px;
  min-width: 125px;
}

.component-19.component-20-11 .overlap-group-441 {
  margin-top: 4px;
  width: 250px;
}

.component-19.component-19-17,
.component-19.component-24 {
  left: 5px;
  top: 516px;
}

.component-19.component-25 {
  left: 5px;
  padding: 14px 34px;
  top: 630px;
}

.component-19.component-19-18 {
  left: 8px;
  top: 217px;
}

.component-19.component-20-12 {
  left: 8px;
  padding: 14px 34px;
  top: 331px;
}

.component-19.component-17 {
  left: 8px;
  padding: 14px 29px;
  top: 673px;
}

.component-19.component-17 .a-soup-shop-32 {
  margin-right: 135.0px;
  min-width: 43px;
}

.component-19.component-17 .x35-seats-left-9 {
  margin-right: 77.0px;
  min-width: 101px;
}

.component-19.component-17 .span0-31 {
  color: var(--persian-red);
}

.component-19.component-17 .overlap-group-441 {
  width: 255px;
}

.component-19.component-24-1,
.component-19.component-24-2 {
  left: 5px;
  top: 515px;
}

.component-19.component-25-1,
.component-19.component-25-2 {
  left: 5px;
  padding: 14px 34px;
  top: 629px;
}

.component-19.component-24-3 {
  left: 5px;
  top: 514px;
}

.component-19.component-25-3 {
  left: 5px;
  padding: 14px 34px;
  top: 628px;
}

