.yool-bi-sangsepilteo-distance {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.overlap-group6-120 {
  align-self: flex-start;
  height: 488px;
  margin-left: -67px;
  position: relative;
  width: 457px;
}

.rectangle-15-42 {
  background-color: var(--bg);
  border-radius: 20px;
  height: 42px;
  left: 121px;
  position: absolute;
  top: 40px;
  width: 276px;
}

.a-soup-shop-124 {
  color: var(--black);
  font-weight: 500;
  left: 174px;
  position: absolute;
  top: 49px;
}

.vector-909 {
  height: 20px;
  left: 359px;
  position: absolute;
  top: 51px;
  width: 20px;
}

.icon-search-43 {
  height: 29px;
  left: 135px;
  position: absolute;
  top: 47px;
  width: 25px;
}

.my-7 {
  left: 417px;
  letter-spacing: 0;
  position: absolute;
  top: 77px;
}

.vector-910 {
  height: 30px;
  left: 80px;
  position: absolute;
  top: 47px;
  width: 30px;
}

.vector-911 {
  height: 31px;
  left: 431px;
  position: absolute;
  top: 188px;
  width: 17px;
}

.rectangle-35-6 {
  background-color: var(--orange);
  border-radius: 15px;
  height: 35px;
  left: 366px;
  position: absolute;
  top: 100px;
  width: 85px;
}

.filter-5 {
  left: 390px;
  letter-spacing: 0;
  position: absolute;
  top: 109px;
}

.filter-alt-5 {
  height: 18px;
  left: 372px;
  position: absolute;
  top: 109px;
  width: 18px;
}

.vector-912 {
  height: 8px;
  left: 434px;
  position: absolute;
  top: 114px;
  width: 8px;
}

.group-120 {
  cursor: pointer;
  height: 38px;
  left: 408px;
  position: absolute;
  top: 36px;
  width: 35px;
}

.rectangle-43-2 {
  background-color: var(--mist-gray);
  cursor: pointer;
  height: 488px;
  left: 67px;
  position: absolute;
  top: 0;
  width: 390px;
}

.flex-row-649 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  margin-right: 11px;
  margin-top: 20px;
  min-width: 252px;
}

.detailed-filter-2 {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 135px;
}

.icon-close-167 {
  cursor: pointer;
  height: 30px;
  margin-left: 87px;
  width: 30px;
}

.line-19-29 {
  height: 1px;
  margin-top: 20px;
  width: 390px;
}

.flex-row-650 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  margin-right: 12.0px;
  margin-top: 18px;
  min-width: 320px;
}

.number-of-people-2 {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 174px;
}

.overlap-group11-26 {
  align-self: flex-end;
  height: 31px;
  margin-left: 26px;
  position: relative;
  width: 120px;
}

.group-13-97 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 0;
  min-width: 120px;
  position: absolute;
  top: 0;
}

.group-7-161 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 30px;
  min-width: 30px;
  padding: 0 4.5px;
}

.outline_remove_black_24dp-1-36 {
  height: 21px;
  object-fit: cover;
  width: 21px;
}

.group-10-110 {
  background-color: var(--bg);
  border-radius: 5px;
  height: 31px;
  margin-left: 6px;
  width: 48px;
}

.number-268 {
  left: 56px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
  width: 16px;
}

.flex-row-651 {
  align-items: flex-start;
  display: flex;
  margin-right: 12.0px;
  margin-top: 26px;
  min-width: 320px;
}

.distance-149 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 99px;
}

.overlap-group9-67 {
  background-color: var(--bg);
  height: 30px;
  margin-left: 40px;
  position: relative;
  width: 181px;
}

.group-22-32 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  left: 0;
  min-width: 181px;
  position: absolute;
  top: 0;
}

.rectangle-9-5 {
  background-color: var(--bg);
  height: 32px;
  margin-top: -1px;
  width: 183px;
}

.less-than {
  left: 8px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
  width: 136px;
}

.arrow-drop-down-113 {
  height: 15px;
  left: 159px;
  position: absolute;
  top: 8px;
  width: 15px;
}

.line-2-177 {
  height: 30px;
  left: 150px;
  position: absolute;
  top: 0;
  width: 1px;
}

.overlap-group10-49 {
  height: 30px;
  margin-left: 101.0px;
  margin-top: 1px;
  position: relative;
  width: 155px;
}

.group-119 {
  background-color: var(--bg);
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 151px;
}

.rectangle-9-3 {
  background-color: var(--bg);
  height: 32px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 153px;
}

.less-than-100-m-2,
.no-waiting-2,
.less-than-100-m-3 {
  left: 19px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
  width: 136px;
}

.flex-row-652 {
  align-items: flex-start;
  display: flex;
  margin-right: 38.0px;
  margin-top: 1px;
  min-width: 294px;
}

.waiting-9 {
  letter-spacing: 0;
  margin-top: 0.43px;
  min-height: 28px;
  min-width: 85px;
}

.overlap-group7-88 {
  height: 30px;
  margin-left: 54px;
  position: relative;
  width: 155px;
}

.overlap-group8-63 {
  height: 30px;
  margin-top: 1px;
  position: relative;
  width: 390px;
}

.line-22-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 390px;
}

.group-3-1 {
  background-color: var(--bg);
  height: 30px;
  left: 168px;
  position: absolute;
  top: 0;
  width: 151px;
}

.rectangle-9-4 {
  background-color: var(--bg);
  height: 32px;
  left: 167px;
  position: absolute;
  top: -1px;
  width: 153px;
}

.less-than-100-m-4 {
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
  width: 136px;
}

.less-than-300-m {
  left: 176px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
  width: 136px;
}

.group-19-18 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 21px;
  min-width: 240px;
}

.group-19-19 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 97px;
}

.overlap-group-1162 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  min-width: 95px;
  padding: 0 14px;
}

.reset-45 {
  letter-spacing: 0;
  min-height: 32px;
  width: 66px;
}

.overlap-group5-211 {
  border-radius: 10px;
  height: 33px;
  margin-left: 46px;
  position: relative;
  width: 95px;
}

.rectangle-39-44 {
  background-color: var(--orange);
  border-radius: 10px;
  cursor: pointer;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 95px;
}

.apply-2 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 68px;
}

