.shopping-cartpeople111 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 29px 0;
  position: relative;
  width: 390px;
}

.flex-col-66 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 14px;
  min-height: 469px;
  width: 376px;
}

.group-52-21 {
  cursor: pointer;
  height: 35px;
  margin-left: 9.0px;
  width: 35px;
}

.line-1-21 {
  height: 2px;
  margin-top: 7px;
  width: 300px;
}

.dinner-table-1-11 {
  align-self: center;
  height: 210px;
  margin-left: 22.0px;
  margin-top: 58px;
  object-fit: cover;
  width: 210px;
}

.do-you-want-to-reser-11 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 19px;
  min-height: 138px;
  text-align: center;
  width: 352px;
}

.flex-row-73 {
  align-items: center;
  display: flex;
  height: 39px;
  margin-left: 10.0px;
  margin-top: 54px;
  min-width: 334px;
}

.we-are-11 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.group-13-15 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 2px;
  margin-top: 2.97px;
  min-width: 120px;
  position: relative;
}

.group-8-56 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 30px;
  margin-left: 4px;
  margin-top: 0.03px;
  min-width: 30px;
  padding: 0 4.5px;
}

.outline_add_black_24dp-1-29 {
  height: 21px;
  object-fit: cover;
  width: 21px;
}

.people-11 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.overlap-group3-99 {
  align-self: flex-end;
  height: 96px;
  margin-right: 0;
  margin-top: 27px;
  position: relative;
  width: 362px;
}

.overlap-group2-117 {
  height: 96px;
  left: 62px;
  position: absolute;
  top: 0;
  width: 300px;
}

.line-7-18 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 86px;
  width: 300px;
}

.group-11-21 {
  background-color: var(--bg);
  height: 30px;
  left: 72px;
  position: absolute;
  top: 6px;
  width: 134px;
}

.mins-30 {
  left: 194px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.line-6-38 {
  height: 30px;
  left: 178px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.arrow-drop-down-30 {
  height: 15px;
  left: 185px;
  position: absolute;
  top: 14px;
  width: 15px;
}

.select-8 {
  left: 104px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 51px;
}

.overlap-group1-177 {
  height: 90px;
  left: 72px;
  position: absolute;
  top: 6px;
  width: 107px;
}

.less-than-5-10 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
  width: 81px;
}

.less-than-10-9 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 36px;
  width: 90px;
}

.less-than-15-9 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 66px;
  width: 90px;
}

.well-be-in-30 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 129px;
}

