.group-25-28,
.group-25-29,
.group-25-30,
.group-25-31,
.group-25-32,
.group-25-33,
.group-25-34,
.group-25-35,
.group-25-36,
.group-25-37,
.group-25-38,
.group-25-39,
.group-25-40,
.group-25-41 {
  align-items: flex-start;
  display: flex;
  margin-left: 4.0px;
  margin-top: 48px;
  min-width: 338px;
}

.overlap-group-786,
.overlap-group-787,
.overlap-group-788,
.overlap-group-789,
.overlap-group-790,
.overlap-group-791,
.overlap-group-792,
.overlap-group-793,
.overlap-group-794,
.overlap-group-795,
.overlap-group-796,
.overlap-group-797,
.overlap-group-798,
.overlap-group-799 {
  background-color: var(--orange);
  border-radius: 15px;
  height: 71px;
  position: relative;
  width: 334px;
}

.price-27,
.price-28,
.price-29,
.price-30,
.price-31,
.price-32,
.price-33,
.price-34,
.price-35,
.price-36,
.price-37,
.price-38,
.price-39,
.price-40 {
  left: 233px;
  letter-spacing: 0;
  position: absolute;
  top: 44px;
  width: 97px;
}

.add-to-cart-27,
.add-to-cart-28,
.add-to-cart-29,
.add-to-cart-30,
.add-to-cart-31,
.add-to-cart-32,
.add-to-cart-33,
.add-to-cart-34,
.add-to-cart-35,
.add-to-cart-36,
.add-to-cart-37,
.add-to-cart-38,
.add-to-cart-39,
.add-to-cart-40 {
  left: 61px;
  letter-spacing: 0;
  position: absolute;
  top: 13px;
  width: 200px;
}

