.component-44,
.component-44-1,
.component-44-2,
.component-44-3,
.component-44-4,
.component-44-5,
.component-44-6,
.component-44-7,
.component-44-8,
.component-44-9,
.component-44-10,
.component-44-11,
.component-44-12,
.component-44-13,
.component-44-14,
.component-44-15,
.component-44-16,
.component-44-17,
.component-44-18,
.component-44-19,
.component-44-20,
.component-44-21,
.component-44-22,
.component-44-23 {
  align-items: flex-start;
  display: flex;
  margin-left: 23.0px;
  margin-top: 48px;
  min-width: 303px;
}

.overlap-group2-288,
.overlap-group2-289,
.overlap-group2-290,
.overlap-group2-291,
.overlap-group2-292,
.overlap-group2-293,
.overlap-group2-294,
.overlap-group2-295,
.overlap-group2-296,
.overlap-group2-297,
.overlap-group2-298,
.overlap-group2-299,
.overlap-group2-300,
.overlap-group2-301,
.overlap-group2-302,
.overlap-group2-303,
.overlap-group2-304,
.overlap-group2-305,
.overlap-group2-306,
.overlap-group2-307,
.overlap-group2-308,
.overlap-group2-309,
.overlap-group2-310,
.overlap-group2-311 {
  height: 86px;
  position: relative;
  width: 303px;
}

.icon-check_mark-17,
.icon-check_mark-28,
.icon-check_mark-29,
.icon-check_mark-30,
.icon-check_mark-31,
.icon-check_mark-32,
.icon-check_mark-33,
.icon-check_mark-34,
.icon-check_mark-35,
.icon-check_mark-36,
.icon-check_mark-37,
.icon-check_mark-38,
.icon-check_mark-39,
.icon-check_mark-40,
.icon-check_mark-41,
.icon-check_mark-42,
.icon-check_mark-43,
.icon-check_mark-44,
.icon-check_mark-45,
.icon-check_mark-46,
.icon-check_mark-47,
.icon-check_mark-48,
.icon-check_mark-49,
.icon-check_mark-50 {
  cursor: pointer;
  height: 25px;
  left: 3px;
  position: absolute;
  top: 49px;
  width: 27px;
}

