.restaurant-details-map {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  position: relative;
  width: 390px;
}

.overlap-group4-277 {
  height: 439px;
  position: relative;
  width: 390px;
}

.image-10 {
  height: 317px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.rectangle-38-25 {
  height: 184px;
  left: 23px;
  position: absolute;
  top: 255px;
  width: 344px;
}

.icon-star-429 {
  height: 29px;
  left: 116px;
  position: absolute;
  top: 392px;
  width: 30px;
}

.are-going-35 {
  left: 267px;
  letter-spacing: 0;
  position: absolute;
  top: 394px;
  width: 91px;
}

.text-352 {
  left: 130px;
  letter-spacing: 0;
  position: absolute;
  top: 302px;
  width: 138px;
}

.seat-left-28 {
  left: 197px;
  letter-spacing: 0;
  position: absolute;
  top: 316px;
  width: 126px;
}

.line-1-141 {
  height: 2px;
  left: 63px;
  position: absolute;
  top: 302px;
  width: 300px;
}

.hanam-bbq-157 {
  left: 122px;
  letter-spacing: 0;
  position: absolute;
  top: 263px;
  width: 168px;
}

.x180m-8 {
  left: 52px;
  letter-spacing: 0;
  position: absolute;
  top: 393px;
  width: 62px;
}

.line-4-32 {
  height: 28px;
  left: 106px;
  position: absolute;
  top: 393px;
  width: 1px;
}

.line-5-97 {
  height: 28px;
  left: 222px;
  position: absolute;
  top: 393px;
  width: 1px;
}

.text-353 {
  left: 150px;
  letter-spacing: 0;
  position: absolute;
  top: 394px;
  width: 68px;
}

.number-250 {
  left: 232px;
  letter-spacing: 0;
  position: absolute;
  top: 392px;
  width: 43px;
}

.vector-813 {
  cursor: pointer;
  height: 25px;
  left: 9px;
  position: absolute;
  top: 10px;
  width: 36px;
}

.flex-row-588 {
  align-items: flex-start;
  display: flex;
  height: 45px;
  margin-right: 0.24px;
  margin-top: 31px;
  min-width: 390px;
}

.group-container-244 {
  align-self: flex-end;
  height: 44px;
  position: relative;
  width: 293px;
}

.line-container-103 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 293px;
}

.line-19-17 {
  height: 44px;
  left: 291px;
  position: absolute;
  top: 0;
  width: 2px;
}

.line-20-141 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 293px;
}

.group-19-10 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 27px;
  min-width: 78px;
  position: absolute;
  top: 5px;
}

.overlap-group-1127 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 76px;
  padding: 0 1px;
}

.menu-103 {
  letter-spacing: 0;
  min-height: 32px;
  width: 68px;
}

.group-20-27 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 116px;
  min-width: 63px;
  position: absolute;
  top: 5px;
}

.overlap-group1-653 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 3px;
}

.info-71 {
  letter-spacing: 0;
  min-height: 32px;
  width: 48px;
}

.group-21-26 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 34px;
  left: 193px;
  min-width: 95px;
  position: absolute;
  top: 4px;
}

.overlap-group3-455 {
  height: 34px;
  position: relative;
  width: 93px;
}

.rectangle-39-35 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.review-87 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 84px;
}

.overlap-group2-503 {
  align-items: flex-end;
  align-self: center;
  background-color: var(--orange);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  margin-left: 6px;
  margin-top: 1.5px;
  min-width: 64px;
  padding: 0 2.1px;
}

.map-35 {
  letter-spacing: 0;
  min-height: 32px;
  width: 55px;
}

.line-container-104 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 45px;
  width: 24px;
}

.line-21-3 {
  height: 44px;
  width: 2px;
}

.line-20-142 {
  height: 1px;
  margin-left: 0.5px;
  width: 23px;
}

.overlap-group5-191 {
  height: 241px;
  margin-top: 5px;
  position: relative;
  width: 390px;
}

.image-7-4 {
  cursor: pointer;
  height: 241px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.icon-location_pin-6 {
  height: 30px;
  left: 132px;
  position: absolute;
  top: 91px;
  width: 22px;
}

.ellipse-12-1 {
  background-color: var(--apple);
  border-radius: 7.5px;
  height: 15px;
  left: 135px;
  position: absolute;
  top: 121px;
  width: 15px;
}

