.component-22,
.component-22-1 {
  align-items: flex-start;
  display: flex;
  height: 138px;
  left: 2px;
  min-width: 329px;
  position: absolute;
  top: 98px;
}

.overlap-group6-7,
.overlap-group5-10 {
  height: 141px;
  margin-top: -3px;
  position: relative;
  width: 322px;
}

.rectangle-51,
.rectangle-51-1 {
  background-color: var(--mercury-2);
  height: 138px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 322px;
}

.cooking-done-attenti-1,
.cooking-done-attenti-2 {
  left: 106px;
  letter-spacing: 0;
  position: absolute;
  top: 60px;
  width: 211px;
}

.icon-user-3,
.icon-user-4 {
  height: 64px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 30px;
}

.color-3,
.color-4 {
  left: 50px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  width: 38px;
}

.yesterday-1,
.yesterday-2 {
  left: 47px;
  letter-spacing: 0;
  position: absolute;
  top: 34px;
  width: 82px;
}

.icon-star-58,
.icon-star-63 {
  height: 14px;
  left: 88px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.icon-star-59,
.icon-star-64 {
  height: 14px;
  left: 106px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.icon-star-60,
.icon-star-65 {
  height: 14px;
  left: 124px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.icon-star-61,
.icon-star-66 {
  height: 14px;
  left: 142px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.icon-star-62,
.icon-star-67 {
  height: 14px;
  left: 160px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.see-detail-3,
.see-detail-4 {
  left: 271px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 16px;
}

