.component-22 {
  align-items: flex-start;
  display: flex;
  height: 138px;
  left: 2px;
  min-width: 329px;
  position: absolute;
  top: 98px;
}

.overlap-group5-14 {
  height: 141px;
  margin-top: -3px;
  position: relative;
  width: 322px;
}

.rectangle-51 {
  background-color: var(--mercury-2);
  height: 138px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 322px;
}

.cooking-done-attenti-2 {
  left: 106px;
  letter-spacing: 0;
  position: absolute;
  top: 60px;
  width: 211px;
}

.icon-user-1 {
  height: 64px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 30px;
}

.color-1 {
  left: 50px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  width: 38px;
}

.yesterday {
  left: 47px;
  letter-spacing: 0;
  position: absolute;
  top: 34px;
  width: 82px;
}

.icon-star-16 {
  height: 14px;
  left: 88px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.star-8 {
  height: 14px;
  left: 106px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.star-9 {
  height: 14px;
  left: 124px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.star-10 {
  height: 14px;
  left: 142px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.star-11 {
  height: 14px;
  left: 160px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.see-detail-1 {
  left: 271px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 16px;
}

