.group-25-133,
.group-25-134,
.group-25-135 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 4px;
  min-width: 338px;
}

.overlap-group3-443,
.overlap-group3-444,
.overlap-group3-445 {
  align-items: center;
  background-color: var(--orange);
  border-radius: 12px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  min-width: 334px;
  padding: 2.8px 5px;
}

.add-to-cart-134,
.add-to-cart-135,
.add-to-cart-136 {
  letter-spacing: 0;
  min-height: 26px;
  width: 150px;
}

.text-338,
.text-350,
.text-357 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 25px;
  min-height: 20px;
  width: 62px;
}

