.menu-or-cart3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 390px;
}

.overlap-group5 {
  height: 844px;
  margin-top: 5px;
  position: relative;
  width: 392px;
}

.loaded-baked-potato-soup-recipe-3-5 {
  height: 239px;
  left: 4px;
  position: absolute;
  top: 76px;
  width: 387px;
}

.rectangle-40 {
  background-color: var(--bg);
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 140px;
  left: 42px;
  position: absolute;
  top: 323px;
  width: 319px;
}

.line-19 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 738px;
  width: 390px;
}

.pumpkin-soup {
  left: 70px;
  letter-spacing: 0;
  position: absolute;
  top: 330px;
  width: 261px;
}

.x15000-won {
  left: 236px;
  letter-spacing: 0;
  position: absolute;
  top: 426px;
  width: 115px;
}

.add-side-menu {
  left: 42px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 478px;
  width: 217px;
}

.rectangle-45 {
  background-color: var(--bg);
  height: 20px;
  left: 50px;
  position: absolute;
  top: 589px;
  width: 21px;
}

.rectangle-48 {
  background-color: var(--orange);
  height: 22px;
  left: 49px;
  position: absolute;
  top: 537px;
  width: 23px;
}

.rectangle-46 {
  background-color: var(--bg);
  height: 20px;
  left: 50px;
  position: absolute;
  top: 640px;
  width: 21px;
}

.rectangle-47 {
  background-color: var(--bg);
  height: 20px;
  left: 50px;
  position: absolute;
  top: 691px;
  width: 21px;
}

.croutons {
  left: 85px;
  letter-spacing: 0;
  position: absolute;
  top: 538px;
  width: 97px;
}

.parsley {
  left: 85px;
  letter-spacing: 0;
  position: absolute;
  top: 589px;
  width: 97px;
}

.baked-bacon {
  left: 85px;
  letter-spacing: 0;
  position: absolute;
  top: 640px;
  width: 132px;
}

.bread-stick {
  left: 85px;
  letter-spacing: 0;
  position: absolute;
  top: 691px;
  width: 132px;
}

.x200-won {
  color: var(--black);
  font-weight: 500;
  left: 250px;
  position: absolute;
  top: 538px;
  width: 111px;
}

.span1 {
  letter-spacing: 0;
}

.x100-won {
  color: var(--black);
  font-weight: 500;
  left: 250px;
  position: absolute;
  top: 585px;
  width: 111px;
}

.x500-won {
  color: var(--black);
  font-weight: 500;
  left: 250px;
  position: absolute;
  top: 636px;
  width: 111px;
}

.x1000-won {
  color: var(--black);
  font-weight: 500;
  left: 250px;
  position: absolute;
  top: 687px;
  width: 111px;
}

.quantity {
  left: 79px;
  letter-spacing: 0;
  position: absolute;
  top: 745px;
  width: 112px;
}

.overlap-group2 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 5px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 237px;
  min-width: 52px;
  padding: 0 13px;
  position: absolute;
  top: 746px;
}

.number {
  letter-spacing: 0;
  min-height: 26px;
  width: 17px;
}

.vector-5 {
  height: 17px;
  left: 52px;
  position: absolute;
  top: 539px;
  width: 17px;
}

.sweet-healthy-tast {
  left: 75px;
  letter-spacing: 0;
  position: absolute;
  top: 373px;
  width: 230px;
}

.overlap-group3 {
  align-items: center;
  background-color: var(--orange);
  border-radius: 12px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  left: 27px;
  min-width: 334px;
  padding: 2.7px 5px;
  position: absolute;
  top: 785px;
}

.add-to-cart {
  letter-spacing: 0;
  margin-top: 4.0px;
  min-height: 27px;
  width: 163px;
}

.text-1 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 20px;
  width: 62px;
}

.hanam-bbq {
  left: 57px;
  letter-spacing: 0;
  position: absolute;
  top: 36px;
  width: 257px;
}

.vector-6 {
  cursor: pointer;
  height: 25px;
  left: 3px;
  position: absolute;
  top: 43px;
  width: 36px;
}

.rectangle-55 {
  height: 844px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

