.group-44-4 {
  align-items: center;
  display: flex;
  height: 31px;
  left: 176px;
  min-width: 172px;
  position: absolute;
  top: 174px;
}

.overlap-group-1103 {
  height: 31px;
  position: relative;
  width: 64px;
}

.text-340 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 41px;
}

.star-2-1 {
  height: 22px;
  left: 40px;
  position: absolute;
  top: 5px;
  width: 24px;
}

.star-3-1 {
  height: 22px;
  margin-left: 1px;
  margin-top: 0.71px;
  width: 24px;
}

.star-4-1 {
  height: 22px;
  margin-left: 2px;
  margin-top: 0.71px;
  width: 24px;
}

.star-3 {
  height: 22px;
  margin-left: 3px;
  margin-top: 0.71px;
  width: 24px;
}

.group-44-4.group-44-5 {
  top: 589px;
}

.group-44-4.group-38-1 {
  left: 171px;
  top: 256px;
}

