.group-79-2 {
  display: flex;
  margin-right: 0;
  margin-top: 6px;
  width: 390px;
}

.group-75-2 {
  align-items: flex-start;
  display: flex;
  min-width: 390px;
}

.overlap-group2-408 {
  height: 108px;
  position: relative;
  width: 390px;
}

.image-5-16 {
  height: 26px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 85px;
}

.vector-436 {
  height: 1px;
  left: 377px;
  position: absolute;
  top: 53px;
  width: 1px;
}

.overlap-group1-539 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  height: 9px;
  left: 218px;
  min-width: 38px;
  padding: 0 5px;
  position: absolute;
  top: 24px;
}

.place-24 {
  letter-spacing: 0;
  min-height: 8px;
}

