.sean-s-details-review {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.overlap-group9-5 {
  height: 433px;
  margin-left: 6.0px;
  position: relative;
  width: 396px;
}

.search-1 {
  height: 26px;
  left: 303px;
  position: absolute;
  top: 54px;
  width: 27px;
}

.overlap-group4-25 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 317px;
  left: 3px;
  min-width: 390px;
  padding: 13px 4.0px;
  position: absolute;
  top: 0;
}

.vector-105 {
  cursor: pointer;
  height: 25px;
  width: 36px;
}

.overlap-group7-5 {
  height: 184px;
  left: 16px;
  position: absolute;
  top: 257px;
  width: 366px;
}

.rectangle-38-1 {
  height: 184px;
  left: 0;
  position: absolute;
  top: 0;
  width: 344px;
}

.are-going-1 {
  left: 235px;
  letter-spacing: 0;
  position: absolute;
  top: 140px;
  width: 91px;
}

.number-2 {
  left: 77px;
  letter-spacing: 0;
  position: absolute;
  top: 69px;
  width: 76px;
}

.mins-waiting-1 {
  left: 139px;
  letter-spacing: 0;
  position: absolute;
  top: 76px;
  width: 227px;
}

.line-1-1 {
  height: 2px;
  left: 40px;
  position: absolute;
  top: 47px;
  width: 300px;
}

.seans-restaurant-8 {
  left: 68px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
  width: 262px;
}

.x120m-1 {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 139px;
  width: 62px;
}

.line-4-1 {
  height: 28px;
  left: 84px;
  position: absolute;
  top: 138px;
  width: 1px;
}

.line-5-1 {
  height: 28px;
  left: 198px;
  position: absolute;
  top: 138px;
  width: 1px;
}

.text-5 {
  left: 127px;
  letter-spacing: 0;
  position: absolute;
  top: 140px;
  width: 68px;
}

.number-3 {
  left: 215px;
  letter-spacing: 0;
  position: absolute;
  top: 138px;
  width: 43px;
}

.icon-star-33 {
  height: 29px;
  left: 92px;
  position: absolute;
  top: 138px;
  width: 30px;
}

.overlap-group13 {
  height: 355px;
  margin-left: 16.0px;
  margin-top: 37px;
  position: relative;
  width: 354px;
}

.overlap-group-container-13 {
  height: 354px;
  left: 6px;
  position: absolute;
  top: 1px;
  width: 348px;
}

.line-container-5 {
  height: 281px;
  left: 260px;
  position: absolute;
  top: 0;
  width: 71px;
}

.line-9-1 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.line-13-1 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 44px;
  width: 70px;
}

.line-14-1 {
  height: 237px;
  left: 67px;
  position: absolute;
  top: 44px;
  width: 2px;
}

.overlap-group11-5 {
  height: 257px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 348px;
}

.rectangle-52 {
  height: 59px;
  left: 0;
  position: absolute;
  top: 154px;
  width: 326px;
}

.overlap-group6-5 {
  background-size: 100% 100%;
  height: 161px;
  left: 0;
  position: absolute;
  top: 0;
  width: 326px;
}

.icon-user {
  height: 33px;
  left: 11px;
  position: absolute;
  top: 7px;
  width: 31px;
}

.overlap-group2-53 {
  height: 137px;
  left: 19px;
  position: absolute;
  top: 3px;
  width: 307px;
}

.overlap-group1-60 {
  height: 133px;
  left: 30px;
  position: absolute;
  top: 4px;
  width: 277px;
}

.yesterday {
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  top: 21px;
  width: 65px;
}

.color {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 59px;
}

.icon-star-34 {
  height: 14px;
  left: 74px;
  position: absolute;
  top: 1px;
  width: 17px;
}

.icon-star-35 {
  height: 14px;
  left: 57px;
  position: absolute;
  top: 1px;
  width: 17px;
}

.cooking-done-attenti {
  left: 64px;
  letter-spacing: 0;
  position: absolute;
  top: 38px;
  width: 213px;
}

.icon-star-container {
  height: 14px;
  left: 122px;
  position: absolute;
  top: 5px;
  width: 50px;
}

.icon-star-36 {
  height: 14px;
  left: 17px;
  position: absolute;
  top: 0;
  width: 17px;
}

.icon-star-37 {
  height: 14px;
  left: 33px;
  position: absolute;
  top: 0;
  width: 17px;
}

.icon-star-38 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.see-detail {
  left: 256px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 0;
}

.pork-belly-g3d0983c26_1920-1 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 80px;
}

.icon-user-1 {
  height: 33px;
  left: 11px;
  position: absolute;
  top: 161px;
  width: 31px;
}

.see-detail-1 {
  left: 273px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 159px;
}

.date {
  left: 50px;
  letter-spacing: 0;
  position: absolute;
  top: 181px;
  width: 65px;
}

.color-1 {
  left: 49px;
  letter-spacing: 0;
  position: absolute;
  top: 160px;
  width: 59px;
}

.icon-star-39 {
  height: 14px;
  left: 158px;
  position: absolute;
  top: 162px;
  width: 17px;
}

.icon-star-40 {
  height: 14px;
  left: 141px;
  position: absolute;
  top: 162px;
  width: 17px;
}

.icon-star-41 {
  height: 14px;
  left: 123px;
  position: absolute;
  top: 162px;
  width: 17px;
}

.icon-star-42 {
  height: 14px;
  left: 106px;
  position: absolute;
  top: 162px;
  width: 17px;
}

.always-good {
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 204px;
  width: 142px;
}

.line-container-6 {
  height: 336px;
  left: 0;
  position: absolute;
  top: 0;
  width: 159px;
}

.line-19-1 {
  height: 44px;
  left: 157px;
  position: absolute;
  top: 0;
  width: 2px;
}

.line-12-1 {
  height: 291px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 1px;
}

.line-18-1 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 43px;
  width: 157px;
}

.group-19-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 1px;
  min-width: 78px;
  position: absolute;
  top: 6px;
}

.overlap-group-83 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 76px;
  padding: 0 1px;
}

.menu-1 {
  letter-spacing: 0;
  min-height: 32px;
  width: 68px;
}

.group-20 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 90px;
  min-width: 63px;
  position: absolute;
  top: 6px;
}

.overlap-group1-61 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 3px;
}

.info-7,
.map-1 {
  letter-spacing: 0;
  min-height: 32px;
  width: 48px;
}

.group-22-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 273px;
  min-width: 63px;
  position: absolute;
  top: 7px;
}

.overlap-group2-54 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 6px;
}

.overlap-group3-40 {
  height: 34px;
  left: 167px;
  position: absolute;
  top: 5px;
  width: 93px;
}

.rectangle-39-1 {
  background-color: var(--orange);
  border-radius: 10px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.review-2 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 84px;
}

.vector-106 {
  height: 23px;
  left: 238px;
  position: absolute;
  top: 59px;
  width: 39px;
}

.number-4 {
  left: 289px;
  letter-spacing: 0;
  position: absolute;
  top: 54px;
  width: 40px;
}

.overlap-group5-6 {
  height: 35px;
  left: 22px;
  position: absolute;
  top: 59px;
  width: 201px;
}

.group-44 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 0;
  min-width: 201px;
  position: absolute;
  top: 0;
}

.overlap-group-84 {
  height: 35px;
  position: relative;
  width: 74px;
}

.text-4 {
  color: var(--saffron);
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.icon-star-43 {
  height: 25px;
  left: 47px;
  position: absolute;
  top: 2px;
  width: 28px;
}

.icon-star-44 {
  height: 25px;
  margin-left: 1px;
  margin-top: 1.56px;
  width: 28px;
}

.icon-star-45 {
  height: 25px;
  margin-left: 3px;
  margin-top: 1.56px;
  width: 28px;
}

.icon-star-32 {
  height: 25px;
  margin-left: 4px;
  margin-top: 1.56px;
  width: 28px;
}

.rectangle-103 {
  background-color: var(--white);
  height: 20px;
  left: 189px;
  position: absolute;
  top: 5px;
  width: 12px;
}

