.search-list {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.component-29-5 {
  height: 78px;
  margin-top: -2px;
  width: 390px;
}

.line-27-17 {
  height: 1px;
  margin-left: 0;
  margin-top: 2px;
  width: 390px;
}

.line-29-18 {
  height: 2px;
  margin-left: 9.0px;
  width: 107px;
}

.group-51-19 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 4px;
  min-width: 360px;
}

.group-48-22 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 87px;
}

.overlap-group-841 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 85px;
  padding: 4.1px 6px;
}

.distance-77 {
  letter-spacing: 0;
  min-height: 18px;
  width: 58px;
}

.vector-342 {
  align-self: center;
  height: 8px;
  margin-bottom: 0.25px;
  margin-left: 7px;
  width: 8px;
}

.group-47-62 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 87px;
}

.overlap-group1-514 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 85px;
  padding: 3.1px 5px;
}

.category-85 {
  letter-spacing: 0;
  min-height: 17px;
  width: 57px;
}

.vector-343 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.25px;
  margin-left: 9px;
  width: 8px;
}

.group-49-58 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group2-384 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 75px;
  padding: 4.2px 18px;
}

.seats-89 {
  letter-spacing: 0;
  min-height: 18px;
  width: 38px;
}

.group-50-56 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group3-284 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 75px;
  padding: 3.1px 16px;
}

.rating-64 {
  letter-spacing: 0;
  min-height: 18px;
  width: 42px;
}

.overlap-group5-132 {
  height: 108px;
  margin-left: 2.0px;
  margin-top: 9px;
  position: relative;
  width: 392px;
}

.line-28-19 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.overlap-group4-196 {
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.image-5-5 {
  height: 85px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 85px;
}

.image-6-19 {
  height: 85px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 86px;
}

.rectangle-69-4 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 239px;
  position: absolute;
  top: 27px;
  width: 27px;
}

.meat-35 {
  left: 244px;
  letter-spacing: 0;
  position: absolute;
  top: 27px;
}

.vector-344 {
  cursor: pointer;
  height: 31px;
  left: 369px;
  position: absolute;
  top: 38px;
  width: 17px;
}

