.search-list {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.flex-row-10 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  margin-right: 7px;
  margin-top: 45px;
  min-width: 362px;
}

.overlap-group5-5 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 20px;
  display: flex;
  height: 42px;
  margin-top: 1px;
  min-width: 309px;
  padding: 4px 16px;
}

.search-3 {
  align-self: flex-end;
  height: 29px;
  width: 25px;
}

.hanam-bbq-3 {
  color: var(--black);
  font-weight: 500;
  margin-left: 14px;
  margin-top: 2.0px;
  min-height: 24px;
  min-width: 115px;
}

.vector-17 {
  cursor: pointer;
  height: 20px;
  margin-left: 103px;
  margin-top: 2.0px;
  width: 20px;
}

.flex-col-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 52px;
  width: 48px;
}

.group-2 {
  cursor: pointer;
  height: 38px;
  margin-right: 3.0px;
  width: 35px;
}

.my-order-2 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 48px;
}

.flex-row-11 {
  align-items: flex-start;
  display: flex;
  height: 749px;
  margin-right: -159.75px;
  margin-top: 11px;
  min-width: 559px;
}

.overlap-group4-7 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 749px;
  padding: 0 7.3px;
  position: relative;
  width: 419px;
}

.line-27 {
  height: 1px;
  margin-right: 15.5px;
  margin-top: -1px;
  width: 389px;
}

.line-29 {
  cursor: pointer;
  height: 2px;
  margin-right: 6.0px;
  width: 107px;
}

.line-28 {
  height: 1px;
  margin-right: 15.5px;
  margin-top: 8px;
  width: 389px;
}

.overlap-group6-3 {
  height: 108px;
  margin-right: 11.0px;
  margin-top: 1px;
  position: relative;
  width: 390px;
}

.rectangle-69 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 238px;
  position: absolute;
  top: 27px;
  width: 27px;
}

.meat {
  left: 243px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.vector-18 {
  cursor: pointer;
  height: 31px;
  left: 368px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.image-6 {
  height: 85px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 86px;
}

.rectangle-29-2 {
  height: 1px;
  margin-left: 139px;
  margin-top: 161.75px;
  width: 1px;
}

