.group-325 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 263px;
  min-height: 29px;
  position: absolute;
  top: 389px;
  width: 59px;
}

.ellipse-18 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 15px;
  margin-right: 18.0px;
  width: 15px;
}

.shake-shack {
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 14px;
  width: 57px;
}

.group-325.group-290,
.group-325.group-314 {
  left: 301px;
  top: 237px;
}

.group-325.group-380,
.group-325.group-392,
.group-325.group-371,
.group-325.group-359,
.group-325.group-345,
.group-325.group-335 {
  left: 264px;
}

.group-325.group-306 {
  left: 306px;
  top: 240px;
}

