.filter-list-rating-category {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 17px 0;
  position: relative;
  width: 390px;
}

.group-234-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 53px;
  margin-left: 5.0px;
  min-width: 373px;
}

.info-container-2 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 51px;
  width: 35px;
}

.icon-information-2 {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.info-2 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 2px;
  min-height: 14px;
  min-width: 20px;
}

.overlap-group3-35 {
  border-radius: 20px;
  height: 42px;
  margin-left: 10px;
  position: relative;
  width: 272px;
}

.rectangle-15-2 {
  background-color: var(--bg);
  border-radius: 20px;
  cursor: pointer;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.icon-search-2 {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 8px;
  width: 30px;
}

.flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  min-height: 52px;
  width: 45px;
}

.group-2 {
  cursor: pointer;
  height: 38px;
  margin-left: 4px;
  width: 35px;
}

.my-book-4 {
  letter-spacing: 0;
  min-height: 14px;
}

.overlap-group12-1 {
  height: 158px;
  margin-top: 8px;
  position: relative;
  width: 406px;
}

.group-90 {
  display: flex;
  flex-direction: column;
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.line-27-1 {
  height: 1px;
  margin-top: -0.5px;
  width: 390px;
}

.group-51-1 {
  align-items: flex-start;
  display: flex;
  height: 26.82px;
  margin-left: 16px;
  margin-top: 6.8px;
  min-width: 360px;
  position: relative;
}

.group-49-24 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 111px;
  min-width: 77px;
}

.overlap-group1-46 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 75px;
  padding: 4.2px 18px;
}

.seats-24 {
  letter-spacing: 0;
  min-height: 18px;
  width: 38px;
}

.group-50-24 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group2-43 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  min-width: 75px;
  padding: 4.1px 16px;
}

.rating-24 {
  letter-spacing: 0;
  min-height: 18px;
  width: 42px;
}

.line-28-1 {
  height: 1px;
  margin-left: 0;
  margin-top: 8.4px;
  width: 390px;
}

.line-29-1 {
  cursor: pointer;
  height: 5px;
  left: 146px;
  position: absolute;
  top: 0;
  width: 107px;
}

.overlap-group4-20 {
  align-items: flex-start;
  background-color: var(--bg);
  display: flex;
  height: 108px;
  left: 0;
  min-width: 390px;
  padding: 11px 8px;
  position: absolute;
  top: 44px;
}

.x1-10,
.x1-11 {
  height: 85px;
  object-fit: cover;
  width: 85px;
}

.flex-col-8 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  min-height: 76px;
  width: 277px;
}

.flex-row-16 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  min-width: 277px;
}

.flex-col-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 174px;
}

.seans-restaurant-2,
.address-18 {
  letter-spacing: 0;
  min-height: 24px;
}

.x35-seats-left-1 {
  color: transparent;
  font-weight: 500;
  margin-left: 2px;
  margin-top: 2px;
  min-height: 24px;
}

.span0-9 {
  color: var(--x796e6e);
  font-weight: 500;
}

.span1-17 {
  color: var(--apple);
  font-weight: 500;
}

.span-22 {
  letter-spacing: 0;
}

.overlap-group-68 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  height: 9px;
  justify-content: flex-end;
  margin-left: 9px;
  margin-top: 10px;
  min-width: 39px;
  padding: 0 5px;
}

.western-2 {
  letter-spacing: 0;
  min-height: 8px;
}

.vector-84 {
  align-self: flex-end;
  height: 31px;
  margin-left: 38px;
  width: 17px;
}

.overlap-group1-47 {
  height: 24px;
  margin-top: 2px;
  position: relative;
  width: 253px;
}

.icon-star-19 {
  height: 22px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 23px;
}

.x270m-49-5-are-going-1,
.x120m-48-18-are-going-1,
.uncles-2,
.x180m-47-18-are-going-1,
.hanam-bbq-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.overlap-group10-3 {
  height: 121px;
  left: 4px;
  position: absolute;
  top: 36px;
  width: 382px;
}

.rectangle-89-1 {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 121px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 379px;
}

.language-10 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.language-11 {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.asian-2 {
  left: 47px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
}

.fastfood-9 {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  top: 73px;
}

.language-12 {
  left: 299px;
  letter-spacing: 0;
  position: absolute;
  top: 73px;
}

.meat-2 {
  cursor: pointer;
  left: 175px;
  letter-spacing: 0;
  position: absolute;
  top: 74px;
}

.pizza-1 {
  left: 299px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
}

.place-1 {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
}

.western-3 {
  left: 290px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.line-container-1 {
  height: 98px;
  left: 0;
  position: absolute;
  top: 0;
  width: 382px;
}

.line-34-1 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 34px;
  width: 379px;
}

.line-35-1 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 66px;
  width: 379px;
}

.line-37-1 {
  height: 97px;
  left: 129px;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-38-1 {
  height: 97px;
  left: 258px;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-36-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 379px;
}

.reset-1 {
  cursor: pointer;
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 102px;
}

.group-47-24 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 27px;
  left: 115px;
  min-width: 87px;
  position: absolute;
  top: 7px;
}

.overlap-group11-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 85px;
  padding: 3.1px 5px;
}

.category-24 {
  letter-spacing: 0;
  min-height: 17px;
  width: 57px;
}

.vector-85 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.25px;
  margin-left: 9px;
  width: 8px;
}

.group-243-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 4px;
  min-width: 392px;
}

.overlap-group-66 {
  align-items: flex-start;
  background-color: var(--bg);
  display: flex;
  height: 108px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 11px 7px;
}

.overlap-group-container-9 {
  align-self: center;
  height: 76px;
  margin-left: 11px;
  position: relative;
  width: 279px;
}

.overlap-group2-42 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 279px;
}

.group-4 {
  align-items: flex-start;
  display: flex;
  height: 57px;
  left: 0;
  min-width: 279px;
  position: absolute;
  top: 19px;
}

.flex-col-6 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 260px;
}

.address-17 {
  color: transparent;
  font-weight: 500;
  min-height: 24px;
}

.span0-10 {
  color: var(--saffron);
  font-weight: 500;
}

.overlap-group-67 {
  height: 24px;
  margin-top: 2px;
  position: relative;
  width: 260px;
}

.span1-16 {
  color: var(--black);
  font-weight: 500;
}

.vector-83 {
  cursor: pointer;
  height: 31px;
  width: 17px;
}

.overlap-group1-48 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  height: 11px;
  justify-content: flex-end;
  left: 78px;
  min-width: 32px;
  padding: 0.2px 4.7px;
  position: absolute;
  top: 8px;
}

.asian-3 {
  letter-spacing: 0;
  min-height: 10px;
  width: 20px;
}

.group-244 {
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
  min-width: 392px;
}

.image-6-1 {
  height: 85px;
  object-fit: cover;
  width: 86px;
}

.overlap-group-container-10 {
  align-self: center;
  height: 76px;
  margin-left: 7px;
  position: relative;
  width: 279px;
}

.overlap-group1-49 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  height: 11px;
  justify-content: flex-end;
  left: 126px;
  min-width: 29px;
  padding: 0.2px 4.7px;
  position: absolute;
  top: 8px;
}

.meat-3 {
  letter-spacing: 0;
  min-height: 10px;
  width: 18px;
}

