.component-21-12 {
  align-items: flex-start;
  background-color: var(--bg);
  display: flex;
  height: 108px;
  left: 0;
  min-width: 390px;
  padding: 11px 11.8px;
  position: absolute;
  top: 0;
}

.image-3 {
  height: 85px;
  object-fit: cover;
  width: 81px;
}

.flex-col-6 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.0px;
  margin-left: 13px;
  min-height: 78px;
  width: 260px;
}

.a-soup-shop-1 {
  letter-spacing: 0;
  min-height: 24px;
}

.address {
  color: transparent;
  font-weight: 500;
  margin-top: 3px;
  min-height: 24px;
}

.span0-10 {
  color: var(--apple);
  font-weight: 500;
}

.span1-10 {
  letter-spacing: 0;
}

.overlap-group-16 {
  height: 24px;
  margin-top: 3px;
  position: relative;
  width: 260px;
}

.x250m-47-18-are-going {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.span1-11 {
  color: var(--black);
  font-weight: 500;
}

.star-1 {
  height: 22px;
  left: 70px;
  position: absolute;
  top: 2px;
  width: 23px;
}

.component-21-12.component-21-17 {
  left: 5px;
  top: 402px;
}

.component-21-12.component-21-18 {
  left: 8px;
  top: 445px;
}

