.iphone-13-home-suhyun-chun-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.flex-col-488 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 69px;
  min-height: 775px;
  position: relative;
  width: 390px;
}

.overlap-group-container-74 {
  align-items: flex-start;
  display: flex;
  margin-right: 6.0px;
  min-width: 364px;
}

.overlap-group11-21 {
  height: 47px;
  margin-top: 1px;
  position: relative;
  width: 34px;
}

.list-1 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 33px;
}

.vector-864 {
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.overlap-group12-6 {
  border-radius: 20px;
  height: 42px;
  margin-left: 9px;
  margin-top: 1px;
  position: relative;
  width: 276px;
}

.rectangle-15-37 {
  background-color: var(--bg);
  border-radius: 20px;
  cursor: pointer;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.icon-search-36 {
  height: 29px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 25px;
}

.overlap-group13-2 {
  height: 51px;
  margin-left: 10px;
  position: relative;
  width: 35px;
}

.my {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 37px;
}

.group-106 {
  cursor: pointer;
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.overlap-group10-41 {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 674px;
  width: 390px;
}

.bubble-container {
  align-items: flex-start;
  display: flex;
  height: 157px;
  margin-right: 4.0px;
  margin-top: 25px;
  min-width: 314px;
  position: relative;
}

.overlap-group15 {
  height: 449px;
  margin-top: 43px;
  position: relative;
  width: 390px;
}

.icon-location_pin-7 {
  height: 48px;
  left: 195px;
  position: absolute;
  top: 48px;
  width: 34px;
}

.overlap-group14 {
  height: 449px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.vector-865 {
  height: 1px;
  left: 363px;
  position: absolute;
  top: 370px;
  width: 1px;
}

.rectangle-21 {
  background-color: var(--bg);
  border-radius: 12px;
  height: 123px;
  left: 20px;
  position: absolute;
  top: 113px;
  width: 129px;
}

.vector-866 {
  cursor: pointer;
  height: 25px;
  left: 354px;
  position: absolute;
  top: 110px;
  width: 26px;
}

.vector-867 {
  cursor: pointer;
  height: 52px;
  left: 354px;
  position: absolute;
  top: 236px;
  width: 31px;
}

.text-362 {
  left: 170px;
  letter-spacing: 0;
  position: absolute;
  top: 149px;
  width: 168px;
}

.seat-left-30 {
  left: 254px;
  letter-spacing: 0;
  position: absolute;
  top: 174px;
  width: 108px;
}

.rectangle-36 {
  background-color: var(--mercury);
  height: 163px;
  left: 20px;
  position: absolute;
  top: 249px;
  width: 324px;
}

.x250m-away {
  left: 37px;
  letter-spacing: 0;
  position: absolute;
  top: 261px;
  width: 134px;
}

.image-2-51 {
  height: 123px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 129px;
}

.rectangle-54-3 {
  background-color: var(--mercury);
  height: 40px;
  left: 328px;
  position: absolute;
  top: 249px;
  width: 13px;
}

.open-1000-am-close-3 {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  top: 302px;
  width: 292px;
}

.address-115 {
  left: 183px;
  letter-spacing: 0;
  position: absolute;
  top: 207px;
}

.a-soup-shop-109 {
  left: 174px;
  letter-spacing: 0;
  position: absolute;
  top: 111px;
}

.group-107 {
  height: 96px;
  margin-left: 10px;
  margin-top: 35px;
  width: 25px;
}

