.completed-preorder-cancelmodal-11 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.overlap-group3-136 {
  height: 864px;
  margin-left: -4px;
  margin-top: -1px;
  position: relative;
  width: 395px;
}

.my-order-4 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  top: 35px;
  width: 227px;
}

.icon-close-85 {
  cursor: pointer;
  height: 30px;
  left: 345px;
  position: absolute;
  top: 46px;
  width: 30px;
}

.line-2-62 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 90px;
  width: 292px;
}

.line-3-56 {
  height: 3px;
  left: 92px;
  position: absolute;
  top: 606px;
  width: 300px;
}

.free-icon-celebration-1517746-1-20 {
  height: 204px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 117px;
  width: 204px;
}

.successfully-completed-4 {
  left: 51px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 313px;
  width: 295px;
}

.rectangle-23-8 {
  background-color: var(--bg);
  border-radius: 12px;
  height: 150px;
  left: 24px;
  position: absolute;
  top: 432px;
  width: 350px;
}

.a-soup-shop-1216pm {
  left: 7px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 449px;
  width: 384px;
}

.overlap-group-579 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 12px;
  display: flex;
  height: 40px;
  left: 204px;
  min-width: 180px;
  position: absolute;
  top: 794px;
}

.cancel-order-36,
.write-review-20 {
  letter-spacing: 0;
  min-height: 31px;
  text-align: center;
  width: 180px;
}

.overlap-group1-308 {
  align-items: flex-end;
  background-color: var(--celeste);
  border-radius: 12px;
  display: flex;
  height: 40px;
  left: 15px;
  min-width: 180px;
  position: absolute;
  top: 794px;
}

.rectangle-28-8 {
  background-color: var(--mist-gray);
  height: 864px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 391px;
}

.overlap-group2-177 {
  height: 250px;
  left: 24px;
  position: absolute;
  top: 262px;
  width: 350px;
}

.rectangle-26-8 {
  background-color: var(--white);
  border-radius: 10px;
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
}

.rectangle-24-8 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 350px;
}

.rectangle-27-133 {
  background-color: var(--bg);
  height: 20px;
  left: 0;
  position: absolute;
  top: 190px;
  width: 350px;
}

.cancel-order-37 {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 78px;
  width: 277px;
}

.icon-caution-8 {
  height: 40px;
  left: 155px;
  position: absolute;
  top: 55px;
  width: 40px;
}

.rectangle-23-9 {
  background-color: var(--orange);
  border-radius: 12px;
  height: 35px;
  left: 184px;
  position: absolute;
  top: 205px;
  width: 156px;
}

.cancel-order-38 {
  cursor: pointer;
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 150px;
}

.rectangle-27-134 {
  background-color: var(--bg);
  border-radius: 12px;
  cursor: pointer;
  height: 35px;
  left: 9px;
  position: absolute;
  top: 205px;
  width: 156px;
}

.back-to-mypage-8 {
  cursor: pointer;
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 150px;
}

