.iphone-13-13-pro-seoyoung-8 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  padding: 12px 9px;
  width: 390px;
}

.overlap-group5-199 {
  height: 200px;
  margin-right: 10.0px;
  margin-top: 43px;
  position: relative;
  width: 362px;
}

.image-2-53 {
  height: 200px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 344px;
}

.vector-878 {
  cursor: pointer;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

.overlap-group4-289 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 184px;
  padding: 8px 4.0px;
  width: 344px;
}

.a-soup-shop-114 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 22.0px;
  min-height: 39px;
  width: 168px;
}

.overlap-group9-60 {
  height: 51px;
  position: relative;
  width: 300px;
}

.text-366 {
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 138px;
}

.seat-left-37 {
  left: 134px;
  letter-spacing: 0;
  position: absolute;
  top: 14px;
  width: 126px;
}

.line-1-145 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.flex-row-612 {
  align-items: flex-end;
  display: flex;
  height: 30px;
  margin-right: 5.0px;
  margin-top: 38px;
  min-width: 306px;
}

.overlap-group8-56 {
  height: 28px;
  position: relative;
  width: 62px;
}

.x250m-6 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 62px;
}

.line-4-35 {
  height: 28px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 1px;
}

.star-1-16 {
  align-self: flex-start;
  height: 29px;
  margin-left: 2px;
  width: 30px;
}

.text-367 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 1.5px;
  margin-left: 3px;
  min-height: 23px;
  width: 68px;
}

.line-5-101 {
  height: 28px;
  margin-left: 4px;
  width: 1px;
}

.overlap-group7-80 {
  height: 29px;
  margin-left: 10px;
  position: relative;
  width: 126px;
}

.are-going-43 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 91px;
}

.number-258 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.flex-row-613 {
  align-items: center;
  display: flex;
  margin-left: 2.0px;
  margin-top: 32px;
  min-width: 338px;
}

.group-19-12 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-bottom: 1.0px;
  min-width: 78px;
}

.overlap-group-1142 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 76px;
  padding: 0 1px;
}

.menu-107 {
  letter-spacing: 0;
  min-height: 32px;
  width: 68px;
}

.group-20-29 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 11px;
  min-width: 63px;
}

.overlap-group1-663 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 3px;
}

.info-74 {
  letter-spacing: 0;
  min-height: 32px;
  width: 48px;
}

.group-21-29 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-bottom: 2.0px;
  margin-left: 14px;
  min-width: 95px;
}

.overlap-group3-467 {
  height: 34px;
  position: relative;
  width: 93px;
}

.rectangle-39-38 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.review-91 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 84px;
}

.line-19-23 {
  height: 44px;
  margin-left: 3px;
  width: 2px;
}

.overlap-group2-515 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  margin-left: 6px;
  margin-top: 1.0px;
  min-width: 64px;
  padding: 0 2.1px;
}

.map-40 {
  letter-spacing: 0;
  min-height: 32px;
  width: 55px;
}

.overlap-group6-109 {
  align-self: flex-end;
  height: 317px;
  margin-right: 1px;
  position: relative;
  width: 350px;
}

.x2022-04-18-956-1 {
  height: 266px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 341px;
}

.ellipse-1-62 {
  background-color: var(--apple);
  border-radius: 9.5px/8.5px;
  height: 17px;
  left: 92px;
  position: absolute;
  top: 122px;
  width: 19px;
}

.group-26-17 {
  align-items: center;
  background-color: var(--orange);
  border-radius: 29px;
  cursor: pointer;
  display: flex;
  height: 58px;
  left: 292px;
  min-width: 58px;
  padding: 0 13px;
  position: absolute;
  top: 259px;
}

.vector-879 {
  height: 32px;
  width: 32px;
}

