.group-49-1,
.group-49-2,
.group-49-3,
.group-49-4,
.group-49-5,
.group-49-6,
.group-49-7,
.group-49-8,
.group-49-9,
.group-49-10,
.group-49-11,
.group-49-12,
.group-49-13,
.group-49-14,
.group-49-15,
.group-49-16,
.group-49-17,
.group-49-18,
.group-49-19,
.group-49-20,
.group-49-21,
.group-49-22 {
  align-items: flex-start;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group2-3,
.overlap-group2-4,
.overlap-group2-5,
.overlap-group2-6,
.overlap-group2-7,
.overlap-group2-8,
.overlap-group2-9,
.overlap-group2-10,
.overlap-group2-11,
.overlap-group2-12,
.overlap-group2-13,
.overlap-group2-14,
.overlap-group2-15,
.overlap-group2-16,
.overlap-group2-17,
.overlap-group2-18,
.overlap-group2-19,
.overlap-group2-20,
.overlap-group2-21,
.overlap-group2-22,
.overlap-group2-23,
.overlap-group2-24 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 75px;
  padding: 3px 18px;
}

.seats-1,
.seats-2,
.seats-3,
.seats-4,
.seats-5,
.seats-6,
.seats-7,
.seats-8,
.seats-9,
.seats-10,
.seats-11,
.seats-12,
.seats-13,
.seats-14,
.seats-15,
.seats-16,
.seats-17,
.seats-18,
.seats-19,
.seats-20,
.seats-21,
.seats-22 {
  letter-spacing: 0;
  min-height: 17px;
}

