.group-49 {
  align-items: flex-start;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group2-5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 75px;
  padding: 4px 18px;
}

.seats-2 {
  letter-spacing: 0;
  min-height: 17px;
}

