.filter-list-seats-100m {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 844px;
  min-width: 390px;
  overflow: hidden;
  width: 100%;
}

.component-29-49 {
  height: 68px;
  margin-top: -2.5px;
  width: 390px;
}

.group-89-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12.5px;
  min-height: 43px;
  width: 390px;
}

.line-container-90 {
  height: 2px;
  margin-right: 0;
  position: relative;
  width: 390px;
}

.line-27-38 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.line-29-43 {
  height: 2px;
  left: 146px;
  position: absolute;
  top: 0;
  width: 107px;
}

.group-51-50 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 5px;
  min-width: 360px;
}

.group-48-58 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 87px;
}

.overlap-group-1002 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 85px;
  padding: 4.1px 6px;
}

.distance-113 {
  letter-spacing: 0;
  min-height: 18px;
  width: 58px;
}

.vector-580 {
  align-self: center;
  height: 8px;
  margin-bottom: 0.25px;
  margin-left: 7px;
  width: 8px;
}

.group-47-106 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 87px;
}

.overlap-group1-579 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 85px;
  padding: 3.1px 5px;
}

.category-148 {
  letter-spacing: 0;
  min-height: 17px;
  width: 57px;
}

.vector-581 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.25px;
  margin-left: 9px;
  width: 8px;
}

.group-49-99 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group2-446 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  min-width: 75px;
  padding: 4.1px 18px;
}

.seats-164 {
  letter-spacing: 0;
  min-height: 18px;
  width: 38px;
}

.group-50-100 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group3-384 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 75px;
  padding: 3.1px 16px;
}

.rating-120 {
  letter-spacing: 0;
  min-height: 18px;
  width: 42px;
}

.line-28-46 {
  height: 1px;
  margin-top: 8px;
  width: 390px;
}

