.iphone-13-13-pro-seoyoung-7 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  padding: 11px 14.0px;
  width: 390px;
}

.overlap-group6-32 {
  height: 201px;
  margin-right: 27.0px;
  margin-top: 43px;
  position: relative;
  width: 331px;
}

.search-29 {
  height: 26px;
  left: 287px;
  position: absolute;
  top: 0;
  width: 27px;
}

.image-2-23 {
  height: 201px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 320px;
}

.vector-192 {
  cursor: pointer;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

.overlap-group9-18 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 184px;
  padding: 8px 4.0px;
  width: 344px;
}

.a-soup-shop-53 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 22.0px;
  min-height: 39px;
  width: 168px;
}

.overlap-group13-6 {
  height: 51px;
  position: relative;
  width: 300px;
}

.text-40 {
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 138px;
}

.seat-left-17 {
  left: 134px;
  letter-spacing: 0;
  position: absolute;
  top: 14px;
  width: 126px;
}

.line-1-17 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.flex-row-107 {
  align-items: flex-end;
  display: flex;
  height: 30px;
  margin-right: 5.0px;
  margin-top: 38px;
  min-width: 306px;
}

.overlap-group11-4 {
  height: 28px;
  position: relative;
  width: 62px;
}

.x250m-5 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 62px;
}

.line-4-9 {
  height: 28px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 1px;
}

.star-1-39 {
  align-self: flex-start;
  height: 29px;
  margin-left: 2px;
  width: 30px;
}

.text-41 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 1.5px;
  margin-left: 3px;
  min-height: 23px;
  width: 68px;
}

.line-5-17 {
  height: 28px;
  margin-left: 4px;
  width: 1px;
}

.overlap-group12-6 {
  height: 29px;
  margin-left: 10px;
  position: relative;
  width: 126px;
}

.are-going-14 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 91px;
}

.number-45 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.overlap-group14-3 {
  align-self: flex-end;
  height: 363px;
  margin-top: 31px;
  position: relative;
  width: 350px;
}

.overlap-group7-34 {
  height: 362px;
  left: 8px;
  position: absolute;
  top: 1px;
  width: 342px;
}

.line-9-7 {
  height: 44px;
  left: 258px;
  position: absolute;
  top: 0;
  width: 2px;
}

.line-13-7 {
  height: 1px;
  left: 259px;
  position: absolute;
  top: 44px;
  width: 70px;
}

.line-14-7 {
  height: 266px;
  left: 325px;
  position: absolute;
  top: 44px;
  width: 2px;
}

.rectangle-52-1 {
  height: 57px;
  left: 0;
  position: absolute;
  top: 161px;
  width: 326px;
}

.user {
  height: 33px;
  left: 9px;
  position: absolute;
  top: 170px;
  width: 31px;
}

.date-1 {
  left: 248px;
  letter-spacing: 0;
  position: absolute;
  top: 189px;
  width: 65px;
}

.color-2 {
  left: 49px;
  letter-spacing: 0;
  position: absolute;
  top: 164px;
  width: 91px;
}

.star-7-1 {
  height: 22px;
  left: 48px;
  position: absolute;
  top: 185px;
  width: 24px;
}

.star-11-1 {
  height: 22px;
  left: 72px;
  position: absolute;
  top: 185px;
  width: 24px;
}

.star-12-1 {
  height: 22px;
  left: 96px;
  position: absolute;
  top: 185px;
  width: 24px;
}

.star-13 {
  height: 22px;
  left: 120px;
  position: absolute;
  top: 185px;
  width: 24px;
}

.group-26-11 {
  align-items: center;
  background-color: var(--orange);
  border-radius: 29px;
  cursor: pointer;
  display: flex;
  height: 58px;
  left: 284px;
  min-width: 58px;
  padding: 0 13px;
  position: absolute;
  top: 304px;
}

.vector-193 {
  height: 32px;
  width: 32px;
}

.line-container-5 {
  height: 311px;
  left: 0;
  position: absolute;
  top: 0;
  width: 158px;
}

.line-19-17 {
  height: 44px;
  left: 157px;
  position: absolute;
  top: 0;
  width: 2px;
}

.line-12-7 {
  height: 266px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 1px;
}

.line-18-7 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 157px;
}

.group-19-5 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 0;
  min-width: 78px;
  position: absolute;
  top: 6px;
}

.overlap-group-112 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 76px;
  padding: 0 1px;
}

.menu-19 {
  letter-spacing: 0;
  min-height: 32px;
  width: 68px;
}

.group-20-5 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 90px;
  min-width: 63px;
  position: absolute;
  top: 6px;
}

.overlap-group1-53 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 3px;
}

.info-9,
.map-11 {
  letter-spacing: 0;
  min-height: 32px;
  width: 48px;
}

.group-22-5 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 272px;
  min-width: 63px;
  position: absolute;
  top: 7px;
}

.overlap-group2-34 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 6px;
}

.overlap-group3-41 {
  height: 34px;
  left: 166px;
  position: absolute;
  top: 5px;
  width: 93px;
}

.rectangle-39-9 {
  background-color: var(--orange);
  border-radius: 10px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.review-13 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 84px;
}

.vector-194 {
  height: 23px;
  left: 238px;
  position: absolute;
  top: 59px;
  width: 39px;
}

.number-46 {
  left: 288px;
  letter-spacing: 0;
  position: absolute;
  top: 54px;
  width: 40px;
}

.overlap-group4-43 {
  height: 40px;
  left: 16px;
  position: absolute;
  top: 51px;
  width: 177px;
}

.star-14 {
  height: 22px;
  left: 144px;
  position: absolute;
  top: 13px;
  width: 24px;
}

.group-37-1 {
  align-items: center;
  display: flex;
  height: 40px;
  left: 0;
  min-width: 177px;
  position: absolute;
  top: 0;
}

.overlap-group-113 {
  align-self: flex-end;
  height: 31px;
  margin-bottom: 1px;
  position: relative;
  width: 64px;
}

.text-42 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 41px;
}

.star-2-9 {
  height: 22px;
  left: 40px;
  position: absolute;
  top: 5px;
  width: 24px;
}

.star-3-8 {
  height: 22px;
  margin-left: 1px;
  margin-top: 7.71px;
  width: 24px;
}

.star-4-8 {
  height: 22px;
  margin-left: 2px;
  margin-top: 7.71px;
  width: 24px;
}

.star-5-1 {
  height: 22px;
  margin-left: 3px;
  margin-top: 7.71px;
  width: 24px;
}

.rectangle-54-2 {
  background-color: var(--white);
  height: 40px;
  margin-left: 14px;
  width: 19px;
}

.overlap-group8-25 {
  align-items: center;
  background-color: var(--mercury-2);
  display: flex;
  height: 57px;
  left: 6px;
  min-width: 326px;
  padding: 4px 11px;
  position: absolute;
  top: 219px;
}

.icon-user-2 {
  height: 33px;
  margin-bottom: 6.0px;
  width: 31px;
}

.flex-col-70 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 48px;
  width: 264px;
}

.color-3 {
  letter-spacing: 0;
  margin-left: 1.5px;
  min-height: 20px;
  width: 94px;
}

.flex-row-108 {
  align-items: flex-start;
  display: flex;
  height: 26px;
  margin-top: 2px;
  min-width: 264px;
}

.icon-star-29 {
  height: 22px;
  width: 24px;
}

.icon-star-28 {
  height: 22px;
  margin-left: 1px;
  width: 24px;
}

.date-2 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 76px;
  min-height: 18px;
  width: 65px;
}

