.filter-main-seats-rating-200m {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.component-29-50 {
  height: 78px;
  margin-top: -2px;
  width: 390px;
}

.overlap-group7-48 {
  height: 766px;
  margin-left: -7px;
  margin-top: 2px;
  position: relative;
  width: 404px;
}

.image-1-44 {
  height: 766px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.ellipse-16-38 {
  background-color: var(--malibu-2);
  border-radius: 19px;
  height: 38px;
  left: 196px;
  position: absolute;
  top: 404px;
  width: 38px;
}

.ellipse-17-38 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 208px;
  position: absolute;
  top: 417px;
  width: 15px;
}

.polygon-2-38 {
  height: 6px;
  left: 212px;
  position: absolute;
  top: 412px;
  width: 6px;
}

.group-65-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 93px;
  position: absolute;
  top: 673px;
  width: 404px;
}

.group-container-185 {
  align-items: center;
  display: flex;
  margin-left: 22px;
  min-width: 225px;
}

.group-62-37 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  min-width: 32px;
  padding: 3px;
}

.vector-582 {
  height: 25px;
  width: 25px;
}

.group-63-45 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 108px;
  margin-top: 1.0px;
  min-width: 85px;
}

.overlap-group-1005 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 25px;
  min-width: 83px;
  padding: 6px 8px;
}

.vector-583 {
  align-self: center;
  height: 11px;
  width: 18px;
}

.see-list-38 {
  letter-spacing: 0;
  margin-left: 7px;
  min-height: 12px;
  width: 40px;
}

.group-container-186 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 50px;
  margin-top: 11px;
  min-width: 404px;
  padding: 11px 20px;
}

.group-48-59 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 87px;
}

.overlap-group-1006 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 85px;
  padding: 4px 6px;
}

.distance-114 {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 58px;
}

.vector-584 {
  align-self: center;
  height: 8px;
  margin-left: 7px;
  width: 8px;
}

.group-47-107 {
  align-items: flex-start;
  display: flex;
  margin-left: 12px;
  min-width: 87px;
}

.overlap-group1-580 {
  border-radius: 15px;
  height: 26px;
  position: relative;
  width: 85px;
}

.rectangle-81-14 {
  background-color: var(--white);
  border-radius: 15px;
  cursor: pointer;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 85px;
}

.category-149 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
}

.vector-585 {
  height: 8px;
  left: 72px;
  position: absolute;
  top: 9px;
  width: 8px;
}

.group-49-100 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group4-231 {
  background-color: var(--white);
  border-radius: 15px;
  height: 26px;
  position: relative;
  width: 75px;
}

.seats-165 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
}

.overlap-group-1003 {
  background-color: var(--white);
  border-radius: 15px;
  height: 26px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 75px;
}

.overlap-group-1004 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: -1px;
  min-width: 75px;
  padding: 4px 18px;
  position: absolute;
  top: -1px;
}

.seats-166 {
  letter-spacing: 0;
  min-height: 17px;
}

.overlap-group1-581 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  left: -1px;
  min-width: 75px;
  padding: 3px 18px;
  position: absolute;
  top: -1px;
}

.group-50-101 {
  align-items: flex-start;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group5-154 {
  border-radius: 15px;
  height: 26px;
  position: relative;
  width: 75px;
}

.rectangle-60-7 {
  background-color: var(--orange);
  border-radius: 15px;
  cursor: pointer;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.rating-121 {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
}

.ellipse-18-23 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  height: 15px;
  left: 277px;
  position: absolute;
  top: 389px;
  width: 15px;
}

.shake-shack-19 {
  left: 264px;
  letter-spacing: 0;
  position: absolute;
  top: 403px;
  width: 57px;
}

.uncles-100 {
  left: 219px;
  letter-spacing: 0;
  position: absolute;
  top: 503px;
  width: 57px;
}

.ellipse-1-35 {
  background-color: var(--apple);
  border-radius: 7.5px;
  cursor: pointer;
  height: 15px;
  left: 106px;
  position: absolute;
  top: 400px;
  width: 15px;
}

.hanam-bbq-127 {
  left: 93px;
  letter-spacing: 0;
  position: absolute;
  top: 414px;
  width: 57px;
}

.ellipse-5-18 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  cursor: pointer;
  height: 15px;
  left: 224px;
  position: absolute;
  top: 489px;
  width: 15px;
}

