.filter-list-category-rating {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 17px 0;
  width: 390px;
}

.group-234-33 {
  align-items: flex-start;
  display: flex;
  height: 53px;
  margin-left: 5.0px;
  min-width: 373px;
}

.info-container-33 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 51px;
  width: 35px;
}

.icon-information-33 {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.info-43 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 2px;
  min-height: 14px;
  min-width: 20px;
}

.overlap-group4-71 {
  border-radius: 20px;
  height: 42px;
  margin-left: 10px;
  position: relative;
  width: 272px;
}

.rectangle-15-33 {
  background-color: var(--bg);
  border-radius: 20px;
  cursor: pointer;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.icon-search-33 {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 8px;
  width: 30px;
}

.flex-col-75 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  min-height: 52px;
  width: 45px;
}

.group-43 {
  cursor: pointer;
  height: 38px;
  margin-left: 4px;
  width: 35px;
}

.my-book-37 {
  letter-spacing: 0;
  min-height: 14px;
}

.overlap-group6-31 {
  height: 44px;
  margin-left: 0;
  margin-top: 8px;
  position: relative;
  width: 390px;
}

.group-90-7 {
  display: flex;
  flex-direction: column;
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.line-27-13 {
  height: 1px;
  margin-top: -0.5px;
  width: 390px;
}

.group-51-14 {
  align-items: flex-start;
  display: flex;
  height: 26.82px;
  margin-left: 16px;
  margin-top: 6.8px;
  min-width: 360px;
  position: relative;
}

.group-47-54 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 87px;
}

.overlap-group1-189 {
  background-color: var(--white);
  border-radius: 15px;
  height: 27px;
  position: relative;
  width: 85px;
}

.category-70 {
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
  width: 57px;
}

.vector-210 {
  height: 8px;
  left: 71px;
  position: absolute;
  top: 8px;
  width: 8px;
}

.overlap-group-336 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  left: -1px;
  min-width: 85px;
  padding: 4.1px 5px;
  position: absolute;
  top: -1px;
}

.category-71 {
  letter-spacing: 0;
  min-height: 17px;
  width: 57px;
}

.vector-211 {
  align-self: center;
  height: 8px;
  margin-bottom: 0.25px;
  margin-left: 9px;
  width: 8px;
}

.group-49-52 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group2-123 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 75px;
  padding: 4.2px 18px;
}

.seats-74 {
  letter-spacing: 0;
  min-height: 18px;
  width: 38px;
}

.group-50-50 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group3-105 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  min-width: 75px;
  padding: 4.1px 16px;
}

.rating-53 {
  letter-spacing: 0;
  min-height: 18px;
  width: 42px;
}

.line-28-13 {
  height: 1px;
  margin-left: 0;
  margin-top: 8.4px;
  width: 390px;
}

.line-29-14 {
  cursor: pointer;
  height: 5px;
  left: 146px;
  position: absolute;
  top: 0;
  width: 107px;
}

.group-244-5 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  min-width: 392px;
}

.overlap-group5-45 {
  align-items: flex-start;
  background-color: var(--bg);
  display: flex;
  height: 108px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 11px 7px;
}

.image-6-15 {
  height: 85px;
  object-fit: cover;
  width: 86px;
}

.overlap-group-container-33 {
  align-self: center;
  height: 76px;
  margin-left: 7px;
  position: relative;
  width: 279px;
}

.overlap-group2-124 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 279px;
}

.group-460 {
  align-items: flex-start;
  display: flex;
  height: 57px;
  left: 0;
  min-width: 279px;
  position: absolute;
  top: 19px;
}

.flex-col-76 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 260px;
}

.address-48 {
  letter-spacing: 0;
  min-height: 24px;
}

.overlap-group-337 {
  height: 24px;
  margin-top: 2px;
  position: relative;
  width: 260px;
}

.icon-star-151 {
  height: 22px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 23px;
}

.x180m-47-18-are-going-13,
.hanam-bbq-49 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.span1-47 {
  color: var(--black);
  font-weight: 500;
}

.vector-212 {
  cursor: pointer;
  height: 31px;
  width: 17px;
}

.overlap-group1-190 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  height: 11px;
  justify-content: flex-end;
  left: 126px;
  min-width: 29px;
  padding: 0.2px 4.7px;
  position: absolute;
  top: 8px;
}

.meat-31 {
  letter-spacing: 0;
  min-height: 10px;
  width: 18px;
}

