.group-255,
.group-255-1,
.group-258,
.group-257,
.group-256,
.group-258-1,
.group-257-1,
.group-256-1,
.group-258-2,
.group-257-2,
.group-256-2,
.group-258-3,
.group-257-3,
.group-256-3,
.group-258-4,
.group-257-4,
.group-256-4,
.group-258-5,
.group-257-5,
.group-256-5 {
  align-items: flex-start;
  display: flex;
  margin-right: -5px;
  margin-top: 28px;
  min-width: 367px;
}

.well-be-in-10,
.well-be-in-11,
.well-be-in-12,
.well-be-in-13,
.well-be-in-14,
.well-be-in-15,
.well-be-in-16,
.well-be-in-17,
.well-be-in-18,
.well-be-in-19,
.well-be-in-20,
.well-be-in-21,
.well-be-in-22,
.well-be-in-23,
.well-be-in-24,
.well-be-in-25,
.well-be-in-26,
.well-be-in-27,
.well-be-in-28,
.well-be-in-29 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 129px;
}

.overlap-group1-157,
.overlap-group1-158,
.overlap-group1-159,
.overlap-group1-160,
.overlap-group1-161,
.overlap-group1-162,
.overlap-group1-163,
.overlap-group1-164,
.overlap-group1-165,
.overlap-group1-166,
.overlap-group1-167,
.overlap-group1-168,
.overlap-group1-169,
.overlap-group1-170,
.overlap-group1-171,
.overlap-group1-172,
.overlap-group1-173,
.overlap-group1-174,
.overlap-group1-175,
.overlap-group1-176 {
  height: 39px;
  margin-left: 5px;
  position: relative;
  width: 227px;
}

.group-11-13,
.group-11-14,
.group-13-9,
.group-12-1,
.group-11-15,
.group-13-10,
.group-12-2,
.group-11-16,
.group-13-11,
.group-12-3,
.group-11-17,
.group-13-12,
.group-12-4,
.group-11-18,
.group-13-13,
.group-12-5,
.group-11-19,
.group-13-14,
.group-12-6,
.group-11-20 {
  background-color: var(--bg);
  height: 30px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 134px;
}

.mins-10,
.mins-11,
.mins-12,
.mins-13,
.mins-14,
.mins-15,
.mins-16,
.mins-17,
.mins-18,
.mins-19,
.mins-20,
.mins-21,
.mins-22,
.mins-23,
.mins-24,
.mins-25,
.mins-26,
.mins-27,
.mins-28,
.mins-29 {
  left: 122px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.line-6-30,
.line-6-31,
.line-8-3,
.line-7-12,
.line-6-32,
.line-8-4,
.line-7-13,
.line-6-33,
.line-8-5,
.line-7-14,
.line-6-34,
.line-8-6,
.line-7-15,
.line-6-35,
.line-8-7,
.line-7-16,
.line-6-36,
.line-8-8,
.line-7-17,
.line-6-37 {
  height: 30px;
  left: 106px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.arrow-drop-down-10,
.arrow-drop-down-11,
.arrow-drop-down-12,
.arrow-drop-down-13,
.arrow-drop-down-14,
.arrow-drop-down-15,
.arrow-drop-down-16,
.arrow-drop-down-17,
.arrow-drop-down-18,
.arrow-drop-down-19,
.arrow-drop-down-20,
.arrow-drop-down-21,
.arrow-drop-down-22,
.arrow-drop-down-23,
.arrow-drop-down-24,
.arrow-drop-down-25,
.arrow-drop-down-26,
.arrow-drop-down-27,
.arrow-drop-down-28,
.arrow-drop-down-29 {
  height: 15px;
  left: 113px;
  position: absolute;
  top: 13px;
  width: 15px;
}

.less-than-5-2,
.less-than-5-3,
.less-than-15-3,
.less-than-10-3,
.less-than-5-4,
.less-than-15-4,
.less-than-10-4,
.less-than-5-5,
.less-than-15-5,
.less-than-10-5,
.less-than-5-6,
.less-than-15-6,
.less-than-10-6,
.less-than-5-7,
.less-than-15-7,
.less-than-10-7,
.less-than-5-8,
.less-than-15-8,
.less-than-10-8,
.less-than-5-9 {
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 100px;
}

