.shopping-cart-home-selecttime5 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 29px 0;
  width: 390px;
}

.flex-col-473 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 5.0px;
  margin-top: 14px;
  min-height: 564px;
  position: relative;
  width: 395px;
}

.group-54-13 {
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 14.0px;
  width: 127px;
}

.arrow-back-63 {
  height: 35px;
  width: 35px;
}

.menu-99 {
  height: 31px;
  letter-spacing: 0;
  margin-left: 7px;
  margin-top: 1px;
  width: 83px;
}

.line-1-137 {
  align-self: flex-start;
  height: 2px;
  margin-left: 5.0px;
  margin-top: 7px;
  width: 300px;
}

.shopping-cart-64 {
  letter-spacing: 0;
  margin-left: 12.0px;
  margin-top: 12px;
  min-height: 40px;
  width: 213px;
}

.line-2-163 {
  align-self: flex-end;
  height: 2px;
  margin-top: 28px;
  width: 300px;
}

.overlap-group-1116 {
  border-radius: 12px;
  height: 100px;
  margin-left: 7.0px;
  margin-top: 8px;
  position: relative;
  width: 350px;
}

.image-11-9 {
  height: 80px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 80px;
}

.loaded-baked-potato-soup-recipe-3-3 {
  height: 80px;
  left: 15px;
  position: absolute;
  top: 10px;
  width: 80px;
}

.group-12-50 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 14.0px;
  margin-top: 16px;
  min-width: 173px;
}

.group-11-118 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  height: 30px;
  min-width: 30px;
  padding: 0 4.5px;
}

.outline_add_black_24dp-1-62 {
  height: 21px;
  object-fit: cover;
  width: 21px;
}

.add-more-menu-63 {
  letter-spacing: 0;
  margin-left: 6px;
  min-height: 30px;
  width: 135px;
}

.flex-row-568 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 44px;
  margin-right: 0;
  margin-top: 14px;
  min-width: 264px;
}

.total-62 {
  letter-spacing: 0;
  min-height: 44px;
  width: 75px;
}

.x45600-won-4 {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 44px;
  width: 168px;
}

.line-5-93 {
  height: 2px;
  margin-right: 5.0px;
  margin-top: 9px;
  width: 390px;
}

.flex-row-569 {
  align-items: center;
  display: flex;
  height: 39px;
  margin-right: 4.0px;
  margin-top: 24px;
  min-width: 334px;
}

.we-are-102 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.group-13-88 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 2px;
  margin-top: 2.97px;
  min-width: 120px;
  position: relative;
}

.people-102 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.flex-row-570 {
  align-items: flex-start;
  display: flex;
  margin-left: 13.0px;
  margin-top: 27px;
  min-width: 361px;
}

.well-be-in-102 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 129px;
}

.overlap-group5-186 {
  height: 39px;
  margin-left: 5px;
  position: relative;
  width: 227px;
}

.overlap-group4-270 {
  align-items: flex-start;
  background-color: var(--bg);
  display: flex;
  height: 30px;
  left: 0;
  min-width: 134px;
  position: absolute;
  top: 6px;
}

.group-14-47 {
  background-color: var(--bg);
  height: 30px;
  margin-left: -1px;
  margin-top: -1px;
  width: 107px;
}

.mins-102 {
  left: 122px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.line-6-108 {
  height: 30px;
  left: 106px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.arrow-drop-down-102 {
  height: 15px;
  left: 113px;
  position: absolute;
  top: 14px;
  width: 15px;
}

.select-78 {
  left: 32px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 51px;
}

.less-than-5-29 {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 81px;
}

.group-28-84 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 4.0px;
  margin-top: 29px;
  min-width: 318px;
}

.overlap-group-1117 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 12px;
  display: flex;
  height: 50px;
  min-width: 316px;
  padding: 9px 21px;
}

.complete-pre-order-62 {
  letter-spacing: 0;
  min-height: 31px;
  text-align: center;
  width: 274px;
}

