.component-37-13 {
  align-items: flex-start;
  display: flex;
  margin-right: 3.0px;
  margin-top: 48px;
  min-width: 303px;
}

.flex-col-393 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  min-height: 74px;
  width: 30px;
}

.rectangle-104-36 {
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.rectangle-105-37 {
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  margin-top: 14px;
  width: 30px;
}

.overlap-group2-331 {
  height: 86px;
  margin-left: 29px;
  margin-top: -1px;
  position: relative;
  width: 244px;
}

.sprite-99 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
  width: 193px;
}

.coke-99 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 201px;
}

.text-86 {
  left: 175px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 69px;
}

.text-87 {
  left: 175px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
  width: 69px;
}

.component-37-13.component-37-14,
.component-37-13.component-36,
.component-37-13.component-36-1,
.component-37-13.component-36-3,
.component-37-13.component-36-4,
.component-37-13.component-36-5,
.component-37-13.component-37-20,
.component-37-13.component-37-22,
.component-37-13.component-36-6,
.component-37-13.component-36-7,
.component-37-13.component-36-9,
.component-37-13.component-36-11,
.component-37-13.component-36-12,
.component-37-13.component-36-13,
.component-37-13.component-36-14,
.component-37-13.component-36-15,
.component-37-13.component-36-16,
.component-37-13.component-36-17,
.component-37-13.component-37-23,
.component-37-13.component-37-24,
.component-37-13.component-36-19,
.component-37-13.component-36-20,
.component-37-13.component-36-21,
.component-37-13.component-36-22,
.component-37-13.component-36-23 {
  margin-left: 23.0px;
  margin-right: unset;
}

.component-37-13.component-37-14 .flex-col-393,
.component-37-13.component-37-16 .flex-col-393,
.component-37-13.component-37-22 .flex-col-393,
.component-37-13.component-37-23 .flex-col-393 {
  margin-left: -1px;
  margin-top: 2px;
  min-height: 75px;
  width: 32px;
}

.component-37-13.component-37-14 .rectangle-104-36,
.component-37-13.component-37-16 .rectangle-104-36,
.component-37-13.component-37-22 .rectangle-104-36,
.component-37-13.component-37-23 .rectangle-104-36 {
  height: 32px;
  width: 32px;
}

.component-37-13.component-37-14 .rectangle-105-37,
.component-37-13.component-37-16 .rectangle-105-37,
.component-37-13.component-37-22 .rectangle-105-37,
.component-37-13.component-37-23 .rectangle-105-37 {
  margin-left: 1px;
  margin-top: 13px;
}

.component-37-13.component-37-14 .overlap-group2-331,
.component-37-13.component-37-16 .overlap-group2-331,
.component-37-13.component-37-22 .overlap-group2-331,
.component-37-13.component-37-23 .overlap-group2-331 {
  margin-left: 28px;
}

.component-37-13.component-37-16 {
  margin-right: 1.0px;
  margin-top: 37px;
}

.component-37-13.component-37-18,
.component-37-13.component-37-21 {
  margin-left: 11.0px;
  margin-right: unset;
}

