.hanam-details-menu1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  width: 390px;
}

.overlap-group4-76 {
  height: 439px;
  position: relative;
  width: 390px;
}

.group-439 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 317px;
  left: 0;
  min-width: 390px;
  padding: 11px 9px;
  position: absolute;
  top: 0;
}

.vector-222 {
  cursor: pointer;
  height: 25px;
  width: 36px;
}

.rectangle-38-7 {
  height: 184px;
  left: 23px;
  position: absolute;
  top: 255px;
  width: 344px;
}

.are-going-10 {
  left: 267px;
  letter-spacing: 0;
  position: absolute;
  top: 394px;
  width: 91px;
}

.text-28 {
  left: 130px;
  letter-spacing: 0;
  position: absolute;
  top: 302px;
  width: 138px;
}

.seat-left-9 {
  left: 197px;
  letter-spacing: 0;
  position: absolute;
  top: 316px;
  width: 126px;
}

.line-1-46 {
  height: 2px;
  left: 63px;
  position: absolute;
  top: 302px;
  width: 300px;
}

.hanam-bbq-53 {
  left: 122px;
  letter-spacing: 0;
  position: absolute;
  top: 263px;
  width: 168px;
}

.x180m-3 {
  left: 52px;
  letter-spacing: 0;
  position: absolute;
  top: 393px;
  width: 62px;
}

.line-4-7 {
  height: 28px;
  left: 106px;
  position: absolute;
  top: 393px;
  width: 1px;
}

.line-5-7 {
  height: 28px;
  left: 222px;
  position: absolute;
  top: 393px;
  width: 1px;
}

.text-29 {
  left: 150px;
  letter-spacing: 0;
  position: absolute;
  top: 394px;
  width: 68px;
}

.number-125 {
  left: 232px;
  letter-spacing: 0;
  position: absolute;
  top: 392px;
  width: 43px;
}

.icon-star-161 {
  height: 29px;
  left: 114px;
  position: absolute;
  top: 392px;
  width: 30px;
}

.overlap-group7-24 {
  height: 354px;
  margin-left: 16.5px;
  margin-top: 32px;
  position: relative;
  width: 354px;
}

.overlap-group-361 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 0;
  min-width: 76px;
  padding: 0 1px;
  position: absolute;
  top: 5px;
}

.menu-10 {
  letter-spacing: 0;
  min-height: 32px;
  width: 68px;
}

.group-container-48 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 89px;
  min-width: 246px;
  position: absolute;
  top: 4px;
}

.group-20-7 {
  align-items: flex-start;
  align-self: center;
  cursor: pointer;
  display: flex;
  min-width: 63px;
}

.overlap-group1-206 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 3px;
}

.info-46,
.map-10 {
  letter-spacing: 0;
  min-height: 32px;
  width: 48px;
}

.group-21-7 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 14px;
  min-width: 95px;
}

.overlap-group3-111 {
  height: 34px;
  position: relative;
  width: 93px;
}

.rectangle-39-10 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.review-23 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 84px;
}

.group-22-7 {
  align-items: flex-start;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  margin-left: 11px;
  min-width: 63px;
}

.overlap-group2-133 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 6px;
}

.overlap-group9-18 {
  height: 0px;
  left: 0;
  position: absolute;
  top: 0;
  width: 354px;
}

.overlap-group8-17 {
  height: 310px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 354px;
}

.pork-belly {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 28px;
  width: 190px;
}

.pork-neck {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 110px;
  width: 190px;
}

.pork-lib {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 192px;
  width: 190px;
}

.line-container-31 {
  height: 241px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.line-12-7 {
  height: 241px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-15-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 82px;
  width: 300px;
}

.line-16-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 164px;
  width: 300px;
}

.overlap-group6-32 {
  height: 310px;
  left: 81px;
  position: absolute;
  top: 0;
  width: 272px;
}

.line-13-7 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 255px;
}

.line-14-7 {
  height: 241px;
  left: 250px;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-281 {
  background-color: var(--orange);
  border-radius: 35px;
  cursor: pointer;
  display: flex;
  height: 70px;
  left: 202px;
  position: absolute;
  top: 240px;
  width: 70px;
}

.kakao-talk_-photo_2022-05-30-21-08-42-1-10 {
  height: 50px;
  margin-left: 10px;
  margin-top: 13px;
  object-fit: cover;
  width: 50px;
}

.line-9-7 {
  height: 44px;
  left: 80px;
  position: absolute;
  top: 0;
  width: 2px;
}

