.search-map {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.flex-row-61 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  margin-right: 7px;
  margin-top: 45px;
  min-width: 362px;
}

.overlap-group1-38 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 20px;
  display: flex;
  height: 42px;
  margin-top: 1px;
  min-width: 309px;
  padding: 4px 16px;
}

.search-13 {
  align-self: flex-end;
  height: 29px;
  width: 25px;
}

.hanam-bbq-14 {
  color: var(--black);
  font-weight: 500;
  margin-left: 14px;
  margin-top: 2.0px;
  min-height: 24px;
  min-width: 115px;
}

.vector-66 {
  cursor: pointer;
  height: 20px;
  margin-left: 103px;
  margin-top: 2.0px;
  width: 20px;
}

.flex-col-51 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 52px;
  width: 48px;
}

.group-18 {
  cursor: pointer;
  height: 38px;
  margin-right: 3.0px;
  width: 35px;
}

.my-order-12 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 48px;
}

.flex-row-62 {
  align-items: flex-start;
  display: flex;
  margin-right: -160.75px;
  margin-top: 7px;
  min-width: 555px;
}

.overlap-group2-18 {
  height: 744px;
  position: relative;
  width: 402px;
}

.image-1-4 {
  height: 740px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.vector-67 {
  height: 48px;
  left: 134px;
  position: absolute;
  top: 180px;
  width: 34px;
}

.ellipse-1-4 {
  background-color: var(--apple);
  border-radius: 7.5px;
  height: 15px;
  left: 143px;
  position: absolute;
  top: 229px;
  width: 15px;
}

.ellipse-2-4 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 199px;
  position: absolute;
  top: 168px;
  width: 15px;
}

.ellipse-3-4 {
  background-color: var(--spicy-pink);
  border-radius: 7.5px;
  height: 15px;
  left: 222px;
  position: absolute;
  top: 121px;
  width: 15px;
}

.ellipse-4-4 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  height: 15px;
  left: 196px;
  position: absolute;
  top: 230px;
  width: 15px;
}

.ellipse-9-6 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 47px;
  position: absolute;
  top: 386px;
  width: 15px;
}

.ellipse-10-6 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  height: 15px;
  left: 78px;
  position: absolute;
  top: 401px;
  width: 15px;
}

.ellipse-11-6 {
  background-color: var(--apple);
  border-radius: 7.5px;
  height: 15px;
  left: 184px;
  position: absolute;
  top: 503px;
  width: 15px;
}

.ellipse-5-4 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  height: 15px;
  left: 47px;
  position: absolute;
  top: 176px;
  width: 15px;
}

.ellipse-6-4 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 298px;
  position: absolute;
  top: 193px;
  width: 15px;
}

.ellipse-7-6 {
  background-color: var(--apple);
  border-radius: 7.5px;
  height: 15px;
  left: 317px;
  position: absolute;
  top: 213px;
  width: 15px;
}

.ellipse-8-4 {
  background-color: var(--spicy-pink);
  border-radius: 7.5px;
  height: 15px;
  left: 298px;
  position: absolute;
  top: 336px;
  width: 15px;
}

.vector-68 {
  height: 1px;
  left: 367px;
  position: absolute;
  top: 609px;
  width: 1px;
}

.rectangle-68-2 {
  background-color: var(--white);
  height: 328px;
  left: 0;
  position: absolute;
  top: 416px;
  width: 402px;
}

.rectangle-72-1 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 333px;
  position: absolute;
  top: 452px;
  width: 27px;
}

.meat-6 {
  left: 338px;
  letter-spacing: 0;
  position: absolute;
  top: 451px;
}

.rectangle-69-5 {
  background-color: var(--bg);
  border-radius: 12px;
  height: 123px;
  left: 25px;
  position: absolute;
  top: 435px;
  width: 129px;
}

.vector-69 {
  height: 15px;
  left: 367px;
  position: absolute;
  top: 427px;
  width: 15px;
}

.vector-70 {
  cursor: pointer;
  height: 52px;
  left: 357px;
  position: absolute;
  top: 534px;
  width: 31px;
}

.text-19 {
  left: 174px;
  letter-spacing: 0;
  position: absolute;
  top: 471px;
  width: 168px;
}

.seat-left-5 {
  left: 255px;
  letter-spacing: 0;
  position: absolute;
  top: 497px;
  width: 108px;
}

.rectangle-70-2 {
  background-color: var(--mercury);
  height: 147px;
  left: 25px;
  position: absolute;
  top: 576px;
  width: 324px;
}

.x180m-away-1 {
  left: 42px;
  letter-spacing: 0;
  position: absolute;
  top: 589px;
  width: 134px;
}

.image-5 {
  height: 137px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 432px;
  width: 129px;
}

.image-6-5 {
  height: 122px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 437px;
  width: 130px;
}

.rectangle-71-2 {
  background-color: var(--mercury);
  height: 40px;
  left: 334px;
  position: absolute;
  top: 586px;
  width: 13px;
}

.open-1000-am-close-1 {
  left: 40px;
  letter-spacing: 0;
  position: absolute;
  top: 621px;
  width: 292px;
}

.address-17 {
  left: 184px;
  letter-spacing: 0;
  position: absolute;
  top: 537px;
}

.hanam-bbq-15 {
  left: 179px;
  letter-spacing: 0;
  position: absolute;
  top: 434px;
}

.rectangle-29-9 {
  height: 1px;
  margin-left: 152px;
  margin-top: 184.75px;
  width: 1px;
}

