.filter-list-seats {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 11.5px 0;
  width: 390px;
}

.flex-row-76 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  margin-right: 7px;
  margin-top: 34px;
  min-width: 362px;
}

.overlap-group7-24 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 20px;
  display: flex;
  height: 42px;
  margin-top: 1px;
  min-width: 309px;
  padding: 4px 16px;
}

.search-22 {
  height: 29px;
  width: 25px;
}

.flex-col-58 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 52px;
  width: 48px;
}

.group-39 {
  cursor: pointer;
  height: 38px;
  margin-right: 3.0px;
  width: 35px;
}

.my-order-20 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 48px;
}

.flex-row-77 {
  align-items: center;
  display: flex;
  height: 727px;
  margin-right: -160.75px;
  margin-top: 8px;
  min-width: 559px;
}

.flex-col-59 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 727px;
  width: 419px;
}

.line-27-10 {
  height: 1px;
  margin-right: 13.0px;
  width: 390px;
}

.overlap-group6-22 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 726px;
  padding: 0 7.0px;
  width: 419px;
}

.line-29-11 {
  height: 2px;
  margin-right: 6.0px;
  margin-top: -1px;
  width: 107px;
}

.overlap-group-container-12 {
  align-items: flex-start;
  display: flex;
  margin-right: 17.0px;
  margin-top: 7px;
  min-width: 360px;
}

.overlap-group14-1 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 85px;
  padding: 3.0px 6px;
}

.distance-14 {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 58px;
}

.vector-132 {
  align-self: center;
  height: 8px;
  margin-left: 7px;
  width: 8px;
}

.overlap-group13-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  margin-left: 16px;
  min-width: 85px;
  padding: 2.0px 5px;
}

.category-15 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 57px;
}

.vector-133 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.0px;
  margin-left: 9px;
  width: 8px;
}

.overlap-group16-3 {
  border-radius: 15px;
  height: 26px;
  margin-left: 11px;
  position: relative;
  width: 74px;
}

.rectangle-33-7 {
  background-color: var(--orange);
  border-radius: 15px;
  cursor: pointer;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 74px;
}

.seats-14 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
}

.overlap-group8-16 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  margin-left: 17px;
  min-width: 72px;
  padding: 2.0px 15px;
}

.rating-14 {
  letter-spacing: 0;
  min-height: 17px;
}

.line-28-6 {
  height: 1px;
  margin-right: 15.0px;
  margin-top: 7px;
  width: 390px;
}

.overlap-group15-2 {
  height: 108px;
  margin-right: 13.0px;
  margin-top: 2px;
  position: relative;
  width: 390px;
}

.image-6-10 {
  height: 85px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 86px;
}

.rectangle-69-10 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 239px;
  position: absolute;
  top: 27px;
  width: 27px;
}

.meat-12 {
  left: 244px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.vector-134 {
  cursor: pointer;
  height: 31px;
  left: 369px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.overlap-group1-44 {
  height: 108px;
  margin-right: 13.0px;
  margin-top: 5px;
  position: relative;
  width: 390px;
}

.rectangle-96 {
  background-color: var(--white);
  height: 85px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 85px;
}

.rectangle-97 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 215px;
  position: absolute;
  top: 25px;
  width: 41px;
}

.language-10 {
  left: 220px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

.rectangle-3 {
  background-color: var(--white);
  height: 85px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 85px;
}

.vector-131 {
  height: 31px;
  left: 367px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.x1-21,
.x1-22,
.x1-23,
.x1-24 {
  height: 85px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 85px;
}

.vector-135 {
  height: 31px;
  left: 367px;
  position: absolute;
  top: 31px;
  width: 17px;
}

.address-23 {
  color: transparent;
  font-weight: 500;
  left: 106px;
  position: absolute;
  top: 41px;
}

.span0-48 {
  color: var(--saffron);
  font-weight: 500;
}

.span1-93 {
  letter-spacing: 0;
}

.rectangle-66-5 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 236px;
  position: absolute;
  top: 25px;
  width: 39px;
}

.fastfood-8 {
  left: 241px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

.overlap-group9-13 {
  height: 108px;
  margin-right: 13.0px;
  margin-top: 6px;
  position: relative;
  width: 390px;
}

.rectangle-92 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 182px;
  position: absolute;
  top: 25px;
  width: 28px;
}

.asian-8 {
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

.rectangle-32-4 {
  background-color: var(--white);
  height: 85px;
  left: 8px;
  position: absolute;
  top: 12px;
  width: 85px;
}

.vector-136 {
  height: 31px;
  left: 369px;
  position: absolute;
  top: 39px;
  width: 17px;
}

.bhc-1-4 {
  height: 85px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 85px;
}

.rectangle-95 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 157px;
  position: absolute;
  top: 25px;
  width: 38px;
}

.place-5 {
  left: 162px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

.vector-137 {
  height: 1px;
  left: 363px;
  position: absolute;
  top: 87px;
  width: 1px;
}

.rectangle-93 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 289px;
  position: absolute;
  top: 25px;
  width: 39px;
}

.western-6 {
  left: 294px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
}

.vector-138 {
  height: 31px;
  left: 369px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.rectangle-29-20 {
  height: 1px;
  margin-bottom: 359.5px;
  margin-left: 139px;
  width: 1px;
}

