.yool-bi-pilteo-gyeolgwa-eobseul-ddae {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  padding: 10px 0;
  position: relative;
  width: 390px;
}

.flex-row-606 {
  align-items: center;
  display: flex;
  margin-left: 3.0px;
  margin-top: 26px;
  min-width: 367px;
}

.overlap-group17 {
  height: 56px;
  position: relative;
  width: 38px;
}

.map-37 {
  cursor: pointer;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 38px;
}

.map-38 {
  cursor: pointer;
  left: 7px;
  letter-spacing: 0;
  position: absolute;
  top: 41px;
}

.overlap-group12-7 {
  border-radius: 20px;
  height: 42px;
  margin-bottom: 2.0px;
  margin-left: 5px;
  position: relative;
  width: 276px;
}

.rectangle-15-38 {
  background-color: var(--bg);
  border-radius: 20px;
  cursor: pointer;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.icon-search-37 {
  height: 29px;
  left: 14px;
  position: absolute;
  top: 7px;
  width: 25px;
}

.flex-col-489 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  min-height: 56px;
  width: 39px;
}

.group-109 {
  cursor: pointer;
  height: 38px;
  width: 35px;
}

.orders {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 15px;
}

.overlap-group13-3 {
  height: 108px;
  margin-top: 15px;
  position: relative;
  width: 390px;
}

.vector-871 {
  height: 31px;
  left: 367px;
  position: absolute;
  top: 31px;
  width: 17px;
}

.address-116 {
  color: transparent;
  font-weight: 500;
  left: 106px;
  position: absolute;
  top: 41px;
}

.span0-113 {
  color: var(--saffron);
  font-weight: 500;
}

.span1-261 {
  letter-spacing: 0;
}

.rectangle-16 {
  background-color: var(--white);
  height: 85px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 85px;
}

.vector-872 {
  height: 80px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 80px;
}

.overlap-group1-660 {
  height: 108px;
  margin-top: 6px;
  position: relative;
  width: 390px;
}

.vector-868 {
  height: 31px;
  left: 367px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.vector-873 {
  height: 80px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 80px;
}

.rectangle-29-51 {
  background-color: var(--white);
  height: 85px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 85px;
}

.vector-869 {
  height: 80px;
  left: 13px;
  position: absolute;
  top: 11px;
  width: 80px;
}

.vector-870 {
  height: 31px;
  left: 369px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.rectangle-32-1 {
  background-color: var(--white);
  height: 85px;
  left: 8px;
  position: absolute;
  top: 12px;
  width: 85px;
}

.vector-874 {
  height: 80px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 80px;
}

.vector-875 {
  height: 31px;
  left: 369px;
  position: absolute;
  top: 39px;
  width: 17px;
}

