.filter-main-rating-200m {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.component-29-68 {
  height: 78px;
  margin-top: -2px;
  width: 390px;
}

.overlap-group5-166 {
  height: 766px;
  margin-left: -7px;
  margin-top: 2px;
  position: relative;
  width: 404px;
}

.image-1-52 {
  height: 766px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.ellipse-16-46 {
  background-color: var(--malibu-2);
  border-radius: 19px;
  height: 38px;
  left: 196px;
  position: absolute;
  top: 404px;
  width: 38px;
}

.ellipse-17-46 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 208px;
  position: absolute;
  top: 417px;
  width: 15px;
}

.polygon-2-46 {
  height: 6px;
  left: 212px;
  position: absolute;
  top: 412px;
  width: 6px;
}

.group-65-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 93px;
  position: absolute;
  top: 673px;
  width: 404px;
}

.group-container-207 {
  align-items: center;
  display: flex;
  margin-left: 22px;
  min-width: 225px;
}

.group-62-45 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  min-width: 32px;
  padding: 3px;
}

.vector-689 {
  height: 25px;
  width: 25px;
}

.group-63-53 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 108px;
  margin-top: 1.0px;
  min-width: 85px;
}

.overlap-group-1061 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 25px;
  min-width: 83px;
  padding: 6px 8px;
}

.vector-690 {
  align-self: center;
  height: 11px;
  width: 18px;
}

.see-list-46 {
  letter-spacing: 0;
  margin-left: 7px;
  min-height: 12px;
  width: 40px;
}

.group-container-208 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 50px;
  margin-top: 11px;
  min-width: 404px;
  padding: 11px 20px;
  position: relative;
}

.group-48-68 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 87px;
}

.overlap-group-1062 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 85px;
  padding: 4px 6px;
}

.distance-127 {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 58px;
}

.vector-691 {
  align-self: center;
  height: 8px;
  margin-left: 7px;
  width: 8px;
}

.group-47-125 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 87px;
}

.overlap-group1-610 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 85px;
  padding: 3px 5px;
}

.category-177 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 57px;
}

.vector-692 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.0px;
  margin-left: 9px;
  width: 8px;
}

.group-50-115 {
  align-items: flex-start;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group3-422 {
  border-radius: 15px;
  height: 26px;
  position: relative;
  width: 75px;
}

.rectangle-60-11 {
  background-color: var(--orange);
  border-radius: 15px;
  cursor: pointer;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.rating-143 {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
}

.ellipse-18-28 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  height: 15px;
  left: 277px;
  position: absolute;
  top: 389px;
  width: 15px;
}

.shake-shack-24 {
  left: 264px;
  letter-spacing: 0;
  position: absolute;
  top: 403px;
  width: 57px;
}

.uncles-112 {
  left: 219px;
  letter-spacing: 0;
  position: absolute;
  top: 503px;
  width: 57px;
}

.ellipse-1-41 {
  background-color: var(--apple);
  border-radius: 7.5px;
  cursor: pointer;
  height: 15px;
  left: 106px;
  position: absolute;
  top: 400px;
  width: 15px;
}

.hanam-bbq-138 {
  left: 93px;
  letter-spacing: 0;
  position: absolute;
  top: 414px;
  width: 57px;
}

.ellipse-5-23 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  cursor: pointer;
  height: 15px;
  left: 224px;
  position: absolute;
  top: 489px;
  width: 15px;
}

