.rectangle-28-13 {
  background-color: var(--mist-gray);
  height: 864px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 390px;
}

.rectangle-28-13.rectangle-20 {
  background-color: var(--white);
  height: 353px;
  left: 0;
  top: 96px;
}

