.menu-detail3-porklib {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 9px 0;
  position: relative;
  width: 390px;
}

.flex-row-9 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 39px;
  margin-left: 6px;
  margin-top: 25px;
  min-width: 311px;
}

.vector-16 {
  cursor: pointer;
  height: 25px;
  margin-top: 2.0px;
  width: 36px;
}

.hanam-bbq-2 {
  letter-spacing: 0;
  margin-left: 18px;
  min-height: 39px;
  width: 257px;
}

.loaded-baked-potato-soup-recipe-3-4 {
  height: 238px;
  margin-top: 7px;
  width: 390px;
}

.add-side-menu-2 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 42px;
  margin-top: 17px;
  min-height: 37px;
  text-decoration: underline;
  width: 217px;
}

.overlap-group5-4 {
  height: 48px;
  margin-right: 2.49px;
  margin-top: 22px;
  position: relative;
  width: 389px;
}

.overlap-group4-6 {
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 389px;
}

.line-19-2 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 389px;
}

.quantity-2 {
  left: 80px;
  letter-spacing: 0;
  position: absolute;
  top: 13px;
  width: 112px;
}

.overlap-group2-4 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 5px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 238px;
  min-width: 52px;
  padding: 0 13px;
  position: absolute;
  top: 14px;
}

.number-4 {
  letter-spacing: 0;
  min-height: 26px;
  width: 17px;
}

