.group-307 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  left: 176px;
  min-width: 169px;
  position: absolute;
  top: 615px;
}

.overlap-group-97 {
  align-self: flex-end;
  height: 31px;
  position: relative;
  width: 61px;
}

.text-22 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 41px;
}

.icon-star-88 {
  height: 22px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 24px;
}

.icon-star-89 {
  height: 22px;
  margin-left: 1px;
  margin-top: 1px;
  width: 24px;
}

.icon-star-90 {
  height: 22px;
  margin-left: 2px;
  margin-top: 1px;
  width: 24px;
}

.icon-star-86 {
  height: 22px;
  margin-left: 3px;
  margin-top: 1px;
  width: 24px;
}

.group-307.group-291 {
  top: 173px;
}

