.component-21 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 299px;
  min-width: 26px;
  position: absolute;
  top: 739px;
}

.overlap-group1-1 {
  height: 41px;
  margin-top: -1px;
  position: relative;
  width: 26px;
}

.rectangle-50 {
  background-color: var(--bg);
  border-radius: 5px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 26px;
}

.plus {
  left: 4px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.component-21.component-21-1 {
  left: 301px;
  top: 7px;
}

.component-21.component-21-2,
.component-21.component-21-7 {
  left: 300px;
  top: 7px;
}

.component-21.component-21-3,
.component-21.component-21-9 {
  left: 300px;
}

.component-21.component-21-4,
.component-21.component-21-5,
.component-21.component-21-8 {
  top: 7px;
}

.component-21.component-21-10,
.component-21.component-21-11 {
  top: 6px;
}

