.component-21-45 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 299px;
  min-width: 26px;
  position: absolute;
  top: 739px;
}

.overlap-group1-631 {
  height: 41px;
  margin-top: -1px;
  position: relative;
  width: 26px;
}

.rectangle-50 {
  background-color: var(--bg);
  border-radius: 5px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 26px;
}

.plus {
  left: 4px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.component-21-45.component-21-46 {
  left: 301px;
  top: 7px;
}

.component-21-45.component-21-47,
.component-21-45.component-21-52 {
  left: 300px;
  top: 7px;
}

.component-21-45.component-21-48,
.component-21-45.component-21-54 {
  left: 300px;
}

.component-21-45.component-21-49,
.component-21-45.component-21-50,
.component-21-45.component-21-53 {
  top: 7px;
}

.component-21-45.component-21-55,
.component-21-45.component-21-56 {
  top: 6px;
}

