.iphone-13-13-pro-seoyoung-5 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 9px 0;
  position: relative;
  width: 390px;
}

.flex-row-605 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 39px;
  margin-left: 11px;
  margin-top: 31px;
  min-width: 321px;
}

.vector-863 {
  cursor: pointer;
  height: 25px;
  margin-top: 3px;
  width: 36px;
}

.a-soup-shop-108 {
  letter-spacing: 0;
  margin-left: 28px;
  min-height: 39px;
  width: 257px;
}

.line-7-51 {
  align-self: flex-start;
  height: 2px;
  margin-left: 3.0px;
  margin-top: 6px;
  width: 300px;
}

.image-4 {
  height: 215px;
  margin-right: 12.0px;
  margin-top: 5px;
  object-fit: cover;
  width: 320px;
}

.line-18-10 {
  align-self: flex-end;
  height: 2px;
  margin-right: 0;
  margin-top: 12px;
  width: 320px;
}

.add-side-menu-10 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 42px;
  margin-top: 17px;
  min-height: 37px;
  text-decoration: underline;
  width: 217px;
}

.overlap-group5-196 {
  height: 47px;
  margin-left: 0;
  margin-top: 23px;
  position: relative;
  width: 390px;
}

.overlap-group4-284 {
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.line-19-22 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 390px;
}

.quantity-10 {
  left: 79px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
  width: 112px;
}

.overlap-group2-512 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 5px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 237px;
  min-width: 52px;
  padding: 0 13px;
  position: absolute;
  top: 13px;
}

.number-255 {
  letter-spacing: 0;
  min-height: 26px;
  width: 17px;
}

.group-25-136 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 2.0px;
  margin-top: 4px;
  min-width: 338px;
}

.overlap-group3-464 {
  align-items: center;
  background-color: var(--orange);
  border-radius: 12px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  min-width: 334px;
  padding: 2.8px 5px;
}

.add-to-cart-142 {
  letter-spacing: 0;
  min-height: 26px;
  width: 150px;
}

.text-361 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 25px;
  min-height: 20px;
  width: 62px;
}

