.menu-detail1-tomahawk-both-3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 42px 0;
  position: relative;
  width: 390px;
}

.flex-row-440 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 39px;
  margin-left: 6px;
  margin-top: 3px;
  min-width: 311px;
}

.vector-300 {
  cursor: pointer;
  height: 25px;
  margin-top: 2.0px;
  width: 36px;
}

.uncles-61 {
  letter-spacing: 0;
  margin-left: 18px;
  min-height: 39px;
  width: 257px;
}

.overlap-group4-182 {
  align-self: flex-end;
  height: 418px;
  margin-right: -8.1px;
  margin-top: 25px;
  position: relative;
  width: 390px;
}

.image-18-2 {
  height: 301px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.overlap-group3-240 {
  height: 86px;
  margin-left: 23.0px;
  margin-top: 48px;
  position: relative;
  width: 303px;
}

.icon-check_mark-83 {
  cursor: pointer;
  height: 25px;
  left: 3px;
  position: absolute;
  top: 5px;
  width: 27px;
}

.line-20-36 {
  height: 2px;
  margin-left: 0.01px;
  margin-top: 20px;
  width: 390px;
}

