.group-17 {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 107px;
}

.line-6-3 {
  height: 1px;
  margin-left: 0;
  margin-top: 29.5px;
  width: 107px;
}

.line {
  height: 1px;
  margin-left: 0;
  margin-top: 29px;
  width: 107px;
}

.group-17.group-17-1 {
  align-items: flex-start;
  height: unset;
  min-height: 120px;
  padding: 28.5px 0;
}

.group-17.group-17-1 .line-6-3 {
  margin-left: -1.0px;
  margin-top: unset;
}

.group-17.group-17-1 .line {
  margin-left: -1.0px;
}

.group-17.group-17-1 .line.variant-1 {
  height: 1px;
  margin-top: 29px;
  width: 107px;
}

