.select-restaurant-2 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.flex-row-88 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  margin-right: 7px;
  margin-top: 45px;
  min-width: 362px;
}

.overlap-group2-26 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 20px;
  display: flex;
  height: 42px;
  margin-top: 1px;
  min-width: 309px;
  padding: 4px 16px;
}

.search-25 {
  height: 29px;
  width: 25px;
}

.flex-col-63 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 52px;
  width: 48px;
}

.group-43 {
  cursor: pointer;
  height: 38px;
  margin-right: 3.0px;
  width: 35px;
}

.my-order-23 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 48px;
}

.flex-row-89 {
  align-items: flex-start;
  display: flex;
  margin-right: -160.75px;
  margin-top: 8px;
  min-width: 555px;
}

.overlap-group1-46 {
  height: 743px;
  position: relative;
  width: 402px;
}

.image-1-10 {
  cursor: pointer;
  height: 421px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.vector-157 {
  height: 48px;
  left: 213px;
  position: absolute;
  top: 72px;
  width: 34px;
}

.ellipse-1-10 {
  background-color: var(--apple);
  border-radius: 7.5px;
  height: 15px;
  left: 143px;
  position: absolute;
  top: 228px;
  width: 15px;
}

.ellipse-2-10 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 199px;
  position: absolute;
  top: 167px;
  width: 15px;
}

.ellipse-3-10 {
  background-color: var(--spicy-pink);
  border-radius: 7.5px;
  height: 15px;
  left: 222px;
  position: absolute;
  top: 120px;
  width: 15px;
}

.ellipse-4-10 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  height: 15px;
  left: 196px;
  position: absolute;
  top: 229px;
  width: 15px;
}

.ellipse-9-12 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 47px;
  position: absolute;
  top: 385px;
  width: 15px;
}

.ellipse-10-12 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  height: 15px;
  left: 78px;
  position: absolute;
  top: 400px;
  width: 15px;
}

.ellipse-11-12 {
  background-color: var(--apple);
  border-radius: 7.5px;
  height: 15px;
  left: 184px;
  position: absolute;
  top: 502px;
  width: 15px;
}

.ellipse-5-10 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  height: 15px;
  left: 47px;
  position: absolute;
  top: 175px;
  width: 15px;
}

.ellipse-6-10 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 298px;
  position: absolute;
  top: 192px;
  width: 15px;
}

.ellipse-7-13 {
  background-color: var(--apple);
  border-radius: 7.5px;
  height: 15px;
  left: 317px;
  position: absolute;
  top: 212px;
  width: 15px;
}

.ellipse-8-10 {
  background-color: var(--spicy-pink);
  border-radius: 7.5px;
  height: 15px;
  left: 298px;
  position: absolute;
  top: 335px;
  width: 15px;
}

.vector-158 {
  height: 1px;
  left: 367px;
  position: absolute;
  top: 608px;
  width: 1px;
}

.rectangle-68-8 {
  background-color: var(--white);
  height: 328px;
  left: 0;
  position: absolute;
  top: 415px;
  width: 402px;
}

.rectangle-69-11 {
  background-color: var(--bg);
  border-radius: 12px;
  height: 123px;
  left: 25px;
  position: absolute;
  top: 434px;
  width: 129px;
}

.vector-159 {
  cursor: pointer;
  height: 15px;
  left: 374px;
  position: absolute;
  top: 421px;
  width: 15px;
}

.vector-160 {
  height: 52px;
  left: 357px;
  position: absolute;
  top: 537px;
  width: 31px;
}

.text-27 {
  left: 174px;
  letter-spacing: 0;
  position: absolute;
  top: 470px;
  width: 168px;
}

.span1-97 {
  color: var(--spicy-pink);
  font-family: var(--font-family-inter);
  font-size: 48px;
  font-weight: 800;
}

.min-waiting {
  left: 255px;
  letter-spacing: 0;
  position: absolute;
  top: 495px;
  width: 147px;
}

.rectangle-70-8 {
  background-color: var(--mercury);
  height: 147px;
  left: 25px;
  position: absolute;
  top: 575px;
  width: 324px;
}

.x270m-away {
  left: 42px;
  letter-spacing: 0;
  position: absolute;
  top: 588px;
  width: 134px;
}

.x1-25 {
  height: 123px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 434px;
  width: 129px;
}

.rectangle-71-7 {
  background-color: var(--mercury);
  height: 40px;
  left: 338px;
  position: absolute;
  top: 585px;
  width: 9px;
}

.open-0900-am-close {
  left: 40px;
  letter-spacing: 0;
  position: absolute;
  top: 620px;
  width: 292px;
}

.address-26 {
  left: 184px;
  letter-spacing: 0;
  position: absolute;
  top: 536px;
}

.seans-restaurant {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 800;
  left: 174px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 435px;
  width: 224px;
}

.rectangle-72-5 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 349px;
  position: absolute;
  top: 469px;
  width: 37px;
}

.western-7 {
  left: 355px;
  letter-spacing: 0;
  position: absolute;
  top: 468px;
}

.rectangle-29-23 {
  height: 1px;
  margin-left: 152px;
  margin-top: 183.75px;
  width: 1px;
}

