.filter-list-200m-distance {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.component-29-4 {
  height: 65px;
  margin-top: -2px;
  width: 390px;
}

.line-27-16 {
  height: 1px;
  margin-top: 15px;
  width: 390px;
}

.group-container-126 {
  height: 265px;
  margin-left: 0;
  position: relative;
  width: 390px;
}

.group-83 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 265px;
  position: absolute;
  top: 0;
  width: 390px;
}

.line-29-17 {
  align-self: center;
  height: 2px;
  margin-left: 9.0px;
  margin-top: -1px;
  width: 107px;
}

.group-51-18 {
  align-items: flex-start;
  display: flex;
  margin-right: 14.0px;
  margin-top: 5px;
  min-width: 261px;
}

.group-47-61 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 87px;
}

.overlap-group-772 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 85px;
  padding: 3.1px 5px;
}

.category-84 {
  letter-spacing: 0;
  min-height: 17px;
  width: 57px;
}

.vector-285 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.25px;
  margin-left: 9px;
  width: 8px;
}

.group-49-57 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group1-477 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 75px;
  padding: 4.2px 18px;
}

.seats-88 {
  letter-spacing: 0;
  min-height: 18px;
  width: 38px;
}

.group-50-55 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group2-361 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 75px;
  padding: 3.1px 16px;
}

.rating-63 {
  letter-spacing: 0;
  min-height: 18px;
  width: 42px;
}

.overlap-group3-225 {
  height: 108px;
  margin-right: 0;
  margin-top: 8px;
  position: relative;
  width: 390px;
}

.overlap-group1-478 {
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.line-28-17 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 390px;
}

.vector-286 {
  height: 31px;
  left: 367px;
  position: absolute;
  top: 31px;
  width: 17px;
}

.address-84 {
  color: transparent;
  font-weight: 500;
  left: 106px;
  position: absolute;
  top: 42px;
}

.span0-64 {
  color: var(--saffron);
  font-weight: 500;
}

.span1-207 {
  letter-spacing: 0;
}

.rectangle-2 {
  background-color: var(--white);
  height: 85px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 85px;
}

.rectangle-66-16 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 236px;
  position: absolute;
  top: 25px;
  width: 39px;
}

.fastfood-35 {
  left: 241px;
  letter-spacing: 0;
  position: absolute;
  top: 25px;
}

.x1-48,
.x1-49 {
  height: 85px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 85px;
}

.line-28-18 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.overlap-group2-362 {
  height: 108px;
  margin-right: 0;
  margin-top: 7px;
  position: relative;
  width: 390px;
}

.rectangle-67-1 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 182px;
  position: absolute;
  top: 25px;
  width: 28px;
}

.asian-27 {
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  top: 25px;
}

.vector-287 {
  cursor: pointer;
  height: 31px;
  left: 367px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.group-48-21 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 27px;
  left: 16px;
  min-width: 87px;
  position: absolute;
  top: 6px;
}

.distance-76 {
  letter-spacing: 0;
  min-height: 18px;
  width: 58px;
}

.vector-288 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.25px;
  margin-left: 7px;
  width: 8px;
}

.overlap-group5-122 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  left: 18px;
  min-height: 84px;
  padding: 3px 0;
  position: absolute;
  top: 36px;
  width: 81px;
}

.x100m-1 {
  letter-spacing: 0;
  min-height: 17px;
  text-align: center;
  width: 79px;
}

.overlap-group-773 {
  height: 22px;
  margin-left: 0.5px;
  margin-top: 2px;
  position: relative;
  width: 81px;
}

.x200m-1 {
  cursor: pointer;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 79px;
}

.line-3-82 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 79px;
}

.line-32-2 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 79px;
}

.rectangle-85-1 {
  background-color: var(--flamingo-3);
  height: 21px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 80px;
}

.x500m-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: -1px;
  min-height: 17px;
  text-align: center;
  width: 79px;
}

.overlap-group1-479 {
  height: 17px;
  margin-left: 0.75px;
  margin-top: 3px;
  position: relative;
  width: 79px;
}

.x1-km-1 {
  cursor: pointer;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 79px;
}

.group-223 {
  align-items: flex-start;
  display: flex;
  margin-top: 8px;
  min-width: 390px;
}

.overlap-group6-63 {
  height: 108px;
  position: relative;
  width: 390px;
}

.image-6-18 {
  height: 85px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 86px;
}

.vector-289 {
  cursor: pointer;
  height: 31px;
  left: 369px;
  position: absolute;
  top: 38px;
  width: 17px;
}

