.group-26-3 {
  align-items: center;
  background-color: var(--orange);
  border-radius: 29px;
  display: flex;
  height: 58px;
  left: 204px;
  min-width: 58px;
  padding: 0 13px;
  position: absolute;
  top: 254px;
}

.icon-cart-1 {
  height: 32px;
  width: 32px;
}

.group-26-3.group-26-4 {
  left: 286px;
  top: 304px;
}

.group-26-3.group-26-5 {
  left: unset;
  margin-right: 10px;
  margin-top: 13px;
  position: unset;
  top: unset;
}

.group-26-3.group-27 {
  left: 286px;
  top: 302px;
}

