.group-67-2,
.group-64-16 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 150px;
  justify-content: flex-end;
  margin-right: 2.0px;
  margin-top: 12px;
  min-width: 228px;
  padding: 0 10px;
  position: relative;
}

.overlap-group5-71,
.overlap-group3-125 {
  height: 146px;
  margin-left: 5px;
  position: relative;
  width: 100px;
}

.loaded-baked-potato-soup-recipe-3-2,
.loaded-baked-potato-soup-recipe-3-2-1 {
  height: 84px;
  left: 5px;
  position: absolute;
  top: 8px;
  width: 89px;
}

