.iphone-13-home-suhyun-chun {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  position: relative;
  width: 390px;
}

.group-container-250 {
  align-items: center;
  display: flex;
  margin-right: -36.5px;
  margin-top: 28px;
  min-width: 414px;
}

.overlap-group10-46 {
  height: 47px;
  margin-top: 21.0px;
  position: relative;
  width: 34px;
}

.list-2 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 33px;
}

.vector-893 {
  cursor: pointer;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.overlap-group11-25 {
  border-radius: 20px;
  height: 42px;
  margin-left: 9px;
  margin-top: 16.0px;
  position: relative;
  width: 276px;
}

.rectangle-15-39 {
  background-color: var(--bg);
  border-radius: 20px;
  cursor: pointer;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.icon-search-39 {
  height: 29px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 25px;
}

.overlap-group12-12 {
  align-self: flex-end;
  height: 51px;
  margin-bottom: 11px;
  margin-left: 10px;
  position: relative;
  width: 35px;
}

.my-2 {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 37px;
}

.group-111 {
  cursor: pointer;
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.group-112 {
  height: 96px;
  margin-left: 28px;
  width: 23px;
}

.overlap-group9-64 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 674px;
  padding: 25px 26.2px;
  width: 390px;
}

.flex-row-625 {
  align-items: flex-start;
  display: flex;
  height: 139px;
  margin-right: 26.75px;
  min-width: 301px;
  position: relative;
}

.overlap-group14-2 {
  align-self: flex-end;
  height: 91px;
  margin-left: 86px;
  position: relative;
  width: 103px;
}

.chair_alt_fill0_wght400_grad0_opsz48-1 {
  height: 14px;
  left: 57px;
  position: absolute;
  top: 46px;
  width: 16px;
}

.overlap-group15-1 {
  height: 197px;
  margin-right: 22.75px;
  margin-top: 61px;
  position: relative;
  width: 202px;
}

.icon-location_pin-8 {
  height: 48px;
  left: 56px;
  position: absolute;
  top: 48px;
  width: 34px;
}

.bubble-container-1 {
  height: 197px;
  left: 0;
  position: absolute;
  top: 0;
  width: 202px;
}

.vector-894 {
  height: 1px;
  margin-top: 173px;
  width: 1px;
}

