.group-9-9,
.group-9-10 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 181px;
}

.rectangle-9,
.rectangle-9-1 {
  background-color: var(--bg);
  height: 32px;
  margin-top: -1px;
  width: 183px;
}

