.component-18 {
  align-items: flex-end;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 108px;
  padding: 14px 24px;
  position: absolute;
  top: 0;
  width: 390px;
}

.a-soup-shop-17 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 53.0px;
  min-height: 24px;
  min-width: 125px;
}

.overlap-group4-22 {
  height: 24px;
  margin-top: 30px;
  position: relative;
  width: 260px;
}

.x250m-47-18-are-going-25 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.span1-63 {
  color: var(--black);
  font-weight: 500;
}

.star-1-25 {
  height: 22px;
  left: 70px;
  position: absolute;
  top: 2px;
  width: 23px;
}

.component-18.component-23-5 {
  left: 5px;
  top: 403px;
}

.component-18.component-18-1,
.component-18.component-18-2 {
  top: 2px;
}

.component-18.component-18-3 {
  left: 5px;
  min-height: 111px;
  padding: 14.4px 24px;
  top: 628px;
}

.component-18.component-18-3 .overlap-group4-22 {
  margin-top: 31px;
}

.component-18.component-23-6 {
  left: 5px;
  top: 402px;
}

.component-18.component-18-4 {
  left: 8px;
  top: 103px;
}

.component-18.component-23-7,
.component-18.component-23-8 {
  left: 5px;
  top: 401px;
}

.component-18.component-23-9 {
  left: 5px;
  top: 400px;
}

