.iphone-13-13-pro-seoyoung-9 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  padding: 28.0px 13px;
  width: 390px;
}

.overlap-group7-79 {
  height: 209px;
  margin-right: 14px;
  margin-top: 18px;
  position: relative;
  width: 350px;
}

.search-25 {
  height: 26px;
  left: 290px;
  position: absolute;
  top: 8px;
  width: 27px;
}

.image-2-52 {
  height: 209px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 336px;
}

.vector-876 {
  cursor: pointer;
  height: 25px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 36px;
}

.overlap-group4-287 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  min-height: 184px;
  padding: 8px 4.0px;
  width: 344px;
}

.a-soup-shop-113 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 22.0px;
  min-height: 39px;
  width: 168px;
}

.overlap-group9-59 {
  height: 51px;
  position: relative;
  width: 300px;
}

.text-364 {
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 138px;
}

.seat-left-36 {
  left: 134px;
  letter-spacing: 0;
  position: absolute;
  top: 14px;
  width: 126px;
}

.line-1-143 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.flex-row-607 {
  align-items: center;
  display: flex;
  margin-right: 5.0px;
  margin-top: 39px;
  min-width: 306px;
}

.overlap-group8-55 {
  height: 28px;
  margin-top: 0.56px;
  position: relative;
  width: 62px;
}

.x250m-5 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 62px;
}

.line-4-34 {
  height: 28px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 1px;
}

.star-2-6 {
  align-self: flex-end;
  height: 29px;
  width: 30px;
}

.text-365 {
  letter-spacing: 0;
  margin-bottom: 2.44px;
  margin-left: 5px;
  min-height: 23px;
  width: 68px;
}

.line-5-99 {
  height: 28px;
  margin-left: 4px;
  margin-top: 0.56px;
  width: 1px;
}

.overlap-group10-42 {
  align-self: flex-start;
  height: 29px;
  margin-left: 10px;
  position: relative;
  width: 126px;
}

.are-going-42 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 91px;
}

.number-256 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.overlap-group11-22 {
  align-self: center;
  height: 345px;
  margin-left: 7.5px;
  margin-top: 32px;
  position: relative;
  width: 344px;
}

.overlap-group-1139 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 0;
  min-width: 76px;
  padding: 0 1px;
  position: absolute;
  top: 5px;
}

.menu-105 {
  letter-spacing: 0;
  min-height: 32px;
  width: 68px;
}

.group-container-248 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 89px;
  min-width: 246px;
  position: absolute;
  top: 4px;
}

.group-20-28 {
  align-items: flex-start;
  align-self: center;
  cursor: pointer;
  display: flex;
  min-width: 63px;
}

.overlap-group1-662 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 3px;
}

.info-73,
.map-39 {
  letter-spacing: 0;
  min-height: 32px;
  width: 48px;
}

.group-21-28 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 14px;
  min-width: 95px;
}

.overlap-group3-466 {
  height: 34px;
  position: relative;
  width: 93px;
}

.rectangle-39-37 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.review-90 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 84px;
}

.group-22-28 {
  align-items: flex-start;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  margin-left: 11px;
  min-width: 63px;
}

.overlap-group2-514 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 6px;
}

.overlap-group13-4 {
  height: 345px;
  left: 0;
  position: absolute;
  top: 0;
  width: 344px;
}

.overlap-group12-8 {
  height: 302px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 344px;
}

.onion-soup {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 28px;
  width: 190px;
}

.tomato-soup {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 88px;
  width: 190px;
}

.potato-soup {
  left: 25px;
  letter-spacing: 0;
  position: absolute;
  top: 220px;
  width: 190px;
}

.overlap-group6-108 {
  height: 252px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.line-12-33 {
  height: 252px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-15-25 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 300px;
}

.line-16-25 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 134px;
  width: 300px;
}

.line-17-4 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 300px;
}

.overlap-group5-198 {
  height: 302px;
  left: 81px;
  position: absolute;
  top: 0;
  width: 263px;
}

.line-13-33 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 255px;
}

.line-14-33 {
  height: 252px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 2px;
}

.group-26-16 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 29px;
  cursor: pointer;
  display: flex;
  height: 58px;
  left: 205px;
  min-width: 58px;
  padding: 8px 9px;
  position: absolute;
  top: 244px;
}

.vector-877 {
  height: 32px;
  width: 32px;
}

.number-257 {
  left: 243px;
  letter-spacing: 0;
  position: absolute;
  top: 246px;
  width: 20px;
}

.line-9-33 {
  height: 44px;
  left: 80px;
  position: absolute;
  top: 0;
  width: 2px;
}

