.frame-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: -130px;
  margin-top: 17px;
  min-width: 500px;
}

.overlap-group6-11 {
  height: 150px;
  position: relative;
  width: 500px;
}

.image-2-10 {
  height: 89px;
  left: 131px;
  position: absolute;
  top: 9px;
  width: 89px;
}

.loaded-baked-potato-soup-recipe-3-2-2 {
  height: 89px;
  left: 243px;
  position: absolute;
  top: 8px;
  width: 89px;
}

.loaded-baked-potato-soup-recipe-3-3-2 {
  height: 89px;
  left: 244px;
  position: absolute;
  top: 8px;
  width: 89px;
}

.frame-2.frame-4 .loaded-baked-potato-soup-recipe-3-3-2,
.frame-2.frame-4-1 .loaded-baked-potato-soup-recipe-3-3-2,
.frame-2.frame-4-2 .loaded-baked-potato-soup-recipe-3-3-2 {
  left: 243px;
}

