.shopping-cartpeople115 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 29px 0;
  position: relative;
  width: 390px;
}

.flex-col-69 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 14px;
  min-height: 469px;
  width: 376px;
}

.group-52-25 {
  cursor: pointer;
  height: 35px;
  margin-left: 9.0px;
  width: 35px;
}

.line-1-25 {
  height: 2px;
  margin-top: 7px;
  width: 300px;
}

.dinner-table-1-15 {
  align-self: center;
  height: 210px;
  margin-left: 22.0px;
  margin-top: 58px;
  object-fit: cover;
  width: 210px;
}

.do-you-want-to-reser-15 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 19px;
  min-height: 138px;
  text-align: center;
  width: 352px;
}

.flex-row-80 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 39px;
  margin-left: 10.0px;
  margin-top: 54px;
  min-width: 334px;
}

.we-are-15 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.group-13-18 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 2px;
  margin-top: 2.97px;
  min-width: 120px;
  position: relative;
}

.people-15 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.line-7-23 {
  height: 2px;
  margin-right: 0;
  margin-top: 46px;
  width: 300px;
}

