.component-44-24,
.component-44-25,
.component-44-26 {
  align-items: flex-end;
  display: flex;
  height: 86px;
  margin-left: 23.0px;
  margin-top: 48px;
  min-width: 303px;
  padding: 12px 3px;
}

.icon-check_mark-111,
.icon-check_mark-112,
.icon-check_mark-113 {
  height: 25px;
  width: 27px;
}

