.component-3-6,
.component-3-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 146px;
  position: absolute;
  top: 0;
  width: 100px;
}

.rectangle-27-60,
.rectangle-27-62 {
  background-color: var(--bg);
  border-radius: 12px;
  height: 100px;
  width: 100px;
}

.overlap-group2-163,
.overlap-group2-164 {
  height: 35px;
  margin-left: -3px;
  margin-top: 11px;
  position: relative;
  width: 103px;
}

.rectangle-27-61,
.rectangle-27-63 {
  background-color: var(--bg);
  border-radius: 12px;
  height: 35px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 100px;
}

.pork-belly-45,
.pork-belly-46 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 103px;
}

