.shopping-cartpeople112 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 844px;
  min-width: 390px;
  overflow: hidden;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.group-52-22 {
  cursor: pointer;
  height: 35px;
  margin-right: 280px;
  margin-top: 43px;
  width: 35px;
}

.line-1-22 {
  height: 2px;
  margin-left: 0;
  margin-top: 7px;
  width: 300px;
}

.dinner-table-1-12 {
  height: 210px;
  margin-left: 94px;
  margin-top: 58px;
  object-fit: cover;
  width: 210px;
}

.do-you-want-to-reser-12 {
  height: 138px;
  letter-spacing: 0;
  margin-left: 24px;
  margin-top: 20px;
  text-align: center;
  width: 352px;
}

.group-250 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  margin-top: 54px;
  min-height: 105px;
  width: 371px;
}

.flex-row-74 {
  align-items: center;
  display: flex;
  height: 39px;
  margin-left: 5px;
  min-width: 334px;
}

.we-are-12 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.group-14-1 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 2px;
  margin-top: 0.97px;
  min-width: 120px;
  position: relative;
}

.group-7-7 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 30px;
  margin-top: 0.03px;
  min-width: 30px;
  padding: 0 4.5px;
}

.outline-26 {
  height: 21px;
  object-fit: cover;
  width: 21px;
}

.group-8-57 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 30px;
  margin-left: 4px;
  margin-top: 0.03px;
  min-width: 30px;
  padding: 0 4.5px;
}

.people-12 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.flex-row-75 {
  align-items: flex-start;
  display: flex;
  margin-top: 27px;
  min-width: 361px;
}

.well-be-in-31 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 129px;
}

.overlap-group1-178 {
  height: 39px;
  margin-left: 5px;
  position: relative;
  width: 227px;
}

.group-15-1 {
  background-color: var(--bg);
  height: 30px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 134px;
}

.mins-31 {
  left: 122px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.line-7-19 {
  height: 30px;
  left: 106px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.arrow-drop-down-31 {
  height: 15px;
  left: 113px;
  position: absolute;
  top: 13px;
  width: 15px;
}

.select-9 {
  left: 32px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 51px;
}

.line-7-20 {
  height: 2px;
  margin-left: 90.0px;
  margin-top: 46px;
  width: 300px;
}

