.component-17-7 {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 108px;
  padding: 14px 24px;
  position: absolute;
  top: 0;
  width: 390px;
}

.a-soup-shop-47 {
  letter-spacing: 0;
  margin-right: 58.0px;
  min-height: 24px;
  min-width: 120px;
}

.x35-seats-left-7 {
  color: transparent;
  font-weight: 500;
  margin-right: 63.0px;
  margin-top: 3px;
  min-height: 24px;
  min-width: 115px;
}

.span0-57 {
  color: var(--saffron);
  font-weight: 500;
}

.span1-102 {
  letter-spacing: 0;
}

.overlap-group1-49 {
  align-self: flex-end;
  height: 24px;
  margin-top: 3px;
  position: relative;
  width: 260px;
}

.x250m-47-18-are-going-43 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.component-17-7.component-17-9 .span0-57 {
  color: var(--persian-red);
}

.icon-star-26 {
  height: 22px;
  left: 70px;
  position: absolute;
  top: 2px;
  width: 23px;
}

.component-17-7.component-17-8 {
  padding: 14px 34px;
}

.component-17-7.component-17-8 .a-soup-shop-47 {
  margin-right: 75.0px;
  min-width: 103px;
}

.component-17-7.component-17-8 .x35-seats-left-7 {
  margin-right: 53.0px;
  min-width: 125px;
}

.component-17-7.component-17-8 .span0-57 {
  color: var(--apple);
}

.component-17-7.component-17-8 .overlap-group1-49 {
  width: 250px;
}

.component-17-7.component-17-9 {
  padding: 14px 29px;
}

.component-17-7.component-17-9 .a-soup-shop-47 {
  margin-right: 52.0px;
  min-width: 126px;
}

.component-17-7.component-17-9 .x35-seats-left-7 {
  margin-right: 77.0px;
  min-width: 101px;
}

.component-17-7.component-17-9 .overlap-group1-49 {
  width: 255px;
}

.component-17-7.component-17-8 .span-70,
.component-17-7.component-17-9 .span-70 {
  color: var(--apple);
  font-weight: 500;
}

.span-70 {
  color: var(--persian-red);
  font-weight: 500;
}

