.filter-list-category-seats-500m {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 844px;
  min-width: 390px;
  overflow: hidden;
  width: 100%;
}

.component-29-10 {
  height: 69px;
  margin-top: -2.5px;
  width: 390px;
}

.group-90-12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 11.5px;
  min-height: 151px;
  width: 390px;
}

.line-container-75 {
  height: 2px;
  margin-right: 0;
  position: relative;
  width: 390px;
}

.line-2-149 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.line-29-23 {
  height: 2px;
  left: 146px;
  position: absolute;
  top: 0;
  width: 107px;
}

.group-51-24 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 5px;
  min-width: 360px;
  position: relative;
}

.group-47-67 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 87px;
}

.overlap-group1-520 {
  background-color: var(--white);
  border-radius: 15px;
  height: 27px;
  position: relative;
  width: 85px;
}

.category-93 {
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
  width: 57px;
}

.vector-373 {
  height: 8px;
  left: 71px;
  position: absolute;
  top: 8px;
  width: 8px;
}

.overlap-group-864 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  left: -1px;
  min-width: 85px;
  padding: 4.1px 5px;
  position: absolute;
  top: -1px;
}

.category-94 {
  letter-spacing: 0;
  min-height: 17px;
  width: 57px;
}

.vector-374 {
  align-self: center;
  height: 8px;
  margin-bottom: 0.25px;
  margin-left: 9px;
  width: 8px;
}

.group-49-63 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group2-389 {
  background-color: var(--white);
  border-radius: 15px;
  height: 27px;
  position: relative;
  width: 75px;
}

.seats-95 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
  width: 38px;
}

.overlap-group-865 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  left: -1px;
  min-width: 75px;
  padding: 4.1px 18px;
  position: absolute;
  top: -1px;
}

.seats-96 {
  letter-spacing: 0;
  min-height: 18px;
  width: 38px;
}

.group-50-61 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group3-289 {
  background-color: var(--orange);
  border-radius: 15px;
  height: 27px;
  position: relative;
  width: 75px;
}

.rating-70 {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
  width: 42px;
}

.overlap-group-866 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  left: 0;
  min-width: 75px;
  padding: 3.1px 16px;
  position: absolute;
  top: 0;
}

.rating-71 {
  letter-spacing: 0;
  min-height: 18px;
  width: 42px;
}

.overlap-group4-199 {
  height: 108px;
  margin-right: 0;
  margin-top: 8px;
  position: relative;
  width: 390px;
}

.overlap-group1-521 {
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.image-5-10 {
  height: 85px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 85px;
}

.image-6-24 {
  height: 85px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 86px;
}

.rectangle-69-9 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 234px;
  position: absolute;
  top: 25px;
  width: 27px;
}

.meat-40 {
  left: 239px;
  letter-spacing: 0;
  position: absolute;
  top: 25px;
}

.vector-375 {
  cursor: pointer;
  height: 31px;
  left: 366px;
  position: absolute;
  top: 30px;
  width: 17px;
}

