.uncle-s-details-info {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  width: 390px;
}

.overlap-group6-9 {
  height: 431px;
  position: relative;
  width: 390px;
}

.group-432 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 317px;
  left: 0;
  min-width: 390px;
  padding: 11px 9px;
  position: absolute;
  top: 0;
}

.vector-112 {
  cursor: pointer;
  height: 25px;
  width: 36px;
}

.search-4 {
  height: 26px;
  left: 303px;
  position: absolute;
  top: 54px;
  width: 27px;
}

.number-11 {
  left: 152px;
  letter-spacing: 0;
  position: absolute;
  top: 302px;
  width: 50px;
}

.overlap-group4-30 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 23px;
  min-height: 184px;
  padding: 9px 4.0px;
  position: absolute;
  top: 255px;
  width: 344px;
}

.overlap-group1-66 {
  height: 40px;
  position: relative;
  width: 300px;
}

.line-1-6 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 38px;
  width: 300px;
}

.uncles-6 {
  left: 87px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 168px;
}

.seat-left-3 {
  letter-spacing: 0;
  margin-right: 40.0px;
  margin-top: 13px;
  min-height: 26px;
  width: 126px;
}

.flex-row-26 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-right: 5.0px;
  margin-top: 48px;
  min-width: 306px;
}

.x120m-3 {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 30px;
  width: 50px;
}

.line {
  height: 28px;
  margin-bottom: 1.5px;
  margin-left: 4px;
  width: 1px;
}

.icon-star-69 {
  align-self: flex-start;
  height: 29px;
  margin-left: 9px;
  width: 30px;
}

.text-14 {
  letter-spacing: 0;
  margin-bottom: 2.5px;
  margin-left: 3px;
  min-height: 23px;
  width: 68px;
}

.overlap-group-90 {
  height: 29px;
  margin-bottom: 0.5px;
  margin-left: 10px;
  position: relative;
  width: 126px;
}

.are-going-6 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 91px;
}

.number-12 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.text-15 {
  left: 152px;
  letter-spacing: 0;
  position: absolute;
  top: 301px;
  width: 50px;
}

.group-container-9 {
  height: 354px;
  margin-left: 16.5px;
  margin-top: 40px;
  position: relative;
  width: 354px;
}

.overlap-group5-11 {
  height: 354px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 352px;
}

.line-9-4 {
  height: 44px;
  left: 155px;
  position: absolute;
  top: 0;
  width: 2px;
}

.line-13-4 {
  height: 1px;
  left: 156px;
  position: absolute;
  top: 44px;
  width: 179px;
}

.line-14-4 {
  height: 243px;
  left: 333px;
  position: absolute;
  top: 44px;
  width: 3px;
}

.rectangle-101-2 {
  background-color: var(--bg);
  height: 88px;
  left: 0;
  position: absolute;
  top: 202px;
  width: 332px;
}

.location-33-3-song-2 {
  left: 19px;
  letter-spacing: 0;
  position: absolute;
  top: 207px;
  width: 295px;
}

.group-274 {
  background-color: var(--orange);
  border-radius: 35px;
  cursor: pointer;
  display: flex;
  height: 70px;
  left: 282px;
  position: absolute;
  top: 284px;
  width: 70px;
}

.kakao-talk_-photo_2022-05-30-21-08-42-1-7 {
  height: 50px;
  margin-left: 10px;
  margin-top: 13px;
  object-fit: cover;
  width: 50px;
}

.line-container-13 {
  height: 287px;
  left: 0;
  position: absolute;
  top: 0;
  width: 81px;
}

.line-19-6 {
  height: 44px;
  left: 80px;
  position: absolute;
  top: 0;
  width: 2px;
}

.line-12-4 {
  height: 243px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 1px;
}

.line-18-4 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 80px;
}

.group-19-6 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 0;
  min-width: 78px;
  position: absolute;
  top: 5px;
}

.overlap-group-91 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 76px;
  padding: 0 1px;
}

.menu-6 {
  letter-spacing: 0;
  min-height: 32px;
  width: 68px;
}

.overlap-group1-67 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 89px;
  min-width: 61px;
  padding: 0 3px;
  position: absolute;
  top: 5px;
}

.info-12,
.map-6 {
  letter-spacing: 0;
  min-height: 32px;
  width: 48px;
}

.group-22-4 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 33px;
  left: 272px;
  min-width: 63px;
  position: absolute;
  top: 6px;
}

.overlap-group2-59 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 6px;
}

.group-21-4 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 34px;
  left: 166px;
  min-width: 95px;
  position: absolute;
  top: 4px;
}

.overlap-group3-45 {
  height: 34px;
  position: relative;
  width: 93px;
}

.rectangle-39-6 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.review-7 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 84px;
}

.overlap-group8-6 {
  height: 71px;
  left: 1px;
  position: absolute;
  top: 57px;
  width: 332px;
}

.restaurant-information-2 {
  left: 37px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 0;
  width: 278px;
}

.rectangle-99-2 {
  background-color: var(--bg);
  height: 35px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 332px;
}

.open-1100-2100 {
  left: 19px;
  letter-spacing: 0;
  position: absolute;
  top: 41px;
  width: 247px;
}

.overlap-group7-8 {
  align-items: flex-start;
  background-color: var(--bg);
  display: flex;
  height: 50px;
  left: 1px;
  min-width: 332px;
  padding: 12px 19px;
  position: absolute;
  top: 140px;
}

.call-032-234-5432 {
  letter-spacing: 0;
  min-height: 24px;
  width: 238px;
}

.span2-2 {
  text-decoration: underline;
}

