.group-48-3 {
  align-items: flex-start;
  display: flex;
  min-width: 87px;
}

.overlap-group-47 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  min-width: 85px;
  padding: 4.1px 13px;
}

.distance-40 {
  letter-spacing: 0;
  min-height: 18px;
  width: 58px;
}

.group-48-3.group-48-4 .overlap-group-47,
.group-48-3.group-48-11 .overlap-group-47 {
  align-items: flex-end;
  padding: 4.5px 13px;
}

.group-48-3.group-48-7 .overlap-group-47,
.group-48-3.group-48-9 .overlap-group-47,
.group-48-3.group-48-10 .overlap-group-47,
.group-48-3.group-48-12 .overlap-group-47,
.group-48-3.group-48-13 .overlap-group-47,
.group-48-3.group-48-14 .overlap-group-47,
.group-48-3.group-48-15 .overlap-group-47,
.group-48-3.group-48-16 .overlap-group-47,
.group-48-3.group-48-17 .overlap-group-47 {
  padding: 3.7px 13px;
}

