.iphone-13-13-pro-ha-eun-park-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.overlap-group8-53 {
  height: 864px;
  margin-left: -4px;
  margin-top: -10px;
  position: relative;
  width: 516px;
}

.overlap-group6-105 {
  height: 150px;
  left: 16px;
  position: absolute;
  top: 639px;
  width: 500px;
}

.group-23-7 {
  background-color: var(--white);
  display: flex;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 500px;
}

.image-2-48 {
  height: 89px;
  left: 131px;
  position: absolute;
  top: 9px;
  width: 89px;
}

.loaded-baked-potato-soup-recipe-3-2-11 {
  height: 89px;
  left: 243px;
  position: absolute;
  top: 8px;
  width: 89px;
}

.my-order-36 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  top: 44px;
  width: 227px;
}

.icon-close-164 {
  height: 30px;
  left: 345px;
  position: absolute;
  top: 55px;
  width: 30px;
}

.line-2-169 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 99px;
  width: 292px;
}

.line-3-96 {
  height: 3px;
  left: 92px;
  position: absolute;
  top: 615px;
  width: 300px;
}

.free-icon-celebration-1517746-1-41 {
  height: 204px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 126px;
  width: 204px;
}

.reservation-completed {
  left: 51px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 322px;
  width: 295px;
}

.rectangle-23-24 {
  background-color: var(--bg);
  border-radius: 12px;
  height: 150px;
  left: 24px;
  position: absolute;
  top: 441px;
  width: 350px;
}

.restuarant-name-121 {
  left: 7px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 458px;
  width: 384px;
}

.rectangle-23-25 {
  background-color: var(--bg);
  border-radius: 12px;
  height: 40px;
  left: 183px;
  position: absolute;
  top: 803px;
  width: 200px;
}

.cancle-order {
  left: 146px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 811px;
  width: 274px;
}

.overlap-group7-76 {
  height: 250px;
  left: 29px;
  position: absolute;
  top: 297px;
  width: 350px;
}

.rectangle-26-14 {
  background-color: var(--white);
  border-radius: 10px;
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
}

.rectangle-24-14 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 350px;
}

.rectangle-27-151 {
  background-color: var(--bg);
  height: 20px;
  left: 0;
  position: absolute;
  top: 190px;
  width: 350px;
}

.cancel-order-69 {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 277px;
}

.warning-amber {
  height: 35px;
  left: 157px;
  position: absolute;
  top: 42px;
  width: 35px;
}

.rectangle-23-26 {
  background-color: var(--orange);
  border-radius: 12px;
  height: 35px;
  left: 184px;
  position: absolute;
  top: 205px;
  width: 156px;
}

.cancel-order-70 {
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 150px;
}

.rectangle-27-152 {
  background-color: var(--bg);
  border-radius: 12px;
  cursor: pointer;
  height: 35px;
  left: 9px;
  position: absolute;
  top: 205px;
  width: 156px;
}

.back-to-mypage-14 {
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 150px;
}

