.shopping-carthomeselecttime4 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 21px 0;
  width: 390px;
}

.flex-col-288 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 5.0px;
  margin-top: 22px;
  min-height: 564px;
  width: 395px;
}

.group-53-5 {
  cursor: pointer;
  display: flex;
  margin-left: 14.0px;
  width: 127px;
}

.arrow-back-23 {
  height: 35px;
  width: 35px;
}

.menu-35 {
  height: 31px;
  letter-spacing: 0;
  margin-left: 7px;
  margin-top: 1px;
  width: 83px;
}

.line-1-75 {
  height: 2px;
  margin-left: 5.0px;
  margin-top: 7px;
  width: 300px;
}

.shopping-cart-24 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 12.0px;
  margin-top: 12px;
  min-height: 40px;
  width: 213px;
}

.line-2-94 {
  align-self: flex-end;
  height: 2px;
  margin-top: 28px;
  width: 300px;
}

.overlap-group2-206 {
  align-self: center;
  border-radius: 12px;
  height: 100px;
  margin-right: 5.0px;
  margin-top: 7px;
  position: relative;
  width: 350px;
}

.loaded-baked-potato-soup-recipe-3-4-32 {
  height: 80px;
  left: 15px;
  position: absolute;
  top: 10px;
  width: 80px;
}

.group-12-22 {
  align-items: flex-start;
  display: flex;
  margin-left: 20.0px;
  margin-top: 24px;
  min-width: 173px;
}

.group-11-57 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  height: 30px;
  min-width: 30px;
  padding: 0 4.5px;
}

.outline-118 {
  height: 21px;
  object-fit: cover;
  width: 21px;
}

.add-more-menu-23 {
  letter-spacing: 0;
  margin-left: 6px;
  min-height: 30px;
  width: 135px;
}

.flex-row-287 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 44px;
  margin-right: 0;
  margin-top: 222px;
  min-width: 264px;
}

.total-22 {
  letter-spacing: 0;
  min-height: 44px;
  width: 75px;
}

.x15200-won-82 {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 44px;
  width: 168px;
}

.line-5-31 {
  height: 2px;
  margin-top: 9px;
  width: 390px;
}

.flex-row-288 {
  align-items: center;
  display: flex;
  height: 39px;
  margin-right: 4.0px;
  margin-top: 24px;
  min-width: 334px;
}

.we-are-62 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.group-13-48 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 2px;
  margin-top: 2.97px;
  min-width: 120px;
  position: relative;
}

.group-7-132 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 30px;
  margin-top: 0.03px;
  min-width: 30px;
  padding: 0 4.5px;
}

.people-62 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.overlap-group4-124 {
  height: 126px;
  margin-left: 13.0px;
  margin-top: 27px;
  position: relative;
  width: 361px;
}

.overlap-group3-159 {
  height: 126px;
  left: 17px;
  position: absolute;
  top: 0;
  width: 344px;
}

.overlap-group-611 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 12px;
  display: flex;
  height: 50px;
  left: 0;
  min-width: 316px;
  padding: 9px 21px;
  position: absolute;
  top: 68px;
}

.complete-pre-order-22 {
  letter-spacing: 0;
  min-height: 31px;
  text-align: center;
  width: 274px;
}

.group-11-58 {
  background-color: var(--bg);
  height: 30px;
  left: 117px;
  position: absolute;
  top: 6px;
  width: 134px;
}

.mins-62 {
  left: 239px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.line-6-68 {
  height: 30px;
  left: 224px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.arrow-drop-down-62 {
  height: 15px;
  left: 230px;
  position: absolute;
  top: 14px;
  width: 15px;
}

.select-38 {
  left: 149px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 51px;
}

.overlap-group1-324 {
  height: 120px;
  left: 117px;
  position: absolute;
  top: 6px;
  width: 107px;
}

.less-than-1-10 {
  cursor: pointer;
  left: 13px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
  width: 81px;
}

.less-than-5-20 {
  cursor: pointer;
  left: 13px;
  letter-spacing: 0;
  position: absolute;
  top: 36px;
  width: 81px;
}

.less-than-10-26 {
  cursor: pointer;
  left: 8px;
  letter-spacing: 0;
  position: absolute;
  top: 66px;
  width: 90px;
}

.less-than-15-25 {
  cursor: pointer;
  left: 8px;
  letter-spacing: 0;
  position: absolute;
  top: 96px;
  width: 90px;
}

.well-be-in-62 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 129px;
}

