.group-239 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 24px;
  min-height: 581px;
  position: absolute;
  top: 166px;
  width: 374px;
}

.free-icon-celebration-1517746-1 {
  height: 204px;
  margin-right: 6.41px;
  object-fit: cover;
  width: 204px;
}

.seat-reservation-completed {
  letter-spacing: 0;
  line-height: 55px;
  margin-right: 27.0px;
  margin-top: 1px;
  min-height: 103px;
  text-align: center;
  width: 295px;
}

.overlap-group2 {
  align-items: flex-start;
  align-self: flex-start;
  background-color: var(--bg);
  border-radius: 12px;
  display: flex;
  height: 150px;
  justify-content: flex-end;
  margin-top: 97px;
  min-width: 350px;
  padding: 18.0px 11px;
}

.hanam-bbq-1216pm-co {
  letter-spacing: 0;
  min-height: 106px;
  min-width: 327px;
  text-align: center;
}

.line-3 {
  align-self: flex-end;
  height: 3px;
  margin-right: 4.0px;
  margin-top: 24px;
  width: 300px;
}

.group-239.group-238,
.group-239.group-238-1 {
  align-self: flex-end;
  left: unset;
  margin-right: -4.0px;
  margin-top: 54px;
  position: unset;
  top: unset;
}

