.group-47-1,
.group-47-2,
.group-47-3,
.group-47-4,
.group-47-5,
.group-47-6,
.group-47-7,
.group-47-8,
.group-47-9,
.group-47-10,
.group-47-11,
.group-47-12,
.group-47-13,
.group-47-14,
.group-47-15,
.group-47-16,
.group-47-17,
.group-47-18,
.group-47-19,
.group-47-20,
.group-47-21,
.group-47-22 {
  align-items: flex-start;
  display: flex;
  margin-left: 12px;
  min-width: 87px;
}

.overlap-group1-4,
.overlap-group1-5,
.overlap-group1-6,
.overlap-group1-7,
.overlap-group1-8,
.overlap-group1-9,
.overlap-group1-10,
.overlap-group1-11,
.overlap-group1-12,
.overlap-group1-13,
.overlap-group1-14,
.overlap-group1-15,
.overlap-group1-16,
.overlap-group1-17,
.overlap-group1-18,
.overlap-group1-19,
.overlap-group1-20,
.overlap-group1-21,
.overlap-group1-22,
.overlap-group1-23,
.overlap-group1-24,
.overlap-group1-25 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 85px;
  padding: 3px 5px;
}

.category-1,
.category-2,
.category-3,
.category-4,
.category-5,
.category-6,
.category-7,
.category-8,
.category-9,
.category-10,
.category-11,
.category-12,
.category-13,
.category-14,
.category-15,
.category-16,
.category-17,
.category-18,
.category-19,
.category-20,
.category-21,
.category-22 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 57px;
}

.vector-7,
.vector-40,
.vector-43,
.vector-45,
.vector-46,
.vector-47,
.vector-48,
.vector-49,
.vector-50,
.vector-51,
.vector-52,
.vector-53,
.vector-54,
.vector-55,
.vector-56,
.vector-57,
.vector-58,
.vector-59,
.vector-60,
.vector-61,
.vector-62,
.vector-63 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.0px;
  margin-left: 9px;
  width: 8px;
}

