.frame-3-1,
.frame-2-5,
.frame-7,
.frame-8,
.frame-13,
.frame-14,
.frame-6,
.frame-9,
.frame-12,
.frame-15,
.frame-4,
.frame-5,
.frame-10,
.frame-11,
.frame-16,
.frame-1-1,
.frame-1-2,
.frame-1-3,
.frame-1-4,
.frame-1-5,
.frame-1-6,
.frame-1-7 {
  align-items: flex-start;
  display: flex;
  margin-left: 25.0px;
  margin-top: 17px;
  min-width: 145px;
}

.overlap-group5-81,
.overlap-group4-115,
.overlap-group5-82,
.overlap-group5-83,
.overlap-group5-84,
.overlap-group5-85,
.overlap-group5-86,
.overlap-group5-87,
.overlap-group5-88,
.overlap-group5-89,
.overlap-group5-90,
.overlap-group5-91,
.overlap-group5-92,
.overlap-group5-93,
.overlap-group5-94,
.overlap-group2-187,
.overlap-group2-188,
.overlap-group2-189,
.overlap-group2-190,
.overlap-group2-191,
.overlap-group2-192,
.overlap-group2-193 {
  background-color: var(--white);
  height: 150px;
  position: relative;
  width: 500px;
}

.image-12,
.image-12-1,
.image-12-2,
.image-12-3,
.image-12-4,
.image-12-5,
.image-12-6,
.image-12-7,
.image-12-8,
.image-12-9,
.image-12-10,
.image-12-11,
.image-12-12,
.image-12-13,
.image-12-14,
.image-12-15,
.image-12-16,
.image-12-17,
.image-12-18,
.image-12-19,
.image-12-20,
.image-12-21 {
  height: 84px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 89px;
}

.loaded-baked-potato-soup-recipe-3-4-7,
.loaded-baked-potato-soup-recipe-3-4-8,
.loaded-baked-potato-soup-recipe-3-4-9,
.loaded-baked-potato-soup-recipe-3-4-10,
.loaded-baked-potato-soup-recipe-3-4-11,
.loaded-baked-potato-soup-recipe-3-4-12,
.loaded-baked-potato-soup-recipe-3-4-13,
.loaded-baked-potato-soup-recipe-3-4-14,
.loaded-baked-potato-soup-recipe-3-4-15,
.loaded-baked-potato-soup-recipe-3-4-16,
.loaded-baked-potato-soup-recipe-3-4-17,
.loaded-baked-potato-soup-recipe-3-4-18,
.loaded-baked-potato-soup-recipe-3-4-19,
.loaded-baked-potato-soup-recipe-3-4-20,
.loaded-baked-potato-soup-recipe-3-4-21,
.loaded-baked-potato-soup-recipe-3-4-22,
.loaded-baked-potato-soup-recipe-3-4-23,
.loaded-baked-potato-soup-recipe-3-4-24,
.loaded-baked-potato-soup-recipe-3-4-25,
.loaded-baked-potato-soup-recipe-3-4-26,
.loaded-baked-potato-soup-recipe-3-4-27,
.loaded-baked-potato-soup-recipe-3-4-28 {
  height: 84px;
  left: 18px;
  position: absolute;
  top: 10px;
  width: 89px;
}

