.filter-main-seats-category {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.group-234-7 {
  align-items: flex-start;
  display: flex;
  height: 53px;
  margin-left: 5.0px;
  margin-top: 17px;
  min-width: 373px;
}

.info-container-7 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 51px;
  width: 35px;
}

.icon-information-7 {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.info-16 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 2px;
  min-height: 14px;
  min-width: 20px;
}

.overlap-group7-11 {
  border-radius: 20px;
  height: 42px;
  margin-left: 10px;
  position: relative;
  width: 272px;
}

.rectangle-15-7 {
  background-color: var(--bg);
  border-radius: 20px;
  cursor: pointer;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.icon-search-7 {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 8px;
  width: 30px;
}

.flex-col-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  min-height: 52px;
  width: 45px;
}

.group-8 {
  cursor: pointer;
  height: 38px;
  margin-left: 4px;
  width: 35px;
}

.my-book-9 {
  letter-spacing: 0;
  min-height: 14px;
}

.overlap-group9-8 {
  height: 766px;
  margin-left: 9.0px;
  margin-top: 8px;
  position: relative;
  width: 413px;
}

.image-1-6 {
  height: 766px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.group-64-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 93px;
  position: absolute;
  top: 673px;
  width: 404px;
}

.group-container-11 {
  align-items: center;
  display: flex;
  margin-left: 22px;
  min-width: 225px;
}

.group-62-1 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  min-width: 32px;
  padding: 3px;
}

.vector-119 {
  height: 25px;
  width: 25px;
}

.group-63-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 108px;
  margin-top: 1.0px;
  min-width: 85px;
}

.overlap-group-98 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 25px;
  min-width: 83px;
  padding: 6px 8px;
}

.vector-120 {
  align-self: center;
  height: 11px;
  width: 18px;
}

.see-list-2 {
  letter-spacing: 0;
  margin-left: 7px;
  min-height: 12px;
  width: 40px;
}

.overlap-group-container-15 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 50px;
  margin-top: 11px;
  min-width: 404px;
  padding: 11px 21px;
}

.overlap-group5-13 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 85px;
  padding: 4px 13px;
}

.distance-55,
.seats-28,
.seats-29 {
  letter-spacing: 0;
  min-height: 17px;
}

.overlap-group2-64 {
  height: 27px;
  margin-left: 14px;
  position: relative;
  width: 87px;
}

.rectangle-81-1 {
  background-color: var(--white);
  border-radius: 15px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 85px;
}

.category-29 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 5px;
}

.vector-121 {
  height: 8px;
  left: 72px;
  position: absolute;
  top: 9px;
  width: 8px;
}

.group-47-29 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 26px;
  left: 0;
  min-width: 87px;
  position: absolute;
  top: 1px;
}

.overlap-group-99 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  min-width: 85px;
  padding: 4px 5px;
}

.category-30 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 57px;
}

.vector-122 {
  align-self: center;
  height: 8px;
  margin-bottom: 0.5px;
  margin-left: 9px;
  width: 8px;
}

.overlap-group1-75 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  left: 0;
  min-width: 85px;
  padding: 3.1px 5px;
  position: absolute;
  top: 0;
}

.category-31 {
  letter-spacing: 0;
  min-height: 17px;
  width: 57px;
}

.vector-123 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.75px;
  margin-left: 9px;
  width: 8px;
}

.overlap-group4-34 {
  height: 26px;
  margin-left: 11px;
  position: relative;
  width: 77px;
}

.rectangle-33 {
  background-color: var(--white);
  border-radius: 15px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.seats-27 {
  left: 19px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
}

.overlap-group-100 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 0;
  min-width: 75px;
  padding: 4px 18px;
  position: absolute;
  top: 0;
}

.group-50-27 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 26px;
  left: 0;
  min-width: 77px;
  position: absolute;
  top: 0;
}

.overlap-group1-76 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 75px;
  padding: 3px 18px;
}

.overlap-group3-49 {
  border-radius: 15px;
  height: 26px;
  margin-left: 10px;
  position: relative;
  width: 75px;
}

.rectangle-60-1 {
  background-color: var(--orange);
  border-radius: 15px;
  cursor: pointer;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.rating-27 {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
}

.ellipse-16-2 {
  background-color: var(--malibu-2);
  border-radius: 19px;
  height: 38px;
  left: 196px;
  position: absolute;
  top: 404px;
  width: 38px;
}

.ellipse-17-2 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 208px;
  position: absolute;
  top: 417px;
  width: 15px;
}

.polygon-2-2 {
  height: 6px;
  left: 212px;
  position: absolute;
  top: 412px;
  width: 6px;
}

.group-381 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 93px;
  min-height: 29px;
  position: absolute;
  top: 400px;
  width: 59px;
}

.ellipse-1-4 {
  background-color: var(--apple);
  border-radius: 7.5px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  height: 15px;
  margin-right: 18.0px;
  width: 15px;
}

.hanam-bbq-11 {
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 14px;
  width: 57px;
}

.group-378 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 223px;
  min-height: 31px;
  position: absolute;
  top: 273px;
  width: 74px;
}

.ellipse-3-5 {
  background-color: var(--x796e6e);
  border-radius: 7.5px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  height: 15px;
  margin-right: 11.0px;
  width: 15px;
}

.seans-restaurant-11 {
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 16px;
  width: 72px;
}

.group-383 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 219px;
  min-height: 29px;
  position: absolute;
  top: 489px;
  width: 59px;
}

.ellipse-5-5 {
  background-color: var(--saffron);
  border-radius: 7.5px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  height: 15px;
  margin-left: 5px;
  width: 15px;
}

.uncles-12 {
  letter-spacing: 0;
  min-height: 14px;
  width: 57px;
}

.overlap-group8-8 {
  height: 121px;
  left: 11px;
  position: absolute;
  top: 600px;
  width: 382px;
}

.rectangle-89-4 {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 121px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 379px;
}

.language-19 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.language-20 {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.asian-8 {
  left: 47px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
}

.fastfood-16 {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  top: 73px;
}

.language-21 {
  left: 299px;
  letter-spacing: 0;
  position: absolute;
  top: 73px;
}

.meat-7 {
  cursor: pointer;
  left: 174px;
  letter-spacing: 0;
  position: absolute;
  top: 74px;
}

.pizza-4 {
  left: 299px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
}

.place-4 {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
}

.western-8 {
  left: 290px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.line-container-17 {
  height: 97px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 381px;
}

.line-34-4 {
  height: 1px;
  left: 2px;
  position: absolute;
  top: 34px;
  width: 379px;
}

.line-35-4 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 379px;
}

.line-37-4 {
  height: 97px;
  left: 128px;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-38-4 {
  height: 97px;
  left: 258px;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-36-4 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 379px;
}

.reset-4 {
  cursor: pointer;
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 102px;
}

