.completedpreordercancelmodal10 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.overlap-group4-193 {
  height: 864px;
  margin-left: -4px;
  margin-top: -16px;
  position: relative;
  width: 395px;
}

.my-order-20 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  top: 50px;
  width: 227px;
}

.icon-close-161 {
  cursor: pointer;
  height: 30px;
  left: 345px;
  position: absolute;
  top: 61px;
  width: 30px;
}

.line-2-147 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 105px;
  width: 292px;
}

.line-3-88 {
  height: 3px;
  left: 92px;
  position: absolute;
  top: 621px;
  width: 300px;
}

.free-icon-celebration-1517746-1-36 {
  height: 204px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 204px;
}

.successfully-completed-20 {
  left: 51px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 328px;
  width: 295px;
}

.rectangle-23-14 {
  height: 150px;
  left: 24px;
  position: absolute;
  top: 447px;
  width: 350px;
}

.a-soup-shop-1216pm-3 {
  left: 7px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 464px;
  width: 384px;
}

.overlap-group-816 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 12px;
  display: flex;
  height: 40px;
  left: 204px;
  min-width: 180px;
  position: absolute;
  top: 809px;
}

.cancel-order-58,
.write-review-36 {
  letter-spacing: 0;
  min-height: 31px;
  text-align: center;
  width: 180px;
}

.overlap-group1-507 {
  align-items: flex-end;
  background-color: var(--celeste);
  border-radius: 12px;
  display: flex;
  height: 40px;
  left: 15px;
  min-width: 180px;
  position: absolute;
  top: 809px;
}

.overlap-group2-377 {
  background-color: var(--white);
  height: 150px;
  left: 139px;
  position: absolute;
  top: 641px;
  width: 500px;
}

.image-12-23 {
  height: 84px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 89px;
}

.loaded-baked-potato-soup-recipe-3-4-61 {
  height: 84px;
  left: 18px;
  position: absolute;
  top: 10px;
  width: 89px;
}

.rectangle-29-7 {
  background-color: var(--mist-gray);
  height: 864px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 391px;
}

.overlap-group3-258 {
  height: 250px;
  left: 29px;
  position: absolute;
  top: 277px;
  width: 350px;
}

.rectangle-26-11 {
  background-color: var(--white);
  border-radius: 10px;
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
}

.rectangle-24-11 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 350px;
}

.rectangle-27-141 {
  background-color: var(--bg);
  height: 20px;
  left: 0;
  position: absolute;
  top: 190px;
  width: 350px;
}

.cancel-order-59 {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 78px;
  width: 277px;
}

.icon-caution-11 {
  height: 40px;
  left: 155px;
  position: absolute;
  top: 55px;
  width: 40px;
}

.rectangle-23-15 {
  background-color: var(--orange);
  border-radius: 12px;
  height: 35px;
  left: 184px;
  position: absolute;
  top: 205px;
  width: 156px;
}

.cancel-order-60 {
  cursor: pointer;
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 150px;
}

.rectangle-27-142 {
  background-color: var(--bg);
  border-radius: 12px;
  cursor: pointer;
  height: 35px;
  left: 9px;
  position: absolute;
  top: 205px;
  width: 156px;
}

.back-to-mypage-11 {
  cursor: pointer;
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 150px;
}

.rectangle-28-11 {
  height: 1px;
  margin-left: 194px;
  margin-top: -523.5px;
  width: 1px;
}

