.component-22-4 {
  align-items: flex-start;
  display: flex;
  height: 57px;
  left: 0;
  min-width: 329px;
  position: absolute;
  top: 98px;
}

.overlap-group5-202 {
  height: 57px;
  position: relative;
  width: 329px;
}

.rectangle-51-2 {
  background-color: var(--mercury-2);
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 326px;
}

.user-1 {
  height: 33px;
  left: 9px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.color-10 {
  left: 53px;
  letter-spacing: 0;
  position: absolute;
  top: 8px;
  width: 38px;
}

.yesterday-4 {
  left: 247px;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
  width: 82px;
}

.star-7-1 {
  height: 22px;
  left: 54px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.icon-star-438 {
  height: 22px;
  left: 80px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.icon-star-439 {
  height: 22px;
  left: 108px;
  position: absolute;
  top: 28px;
  width: 24px;
}

