.component-32 {
  align-items: flex-end;
  display: flex;
  height: 176px;
  justify-content: center;
  left: 24px;
  min-width: 336px;
  position: absolute;
  top: 255px;
}

.overlap-group4-167 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -8px;
  min-height: 184px;
  padding: 8px 4.0px;
  width: 344px;
}

.seans-restaurant-33 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 30.0px;
  min-height: 39px;
  width: 240px;
}

.overlap-group-721 {
  height: 52px;
  position: relative;
  width: 300px;
}

.text-52 {
  left: 34px;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 92px;
}

.min-waiting-1 {
  left: 111px;
  letter-spacing: 0;
  position: absolute;
  top: 14px;
  width: 184px;
}

.line-1-112 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.flex-row-403 {
  align-items: center;
  display: flex;
  margin-right: 5.0px;
  margin-top: 38px;
  min-width: 306px;
}

.overlap-group1-463 {
  height: 28px;
  margin-top: 0.56px;
  position: relative;
  width: 62px;
}

.x270m {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 62px;
}

.line-4-12 {
  height: 28px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 1px;
}

.icon-star-394 {
  align-self: flex-end;
  height: 29px;
  width: 30px;
}

.text-53 {
  letter-spacing: 0;
  margin-bottom: 2.44px;
  margin-left: 5px;
  min-height: 23px;
  width: 68px;
}

.line-5-68 {
  height: 28px;
  margin-left: 4px;
  margin-top: 0.56px;
  width: 1px;
}

.overlap-group2-313 {
  align-self: flex-start;
  height: 29px;
  margin-left: 10px;
  position: relative;
  width: 126px;
}

.are-going-15 {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 105px;
}

.number-205 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

