.group-242 {
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
  min-width: 392px;
}

.overlap-group8-2 {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  height: 108px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 11px 7px;
}

.x1-12 {
  align-self: flex-end;
  height: 85px;
  object-fit: cover;
  width: 85px;
}

.overlap-group2-44 {
  height: 76px;
  margin-left: 10px;
  position: relative;
  width: 279px;
}

.a-soup-shop-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.overlap-group1-50 {
  height: 13px;
  left: 131px;
  position: absolute;
  top: 10px;
  width: 45px;
}

.rectangle-66-7 {
  background-color: var(--white);
  border-radius: 5px;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}

.fastfood-10 {
  left: 8px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 35px;
}

.group-242.group-242-2 {
  margin-top: 13px;
}

.group-242.group-242-3 {
  margin-left: 2.0px;
}

