.group-481,
.group-474,
.group-486,
.group-444,
.group-448,
.group-465 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 57px;
  position: absolute;
  top: 19px;
  width: 279px;
}

.flex-row-17,
.flex-row-18,
.flex-row-19,
.flex-row-20,
.flex-row-21,
.flex-row-22 {
  align-items: flex-end;
  display: flex;
  min-width: 277px;
}

.address-19,
.address-20,
.address-21,
.address-22,
.address-23,
.address-24 {
  color: transparent;
  font-weight: 500;
  min-height: 24px;
  min-width: 115px;
}

.span0-11,
.span0-12,
.span0-13,
.span0-14,
.span0-15,
.span0-16 {
  color: var(--saffron);
  font-weight: 500;
}

.span1-18,
.span1-20,
.span1-22,
.span1-24,
.span1-26,
.span1-28 {
  letter-spacing: 0;
}

.vector-86,
.vector-87,
.vector-88,
.vector-89,
.vector-90,
.vector-91 {
  height: 31px;
  margin-left: 145px;
  width: 17px;
}

.overlap-group-69,
.overlap-group-70,
.overlap-group-71,
.overlap-group-72,
.overlap-group-73,
.overlap-group-74 {
  height: 24px;
  margin-top: 2px;
  position: relative;
  width: 260px;
}

.icon-star-20,
.icon-star-21,
.icon-star-22,
.icon-star-23,
.icon-star-24,
.icon-star-25 {
  height: 22px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 23px;
}

.x100m-45-12-are-going-1,
.x100m-45-12-are-going-2,
.x100m-45-12-are-going-3,
.x100m-45-12-are-going-4,
.x100m-45-12-are-going-5,
.x100m-45-12-are-going-6 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.span1-19,
.span1-21,
.span1-23,
.span1-25,
.span1-27,
.span1-29 {
  color: var(--black);
  font-weight: 500;
}

