.completedpreordercancelmodal7 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.overlap-group4-83 {
  height: 864px;
  margin-left: -4px;
  position: relative;
  width: 398px;
}

.my-book-48 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  top: 34px;
  width: 227px;
}

.icon-close-41 {
  cursor: pointer;
  height: 30px;
  left: 345px;
  position: absolute;
  top: 45px;
  width: 30px;
}

.line-2-36 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 89px;
  width: 292px;
}

.overlap-group-373 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 12px;
  display: flex;
  height: 40px;
  left: 204px;
  min-width: 180px;
  position: absolute;
  top: 783px;
}

.cancel-order-26,
.write-review-12 {
  letter-spacing: 0;
  min-height: 31px;
  text-align: center;
  width: 180px;
}

.overlap-group1-217 {
  align-items: flex-end;
  background-color: var(--celeste);
  border-radius: 12px;
  display: flex;
  height: 40px;
  left: 15px;
  min-width: 180px;
  position: absolute;
  top: 783px;
}

.rectangle-28-7 {
  background-color: var(--mist-gray);
  height: 864px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 391px;
}

.overlap-group3-118 {
  height: 250px;
  left: 24px;
  position: absolute;
  top: 251px;
  width: 350px;
}

.rectangle-26-7 {
  background-color: var(--white);
  border-radius: 10px;
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
}

.rectangle-24-7 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 350px;
}

.rectangle-27-14 {
  background-color: var(--bg);
  height: 20px;
  left: 0;
  position: absolute;
  top: 190px;
  width: 350px;
}

.cancel-order-27 {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 78px;
  width: 277px;
}

.icon-caution-7 {
  height: 40px;
  left: 155px;
  position: absolute;
  top: 55px;
  width: 40px;
}

.rectangle-23-7 {
  background-color: var(--orange);
  border-radius: 12px;
  height: 35px;
  left: 184px;
  position: absolute;
  top: 205px;
  width: 156px;
}

.cancel-order-28 {
  cursor: pointer;
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 150px;
}

.rectangle-27-15 {
  background-color: var(--bg);
  border-radius: 12px;
  cursor: pointer;
  height: 35px;
  left: 9px;
  position: absolute;
  top: 205px;
  width: 156px;
}

.back-to-mypage-7 {
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 150px;
}

