.group-10-1,
.group-10-2,
.group-10-3,
.group-10-4,
.group-10-5,
.group-10-6,
.group-10-7,
.group-10-8,
.group-10-9,
.group-10-10,
.group-10-11,
.group-10-12,
.group-10-13,
.group-10-14,
.group-10-15,
.group-10-16,
.group-10-17,
.group-10-18,
.group-10-19,
.group-10-20,
.group-10-21,
.group-10-22,
.group-10-23,
.group-10-24,
.group-10-25,
.group-10-26,
.group-10-27,
.group-10-28,
.group-10-29,
.group-10-30,
.group-10-31,
.group-10-32,
.group-10-33,
.group-10-34,
.group-10-35,
.group-10-36,
.group-10-37,
.group-10-38,
.group-10-39,
.group-10-40,
.group-10-41,
.group-10-42,
.group-10-43,
.group-10-44,
.group-10-45,
.group-10-46,
.group-10-47,
.group-10-48,
.group-10-49,
.group-10-50,
.group-10-51,
.group-10-52,
.group-10-53,
.group-10-54,
.group-10-55,
.group-10-56,
.group-10-57,
.group-10-58,
.group-10-59,
.group-10-60,
.group-10-61,
.group-10-62,
.group-10-63,
.group-10-64,
.group-10-65,
.group-10-66,
.group-10-67,
.group-10-68,
.group-10-69,
.group-10-70,
.group-10-71,
.group-10-72,
.group-10-73,
.group-10-74,
.group-10-75,
.group-10-76,
.group-10-77,
.group-10-78,
.group-10-79,
.group-10-80,
.group-10-81,
.group-10-82,
.group-10-83,
.group-10-84,
.group-10-85,
.group-10-86,
.group-10-87,
.group-10-88,
.group-10-89,
.group-10-90,
.group-10-91,
.group-10-92,
.group-10-93,
.group-10-94,
.group-10-95,
.group-10-96,
.group-10-97,
.group-10-98,
.group-10-99,
.group-10-100,
.group-10-101,
.group-10-102,
.group-10-103,
.group-10-104,
.group-10-105,
.group-10-106,
.group-10-107 {
  align-items: flex-start;
  display: flex;
  margin-left: 6px;
  min-width: 50px;
}

.overlap-group-117,
.overlap-group-118,
.overlap-group-119,
.overlap-group-120,
.overlap-group-121,
.overlap-group-122,
.overlap-group-123,
.overlap-group-124,
.overlap-group-125,
.overlap-group-126,
.overlap-group-127,
.overlap-group-128,
.overlap-group-129,
.overlap-group-130,
.overlap-group-131,
.overlap-group-132,
.overlap-group-133,
.overlap-group-134,
.overlap-group-135,
.overlap-group-136,
.overlap-group-137,
.overlap-group-138,
.overlap-group-139,
.overlap-group-140,
.overlap-group-141,
.overlap-group-142,
.overlap-group-143,
.overlap-group-144,
.overlap-group-145,
.overlap-group-146,
.overlap-group-147,
.overlap-group-148,
.overlap-group-149,
.overlap-group-150,
.overlap-group-151,
.overlap-group-152,
.overlap-group-153,
.overlap-group-154,
.overlap-group-155,
.overlap-group-156,
.overlap-group-157,
.overlap-group-158,
.overlap-group-159,
.overlap-group-160,
.overlap-group-161,
.overlap-group-162,
.overlap-group-163,
.overlap-group-164,
.overlap-group-165,
.overlap-group-166,
.overlap-group-167,
.overlap-group-168,
.overlap-group-169,
.overlap-group-170,
.overlap-group-171,
.overlap-group-172,
.overlap-group-173,
.overlap-group-174,
.overlap-group-175,
.overlap-group-176,
.overlap-group-177,
.overlap-group-178,
.overlap-group-179,
.overlap-group-180,
.overlap-group-181,
.overlap-group-182,
.overlap-group-183,
.overlap-group-184,
.overlap-group-185,
.overlap-group-186,
.overlap-group-187,
.overlap-group-188,
.overlap-group-189,
.overlap-group-190,
.overlap-group-191,
.overlap-group-192,
.overlap-group-193,
.overlap-group-194,
.overlap-group-195,
.overlap-group-196,
.overlap-group-197,
.overlap-group-198,
.overlap-group-199,
.overlap-group-200,
.overlap-group-201,
.overlap-group-202,
.overlap-group-203,
.overlap-group-204,
.overlap-group-205,
.overlap-group-206,
.overlap-group-207,
.overlap-group-208,
.overlap-group-209,
.overlap-group-210,
.overlap-group-211,
.overlap-group-212,
.overlap-group-213,
.overlap-group-214,
.overlap-group-215,
.overlap-group-216,
.overlap-group-217,
.overlap-group-218,
.overlap-group-219,
.overlap-group-220,
.overlap-group-221,
.overlap-group-222,
.overlap-group-223 {
  height: 32px;
  position: relative;
  width: 48px;
}

.group-9-1,
.group-9-2,
.group-9-3,
.group-9-4,
.group-9-5,
.group-9-6,
.group-9-7,
.group-9-8,
.group-9-9,
.group-9-10,
.group-9-11,
.group-9-12,
.group-9-13,
.group-9-14,
.group-9-15,
.group-9-16,
.group-9-17,
.group-9-18,
.group-9-19,
.group-9-20,
.group-9-21,
.group-9-22,
.group-9-23,
.group-9-24,
.group-9-25,
.group-9-26,
.group-9-27,
.group-9-28,
.group-9-29,
.group-9-30,
.group-9-31,
.group-9-32,
.group-9-33,
.group-9-34,
.group-9-35,
.group-9-36,
.group-9-37,
.group-9-38,
.group-9-39,
.group-9-40,
.group-9-41,
.group-9-42,
.group-9-43,
.group-9-44,
.group-9-45,
.group-9-46,
.group-9-47,
.group-9-48,
.group-9-49,
.group-9-50,
.group-9-51,
.group-9-52,
.group-9-53,
.group-9-54,
.group-9-55,
.group-9-56,
.group-9-57,
.group-9-58,
.group-9-59,
.group-9-60,
.group-9-61,
.group-9-62,
.group-9-63,
.group-9-64,
.group-9-65,
.group-9-66,
.group-9-67,
.group-9-68,
.group-9-69,
.group-9-70,
.group-9-71,
.group-9-72,
.group-9-73,
.group-9-74,
.group-9-75,
.group-9-76,
.group-9-77,
.group-9-78,
.group-9-79,
.group-9-80,
.group-9-81,
.group-9-82,
.group-9-83,
.group-9-84,
.group-9-85,
.group-9-86,
.group-9-87,
.group-9-88,
.group-9-89,
.group-9-90,
.group-9-91,
.group-9-92,
.group-9-93,
.group-9-94,
.group-9-95,
.group-9-96,
.group-9-97,
.group-9-98,
.group-9-99,
.group-9-100,
.group-9-101,
.group-9-102,
.group-9-103,
.group-9-104,
.group-9-105,
.group-9-106,
.group-9-107 {
  background-color: var(--bg);
  border-radius: 5px;
  height: 31px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 48px;
}

.number-16,
.number-17,
.number-18,
.number-19,
.number-20,
.number-21,
.number-22,
.number-23,
.number-24,
.number-25,
.number-26,
.number-27,
.number-28,
.number-29,
.number-30,
.number-31,
.number-32,
.number-33,
.number-34,
.number-35,
.number-36,
.number-37,
.number-38,
.number-39,
.number-40,
.number-41,
.number-42,
.number-43,
.number-44,
.number-45,
.number-46,
.number-47,
.number-48,
.number-49,
.number-50,
.number-51,
.number-52,
.number-53,
.number-54,
.number-55,
.number-56,
.number-57,
.number-58,
.number-59,
.number-60,
.number-61,
.number-62,
.number-63,
.number-64,
.number-65,
.number-66,
.number-67,
.number-68,
.number-69,
.number-70,
.number-71,
.number-72,
.number-73,
.number-74,
.number-75,
.number-76,
.number-77,
.number-78,
.number-79,
.number-80,
.number-81,
.number-82,
.number-83,
.number-84,
.number-85,
.number-86,
.number-87,
.number-88,
.number-89,
.number-90,
.number-91,
.number-92,
.number-93,
.number-94,
.number-95,
.number-96,
.number-97,
.number-98,
.number-99,
.number-100,
.number-101,
.number-102,
.number-103,
.number-104,
.number-105,
.number-106,
.number-107,
.number-108,
.number-109,
.number-110,
.number-111,
.number-112,
.number-113,
.number-114,
.number-115,
.number-116,
.number-117,
.number-118,
.number-119,
.number-120,
.number-121,
.number-122 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

