.group-7-1 {
  align-items: center;
  background-color: var(--celeste);
  border-radius: 15px;
  display: flex;
  height: 30px;
  margin-top: 0.03px;
  min-width: 30px;
  padding: 0 4.5px;
}

.outline_remove_black_24dp-1 {
  height: 21px;
  object-fit: cover;
  width: 21px;
}

.group-7-1.group-8-2,
.group-7-1.group-8-3,
.group-7-1.group-8-5,
.group-7-1.group-8-7,
.group-7-1.group-8-8,
.group-7-1.group-8-9,
.group-7-1.group-8-10,
.group-7-1.group-8-11,
.group-7-1.group-8-12,
.group-7-1.group-8-29,
.group-7-1.group-8-36,
.group-7-1.group-8-37,
.group-7-1.group-8-38,
.group-7-1.group-8-40,
.group-7-1.group-8-41,
.group-7-1.group-8-42,
.group-7-1.group-8-43,
.group-7-1.group-8-44,
.group-7-1.group-8-45,
.group-7-1.group-8-46,
.group-7-1.group-8-47,
.group-7-1.group-8-48,
.group-7-1.group-8-49 {
  background-color: var(--bg);
  margin-left: 4px;
}

.group-7-1.group-8-4,
.group-7-1.group-8-6,
.group-7-1.group-8-13,
.group-7-1.group-8-14,
.group-7-1.group-8-15,
.group-7-1.group-8-16,
.group-7-1.group-8-17,
.group-7-1.group-8-18,
.group-7-1.group-8-19,
.group-7-1.group-8-20,
.group-7-1.group-8-21,
.group-7-1.group-8-22,
.group-7-1.group-8-23,
.group-7-1.group-8-24,
.group-7-1.group-8-25,
.group-7-1.group-8-26,
.group-7-1.group-8-27,
.group-7-1.group-8-28,
.group-7-1.group-8-30,
.group-7-1.group-8-31,
.group-7-1.group-8-32,
.group-7-1.group-8-33,
.group-7-1.group-8-34,
.group-7-1.group-8-35,
.group-7-1.group-8-39 {
  margin-left: 4px;
}

.group-7-1.group-7-5,
.group-7-1.group-7-6,
.group-7-1.group-7-10,
.group-7-1.group-7-14,
.group-7-1.group-7-15,
.group-7-1.group-7-16,
.group-7-1.group-7-17,
.group-7-1.group-7-18,
.group-7-1.group-7-19,
.group-7-1.group-7-20,
.group-7-1.group-7-21,
.group-7-1.group-7-22,
.group-7-1.group-7-23,
.group-7-1.group-7-24,
.group-7-1.group-7-25,
.group-7-1.group-7-26,
.group-7-1.group-7-27,
.group-7-1.group-7-28,
.group-7-1.group-7-29,
.group-7-1.group-7-30,
.group-7-1.group-7-31,
.group-7-1.group-7-32,
.group-7-1.group-7-33,
.group-7-1.group-7-34,
.group-7-1.group-7-35,
.group-7-1.group-7-36,
.group-7-1.group-7-37,
.group-7-1.group-7-51,
.group-7-1.group-7-53,
.group-7-1.group-7-54,
.group-7-1.group-7-55,
.group-7-1.group-7-57,
.group-7-1.group-7-58,
.group-7-1.group-7-59 {
  background-color: var(--bg);
}

.group-7-1.group-11-2,
.group-7-1.group-11-3,
.group-7-1.group-11-4,
.group-7-1.group-11-5 {
  background-color: var(--bg);
  border-radius: 30px;
  margin-top: unset;
}

.group-7-1.group-7-56 {
  background-color: var(--bg);
  margin-top: unset;
}

.group-7-1.group-8-50,
.group-7-1.group-8-53 {
  background-color: var(--bg);
  margin-left: 6px;
  margin-top: unset;
}

.group-7-1.group-8-51,
.group-7-1.group-8-52 {
  background-color: var(--bg);
  margin-left: 6px;
}

