.group-8-11 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 15px;
  display: flex;
  height: 30px;
  margin-left: 4px;
  margin-top: 0.03px;
  min-width: 30px;
  padding: 0 4.5px;
}

.outline_add_black_24dp-1 {
  height: 21px;
  object-fit: cover;
  width: 21px;
}

.group-8-11.group-7-12,
.group-8-11.group-7-14,
.group-8-11.group-7-15,
.group-8-11.group-7-16,
.group-8-11.group-7-18,
.group-8-11.group-7-19,
.group-8-11.group-7-20 {
  margin-left: unset;
}

.group-8-11.group-7-13 {
  background-color: var(--celeste);
  margin-left: unset;
}

.group-8-11.group-11-2,
.group-8-11.group-11-3,
.group-8-11.group-11-4,
.group-8-11.group-11-5 {
  border-radius: 30px;
  margin-left: unset;
  margin-top: unset;
}

.group-8-11.group-7-17 {
  margin-left: unset;
  margin-top: unset;
}

.group-8-11.group-8-19,
.group-8-11.group-8-22 {
  margin-left: 6px;
  margin-top: unset;
}

.group-8-11.group-8-20,
.group-8-11.group-8-21 {
  margin-left: 6px;
}

