.menu-detail2collarbutt10 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  padding: 42px 0;
  position: relative;
  width: 390px;
}

.flex-row-527 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 39px;
  margin-left: 6px;
  margin-top: 3px;
  min-width: 311px;
}

.vector-655 {
  cursor: pointer;
  height: 25px;
  margin-top: 2.0px;
  width: 36px;
}

.hanam-bbq-132 {
  letter-spacing: 0;
  margin-left: 18px;
  min-height: 39px;
  width: 257px;
}

.overlap-group4-241 {
  height: 418px;
  margin-left: 0;
  margin-top: 25px;
  position: relative;
  width: 390px;
}

.image-14-14 {
  height: 263px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.overlap-group3-403 {
  height: 86px;
  margin-left: 23.0px;
  margin-top: 48px;
  position: relative;
  width: 303px;
}

.icon-check_mark-123 {
  cursor: pointer;
  height: 25px;
  left: 2px;
  position: absolute;
  top: 48px;
  width: 27px;
}

.icon-check_mark-124 {
  cursor: pointer;
  height: 25px;
  left: 1px;
  position: absolute;
  top: 5px;
  width: 27px;
}

.line-20-124 {
  height: 2px;
  margin-left: 0.01px;
  margin-top: 20px;
  width: 390px;
}

