.filter-main-category-rating-200m {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.component-29-32 {
  height: 78px;
  margin-top: -2px;
  width: 390px;
}

.overlap-group5-145 {
  height: 766px;
  margin-left: -7px;
  margin-top: 2px;
  position: relative;
  width: 404px;
}

.image-1-33 {
  height: 766px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.ellipse-16-27 {
  background-color: var(--malibu-2);
  border-radius: 19px;
  height: 38px;
  left: 196px;
  position: absolute;
  top: 404px;
  width: 38px;
}

.ellipse-17-27 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 208px;
  position: absolute;
  top: 417px;
  width: 15px;
}

.polygon-2-27 {
  height: 6px;
  left: 212px;
  position: absolute;
  top: 412px;
  width: 6px;
}

.group-64-26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 93px;
  position: absolute;
  top: 673px;
  width: 404px;
}

.group-container-160 {
  align-items: center;
  display: flex;
  margin-left: 22px;
  min-width: 225px;
}

.group-62-26 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  min-width: 32px;
  padding: 3px;
}

.vector-495 {
  height: 25px;
  width: 25px;
}

.group-63-34 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 108px;
  margin-top: 1.0px;
  min-width: 85px;
}

.overlap-group-943 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 25px;
  min-width: 83px;
  padding: 6px 8px;
}

.vector-496 {
  align-self: center;
  height: 11px;
  width: 18px;
}

.see-list-27 {
  letter-spacing: 0;
  margin-left: 7px;
  min-height: 12px;
  width: 40px;
}

.group-container-161 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 50px;
  margin-top: 11px;
  min-width: 404px;
  padding: 11px 20px;
  position: relative;
}

.group-47-89 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 87px;
}

.overlap-group1-551 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  min-width: 85px;
  padding: 4px 5px;
}

.category-126 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 57px;
}

.vector-497 {
  align-self: center;
  height: 8px;
  margin-left: 9px;
  width: 8px;
}

.group-49-82 {
  align-items: flex-start;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group2-428 {
  height: 26px;
  position: relative;
  width: 77px;
}

.rectangle-33-7 {
  background-color: var(--white);
  border-radius: 15px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.seats-128 {
  left: 19px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
}

.overlap-group-944 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 0;
  min-width: 75px;
  padding: 4px 18px;
  position: absolute;
  top: 0;
}

.seats-129,
.seats-130,
.rating-99 {
  letter-spacing: 0;
  min-height: 17px;
}

.group-50-80 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 26px;
  left: 0;
  min-width: 77px;
  position: absolute;
  top: 0;
}

.overlap-group1-552 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 75px;
  padding: 3px 18px;
}

.group-50-81 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group3-348 {
  background-color: var(--white);
  border-radius: 15px;
  height: 26px;
  position: relative;
  width: 75px;
}

.rating-98 {
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
}

.overlap-group-945 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: -1px;
  min-width: 75px;
  padding: 4px 16px;
  position: absolute;
  top: -1px;
}

.ellipse-1-29 {
  background-color: var(--apple);
  border-radius: 7.5px;
  cursor: pointer;
  height: 15px;
  left: 106px;
  position: absolute;
  top: 400px;
  width: 15px;
}

.hanam-bbq-115 {
  left: 93px;
  letter-spacing: 0;
  position: absolute;
  top: 414px;
  width: 57px;
}

