.group-248-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  margin-top: 54px;
  min-height: 105px;
  width: 371px;
}

.flex-row-39 {
  align-items: center;
  display: flex;
  height: 39px;
  margin-left: 5px;
  min-width: 334px;
}

.we-are-1 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.group-13-1 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 2px;
  margin-top: 0.97px;
  min-width: 120px;
  position: relative;
}

.people-1 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 39px;
  text-align: center;
  width: 105px;
}

.flex-row-40 {
  align-items: flex-start;
  display: flex;
  margin-top: 27px;
  min-width: 361px;
}

.well-be-in-1 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 129px;
}

.overlap-group1-92 {
  height: 39px;
  margin-left: 5px;
  position: relative;
  width: 227px;
}

.group-11-6 {
  background-color: var(--bg);
  height: 30px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 134px;
}

.mins-1 {
  left: 122px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.line-6-2 {
  height: 30px;
  left: 106px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.arrow-drop-down-1 {
  height: 15px;
  left: 113px;
  position: absolute;
  top: 13px;
  width: 15px;
}

.select-1 {
  left: 32px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 51px;
}

.group-248-1.group-248-2,
.group-248-1.group-248-3 {
  left: 0;
  margin-left: unset;
  margin-top: unset;
  position: absolute;
  top: 0;
}

