.filter-main-category-6-100m {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.flex-col-460 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: -6px;
  margin-top: -2.5px;
  min-height: 852px;
  width: 404px;
}

.component-29-65 {
  height: 78px;
  margin-right: 2.0px;
  width: 390px;
}

.overlap-group10-36 {
  height: 771px;
  margin-top: 2px;
  position: relative;
  width: 404px;
}

.rectangle-102-3 {
  background-color: var(--white);
  cursor: pointer;
  height: 30px;
  left: 141px;
  position: absolute;
  top: 602px;
  width: 125px;
}

.image-1-49 {
  height: 766px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.vector-658 {
  height: 1px;
  left: 369px;
  position: absolute;
  top: 635px;
  width: 1px;
}

.ellipse-16-43 {
  background-color: var(--malibu-2);
  border-radius: 19px;
  height: 38px;
  left: 195px;
  position: absolute;
  top: 404px;
  width: 38px;
}

.ellipse-17-43 {
  background-color: var(--persian-red);
  border-radius: 7.5px;
  height: 15px;
  left: 207px;
  position: absolute;
  top: 417px;
  width: 15px;
}

.polygon-2-43 {
  height: 6px;
  left: 211px;
  position: absolute;
  top: 412px;
  width: 6px;
}

.group-64-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 93px;
  position: absolute;
  top: 678px;
  width: 404px;
}

.group-container-199 {
  align-items: center;
  display: flex;
  margin-left: 22px;
  min-width: 225px;
}

.group-62-42 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  min-width: 32px;
  padding: 3px;
}

.vector-656 {
  height: 25px;
  width: 25px;
}

.group-63-50 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 108px;
  margin-top: 1.0px;
  min-width: 85px;
}

.overlap-group-1037 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 25px;
  min-width: 83px;
  padding: 6px 8px;
}

.vector-657 {
  align-self: center;
  height: 11px;
  width: 18px;
}

.see-list-43 {
  letter-spacing: 0;
  margin-left: 7px;
  min-height: 12px;
  width: 40px;
}

.group-container-200 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 50px;
  margin-top: 11px;
  min-width: 404px;
  padding: 9px 20px;
  position: relative;
}

.group-65-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 92px;
  position: absolute;
  top: 678px;
  width: 404px;
}

.overlap-group-container-64 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 54px;
  margin-top: 6px;
  min-width: 404px;
  padding: 11px 20px;
}

.overlap-group-1038 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 85px;
  padding: 4px 6px;
}

.distance-125 {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 58px;
}

.vector-659 {
  align-self: center;
  height: 8px;
  margin-left: 7px;
  width: 8px;
}

.overlap-group-container-65 {
  height: 27px;
  margin-left: 14px;
  position: relative;
  width: 87px;
}

.overlap-group1-607 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 87px;
}

.rectangle-81-19 {
  background-color: var(--white);
  border-radius: 15px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 85px;
}

.category-170 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
}

.vector-660 {
  height: 8px;
  left: 72px;
  position: absolute;
  top: 9px;
  width: 8px;
}

.group-47-122 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 26px;
  left: 0;
  min-width: 87px;
  position: absolute;
  top: 0;
}

.overlap-group-1039 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  min-width: 85px;
  padding: 4px 5px;
}

.category-171 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 57px;
}

.vector-661 {
  align-self: center;
  height: 8px;
  margin-left: 9px;
  width: 8px;
}

.overlap-group4-242 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  left: 0;
  min-width: 85px;
  padding: 3.1px 5px;
  position: absolute;
  top: 0;
}

.category-172 {
  letter-spacing: 0;
  min-height: 17px;
  width: 57px;
}

.vector-662 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.25px;
  margin-left: 9px;
  width: 8px;
}

.overlap-group2-464 {
  height: 26px;
  margin-left: 12px;
  position: relative;
  width: 77px;
}

.rectangle-33-14 {
  background-color: var(--white);
  border-radius: 15px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.seats-187 {
  left: 19px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
}

.group-82 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 26px;
  left: 0;
  min-width: 77px;
  position: absolute;
  top: 0;
}

.overlap-group-1040 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 75px;
  padding: 3px 18px;
}

.seats-188,
.rating-138,
.rating-139 {
  letter-spacing: 0;
  min-height: 17px;
}

.group-container-201 {
  height: 26px;
  margin-left: 10px;
  position: relative;
  width: 77px;
}

.overlap-group3-404 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  left: 0;
  min-width: 75px;
  padding: 3px 16px;
  position: absolute;
  top: 0;
}

.overlap-group5-164 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 26px;
  min-width: 75px;
  padding: 3px 16px;
}

.overlap-group9-46 {
  height: 121px;
  left: 10px;
  position: absolute;
  top: 600px;
  width: 382px;
}

.rectangle-91-11 {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 121px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 379px;
}

.reset-31 {
  cursor: pointer;
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 102px;
}

.surname-11 {
  left: 51px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.dessert-11 {
  left: 40px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
}

.salad-11 {
  left: 179px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
}

.lunch-11 {
  left: 303px;
  letter-spacing: 0;
  position: absolute;
  top: 10px;
}

.line-39-12 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 34px;
  width: 379px;
}

.line-40-12 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 66px;
  width: 379px;
}

.line-41-12 {
  height: 97px;
  left: 129px;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-42-12 {
  height: 97px;
  left: 258px;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-43-12 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 379px;
}

.ellipse-20-43 {
  background-color: var(--c4c4c4);
  border-radius: 2.5px;
  cursor: pointer;
  height: 5px;
  left: 182px;
  position: absolute;
  top: 106px;
  width: 5px;
}

.ellipse-21-12 {
  background-color: var(--orange);
  border-radius: 2.5px;
  height: 5px;
  left: 197px;
  position: absolute;
  top: 106px;
  width: 5px;
}

.meat-62 {
  cursor: pointer;
  left: 181px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.rectangle-29-29 {
  height: 1px;
  margin-left: 152px;
  margin-top: 288.75px;
  width: 1px;
}

