.component-20 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 201px;
  min-width: 26px;
  position: absolute;
  top: 733px;
}

.overlap-group-1 {
  height: 41px;
  margin-top: -1px;
  position: relative;
  width: 26px;
}

.rectangle-48-1 {
  background-color: var(--bg);
  border-radius: 5px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 26px;
}

.minus {
  left: 4px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.component-20.component-20-1 {
  left: 203px;
  top: 1px;
}

.component-20.component-20-2,
.component-20.component-20-7 {
  left: 202px;
  top: 1px;
}

.component-20.component-20-3,
.component-20.component-20-9 {
  left: 202px;
}

.component-20.component-20-4,
.component-20.component-20-5,
.component-20.component-20-8 {
  top: 1px;
}

.component-20.component-20-10,
.component-20.component-20-11 {
  top: 0;
}

