.component-20-13 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 201px;
  min-width: 26px;
  position: absolute;
  top: 733px;
}

.overlap-group-1090 {
  height: 41px;
  margin-top: -1px;
  position: relative;
  width: 26px;
}

.rectangle-48-1 {
  background-color: var(--bg);
  border-radius: 5px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 26px;
}

.minus {
  left: 4px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.component-20-13.component-20-14 {
  left: 203px;
  top: 1px;
}

.component-20-13.component-20-15,
.component-20-13.component-20-20 {
  left: 202px;
  top: 1px;
}

.component-20-13.component-20-16,
.component-20-13.component-20-22 {
  left: 202px;
}

.component-20-13.component-20-17,
.component-20-13.component-20-18,
.component-20-13.component-20-21 {
  top: 1px;
}

.component-20-13.component-20-23,
.component-20-13.component-20-24 {
  top: 0;
}

