.bubble {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 101px;
  width: 112px;
}

.sushi-best {
  letter-spacing: 0;
  margin-right: 3px;
  margin-top: 22px;
  min-height: 16px;
  width: 84px;
}

.overlap-group-103 {
  align-self: center;
  height: 36px;
  margin-left: 7.29px;
  margin-top: 4px;
  position: relative;
  width: 83px;
}

.seat-left-9 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 22px;
  width: 39px;
}

.x10-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 83px;
}

.are-going-6 {
  left: 47px;
  letter-spacing: 0;
  position: absolute;
  top: 23px;
  width: 34px;
}

.ellipse-1-12 {
  background-color: var(--apple);
  border-radius: 9.5px/8.5px;
  height: 17px;
  margin-top: 24px;
  width: 19px;
}

.bubble.bubble-1 {
  background-image: url(/static/img/mode-comment-2@2x.png);
  left: 139px;
  position: absolute;
  top: 96px;
}

.bubble.bubble-1 .span-62 {
  color: var(--harlequin);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 800;
}

.bubble.bubble-1 .ellipse-1-12 {
  background-color: var(--harlequin);
}

.bubble.bubble-2 {
  cursor: pointer;
}

