.component-33 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  left: 42px;
  min-height: 210px;
  padding: 11px 9px;
  position: absolute;
  top: 208px;
  width: 319px;
}

.pork-belly-50 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 54px;
  width: 261px;
}

.overlap-group1-339 {
  height: 125px;
  margin-top: 8px;
  position: relative;
  width: 281px;
}

.x15200-won-102 {
  left: 151px;
  letter-spacing: 0;
  position: absolute;
  top: 82px;
  width: 130px;
}

.the-savory-pork-bell-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 230px;
}

.component-33.component-28,
.component-33.component-28-1,
.component-33.component-28-14,
.component-33.component-28-15,
.component-33.component-28-28,
.component-33.component-28-29,
.component-33.component-28-32,
.component-33.component-28-33,
.component-33.component-28-58,
.component-33.component-28-59,
.component-33.component-28-63,
.component-33.component-28-64,
.component-33.component-28-93,
.component-33.component-28-94,
.component-33.component-28-108,
.component-33.component-28-109 {
  left: 35px;
}

.component-33.component-28-8,
.component-33.component-28-9,
.component-33.component-28-22,
.component-33.component-28-23,
.component-33.component-28-48,
.component-33.component-28-49,
.component-33.component-28-52,
.component-33.component-28-53,
.component-33.component-28-78,
.component-33.component-28-82,
.component-33.component-28-88,
.component-33.component-28-90,
.component-33.component-28-105,
.component-33.component-28-106,
.component-33.component-28-120,
.component-33.component-28-122 {
  top: 225px;
}

.component-33.component-28-12,
.component-33.component-28-13,
.component-33.component-28-26,
.component-33.component-28-27,
.component-33.component-28-50,
.component-33.component-28-51,
.component-33.component-28-54,
.component-33.component-28-55,
.component-33.component-28-80,
.component-33.component-28-81,
.component-33.component-28-83,
.component-33.component-28-84,
.component-33.component-28-101,
.component-33.component-28-102,
.component-33.component-28-114,
.component-33.component-28-117 {
  left: 34px;
}

.component-33.component-28-87,
.component-33.component-28-89,
.component-33.component-28-121 {
  top: 317px;
}

