.group-245 {
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
  min-width: 392px;
}

.overlap-group8 {
  align-items: flex-start;
  background-color: var(--bg);
  display: flex;
  height: 108px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 11px 7px;
}

.x1-3 {
  height: 85px;
  object-fit: cover;
  width: 85px;
}

.overlap-group2-27 {
  align-self: center;
  height: 76px;
  margin-left: 11px;
  position: relative;
  width: 279px;
}

.group-470 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 57px;
  position: absolute;
  top: 19px;
  width: 279px;
}

.flex-row-1 {
  align-items: flex-end;
  display: flex;
  min-width: 277px;
}

.address-3 {
  color: transparent;
  font-weight: 500;
  min-height: 24px;
  min-width: 125px;
}

.span0-2 {
  color: var(--apple);
  font-weight: 500;
}

.span1-2 {
  letter-spacing: 0;
}

.vector-68 {
  height: 31px;
  margin-left: 135px;
  width: 17px;
}

.overlap-group-48 {
  height: 24px;
  margin-top: 2px;
  position: relative;
  width: 250px;
}

.icon-star-1 {
  height: 22px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 23px;
}

.x200m-47-1-are-going,
.sushisaku-13 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.span1-3 {
  color: var(--black);
  font-weight: 500;
}

.overlap-group1-30 {
  height: 14px;
  left: 112px;
  position: absolute;
  top: 6px;
  width: 43px;
}

.rectangle-66 {
  background-color: var(--white);
  border-radius: 5px;
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.language-3 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 35px;
}

.group-245.group-245-1 {
  margin-left: 1px;
}

.group-245.group-245-2,
.group-245.group-245-3 {
  margin-top: 4px;
}

.group-245.group-245-4,
.group-245.group-245-5,
.group-245.group-245-6 {
  margin-left: 2.0px;
}

