.hanam-details-pl {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  width: 390px;
}

.overlap-group6-66 {
  height: 439px;
  position: relative;
  width: 390px;
}

.image-7-2 {
  height: 317px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.rectangle-38-17 {
  height: 184px;
  left: 23px;
  position: absolute;
  top: 255px;
  width: 344px;
}

.are-going-27 {
  left: 267px;
  letter-spacing: 0;
  position: absolute;
  top: 394px;
  width: 91px;
}

.text-136 {
  left: 130px;
  letter-spacing: 0;
  position: absolute;
  top: 302px;
  width: 138px;
}

.seat-left-19 {
  left: 197px;
  letter-spacing: 0;
  position: absolute;
  top: 316px;
  width: 126px;
}

.line-1-126 {
  height: 2px;
  left: 63px;
  position: absolute;
  top: 302px;
  width: 300px;
}

.hanam-bbq-99 {
  left: 122px;
  letter-spacing: 0;
  position: absolute;
  top: 263px;
  width: 168px;
}

.x180m-5 {
  left: 52px;
  letter-spacing: 0;
  position: absolute;
  top: 393px;
  width: 62px;
}

.line-4-24 {
  height: 28px;
  left: 106px;
  position: absolute;
  top: 393px;
  width: 1px;
}

.line-5-82 {
  height: 28px;
  left: 222px;
  position: absolute;
  top: 393px;
  width: 1px;
}

.text-137 {
  left: 150px;
  letter-spacing: 0;
  position: absolute;
  top: 394px;
  width: 68px;
}

.number-225 {
  left: 232px;
  letter-spacing: 0;
  position: absolute;
  top: 392px;
  width: 43px;
}

.icon-star-406 {
  height: 29px;
  left: 114px;
  position: absolute;
  top: 392px;
  width: 30px;
}

.vector-311 {
  cursor: pointer;
  height: 25px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 36px;
}

.overlap-group8-30 {
  align-self: center;
  height: 285px;
  margin-right: 0.5px;
  margin-top: 32px;
  position: relative;
  width: 336px;
}

.overlap-group-810 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 0;
  min-width: 76px;
  padding: 0 1px;
  position: absolute;
  top: 5px;
}

.menu-83 {
  letter-spacing: 0;
  min-height: 32px;
  width: 68px;
}

.group-container-130 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 89px;
  min-width: 246px;
  position: absolute;
  top: 4px;
}

.group-20-18 {
  align-items: flex-start;
  align-self: center;
  cursor: pointer;
  display: flex;
  min-width: 63px;
}

.overlap-group1-506 {
  align-items: flex-start;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 3px;
}

.info-60,
.map-24 {
  letter-spacing: 0;
  min-height: 32px;
  width: 48px;
}

.group-21-18 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 14px;
  min-width: 95px;
}

.overlap-group3-251 {
  height: 34px;
  position: relative;
  width: 93px;
}

.rectangle-39-24 {
  background-color: var(--bg);
  border-radius: 10px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.review-75 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 84px;
}

.group-22-18 {
  align-items: flex-start;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  margin-left: 11px;
  min-width: 63px;
}

.overlap-group2-376 {
  align-items: flex-end;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 61px;
  padding: 0 6px;
}

.overlap-group10-25 {
  height: 285px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.overlap-group9-34 {
  height: 242px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 336px;
}

.pork-belly-183 {
  cursor: pointer;
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 28px;
  width: 190px;
}

.pork-neck-5 {
  cursor: pointer;
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 110px;
  width: 190px;
}

.pork-lib-3 {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 192px;
  width: 190px;
}

.line-container-58 {
  height: 241px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.line-12-21 {
  height: 241px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-15-15 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 82px;
  width: 300px;
}

.line-16-15 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 164px;
  width: 300px;
}

.line-container-59 {
  height: 241px;
  left: 81px;
  position: absolute;
  top: 0;
  width: 255px;
}

.line-13-21 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 255px;
}

.line-14-21 {
  height: 241px;
  left: 250px;
  position: absolute;
  top: 0;
  width: 4px;
}

.line-9-21 {
  height: 44px;
  left: 80px;
  position: absolute;
  top: 0;
  width: 2px;
}

.group-231 {
  align-items: flex-start;
  display: flex;
  margin-right: 17px;
  margin-top: 5px;
  min-width: 60px;
}

.overlap-group4-191 {
  border-radius: 29px;
  height: 58px;
  position: relative;
  width: 58px;
}

.group-26-4 {
  align-items: flex-end;
  background-color: var(--orange);
  border-radius: 29px;
  cursor: pointer;
  display: flex;
  height: 58px;
  left: 0;
  min-width: 58px;
  padding: 8px 9px;
  position: absolute;
  top: 0;
}

.icon-cart-15 {
  height: 32px;
  width: 32px;
}

.number-226 {
  left: 38px;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 20px;
}

