.filter-list-rating-200m {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 844px;
  min-width: 390px;
  overflow: hidden;
  width: 100%;
}

.component-29-52 {
  height: 69px;
  margin-top: -2.5px;
  width: 390px;
}

.group-90-19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 11.5px;
  min-height: 380px;
  width: 390px;
}

.line-container-92 {
  height: 2px;
  margin-right: 0;
  position: relative;
  width: 390px;
}

.line-2-154 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.line-29-45 {
  height: 2px;
  left: 146px;
  position: absolute;
  top: 0;
  width: 107px;
}

.group-51-52 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 5px;
  min-width: 360px;
}

.group-48-61 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 87px;
}

.overlap-group-1008 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 85px;
  padding: 4.1px 6px;
}

.distance-116 {
  letter-spacing: 0;
  min-height: 18px;
  width: 58px;
}

.vector-591 {
  align-self: center;
  height: 8px;
  margin-bottom: 0.25px;
  margin-left: 7px;
  width: 8px;
}

.group-47-109 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 87px;
}

.overlap-group1-584 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 85px;
  padding: 3.1px 5px;
}

.category-151 {
  letter-spacing: 0;
  min-height: 17px;
  width: 57px;
}

.vector-592 {
  align-self: center;
  height: 8px;
  margin-bottom: 2.25px;
  margin-left: 9px;
  width: 8px;
}

.group-49-102 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 12px;
  min-width: 77px;
}

.overlap-group2-449 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 75px;
  padding: 4.2px 18px;
}

.seats-168 {
  letter-spacing: 0;
  min-height: 18px;
  width: 38px;
}

.group-50-103 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  min-width: 77px;
}

.overlap-group3-387 {
  border-radius: 15px;
  height: 27px;
  position: relative;
  width: 75px;
}

.rectangle-60-8 {
  background-color: var(--orange);
  border-radius: 15px;
  cursor: pointer;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.rating-123 {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
  width: 42px;
}

.overlap-group4-232 {
  height: 108px;
  margin-right: 0;
  margin-top: 8px;
  position: relative;
  width: 390px;
}

.overlap-group3-388 {
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.rectangle-67-9 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 182px;
  position: absolute;
  top: 25px;
  width: 28px;
}

.asian-38 {
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  top: 25px;
}

.rectangle-2-5 {
  background-color: var(--white);
  height: 85px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 85px;
}

.x1-76,
.image-5-24,
.x1-77 {
  height: 85px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 85px;
}

.vector-593 {
  cursor: pointer;
  height: 31px;
  left: 367px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.overlap-group1-585 {
  height: 108px;
  margin-right: 0;
  margin-top: 7px;
  position: relative;
  width: 390px;
}

.image-6-37 {
  height: 85px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 86px;
}

.rectangle-69-18 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 239px;
  position: absolute;
  top: 27px;
  width: 27px;
}

.meat-56 {
  left: 244px;
  letter-spacing: 0;
  position: absolute;
  top: 27px;
}

.vector-594 {
  cursor: pointer;
  height: 31px;
  left: 369px;
  position: absolute;
  top: 38px;
  width: 17px;
}

.overlap-group2-450 {
  height: 108px;
  margin-left: 0;
  margin-top: 6px;
  position: relative;
  width: 390px;
}

.line-28-48 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 390px;
}

.vector-595 {
  height: 31px;
  left: 367px;
  position: absolute;
  top: 31px;
  width: 17px;
}

.address-92 {
  color: transparent;
  font-weight: 500;
  left: 106px;
  position: absolute;
  top: 42px;
}

.span0-75 {
  color: var(--saffron);
  font-weight: 500;
}

.span1-215 {
  letter-spacing: 0;
}

.rectangle-66-24 {
  background-color: var(--white);
  border-radius: 5px;
  height: 9px;
  left: 236px;
  position: absolute;
  top: 25px;
  width: 39px;
}

.fastfood-46 {
  left: 241px;
  letter-spacing: 0;
  position: absolute;
  top: 25px;
}

