.component-21,
.component-21-1,
.component-21-2,
.component-21-3,
.component-21-4,
.component-21-5,
.component-21-6,
.component-21-7,
.component-21-8,
.component-21-9 {
  align-items: flex-start;
  background-color: var(--bg);
  display: flex;
  height: 108px;
  left: 0;
  min-width: 390px;
  padding: 11px 11.8px;
  position: absolute;
  top: 0;
}

.image-3,
.image-3-1,
.image-3-2,
.image-3-3,
.image-3-4,
.image-3-5,
.image-3-6,
.image-3-7,
.image-3-8,
.image-3-9 {
  height: 85px;
  object-fit: cover;
  width: 81px;
}

.flex-col-112,
.flex-col-113,
.flex-col-114,
.flex-col-115,
.flex-col-116,
.flex-col-117,
.flex-col-118,
.flex-col-119,
.flex-col-120,
.flex-col-121 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.0px;
  margin-left: 13px;
  min-height: 78px;
  width: 253px;
}

.a-soup-shop-33,
.a-soup-shop-38,
.a-soup-shop-40,
.a-soup-shop-42,
.a-soup-shop-47,
.a-soup-shop-48,
.a-soup-shop-51,
.a-soup-shop-53,
.a-soup-shop-55,
.a-soup-shop-58 {
  letter-spacing: 0;
  min-height: 24px;
}

.x35-seats-left-10,
.x35-seats-left-15,
.x35-seats-left-17,
.x35-seats-left-19,
.x35-seats-left-24,
.x35-seats-left-25,
.x35-seats-left-28,
.x35-seats-left-30,
.x35-seats-left-32,
.x35-seats-left-35 {
  color: transparent;
  font-weight: 500;
  margin-top: 3px;
  min-height: 24px;
}

.span0-32,
.span0-37,
.span0-39,
.span0-41,
.span0-46,
.span0-47,
.span0-50,
.span0-52,
.span0-54,
.span0-57 {
  color: var(--x796e6e);
  font-weight: 500;
}

.span1-123,
.span1-125,
.span1-127,
.span1-129,
.span1-131,
.span1-133,
.span1-135,
.span1-137,
.span1-139,
.span1-141 {
  color: var(--apple);
  font-weight: 500;
}

.span2-4,
.span2-5,
.span2-6,
.span2-7,
.span2-8,
.span2-9,
.span2-10,
.span2-11,
.span2-12,
.span2-13 {
  letter-spacing: 0;
}

.overlap-group-442,
.overlap-group-447,
.overlap-group-449,
.overlap-group-451,
.overlap-group-456,
.overlap-group-457,
.overlap-group-460,
.overlap-group-462,
.overlap-group-464,
.overlap-group-467 {
  height: 24px;
  margin-top: 3px;
  position: relative;
  width: 253px;
}

.x250m-47-18-are-going-48,
.x250m-47-18-are-going-49,
.x250m-47-18-are-going-50,
.x250m-47-18-are-going-51,
.x250m-47-18-are-going-52,
.x250m-47-18-are-going-53,
.x250m-47-18-are-going-54,
.x250m-47-18-are-going-55,
.x250m-47-18-are-going-56,
.x250m-47-18-are-going-57 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.span1-124,
.span1-126,
.span1-128,
.span1-130,
.span1-132,
.span1-134,
.span1-136,
.span1-138,
.span1-140,
.span1-142 {
  color: var(--black);
  font-weight: 500;
}

.icon-star-286,
.icon-star-287,
.icon-star-288,
.icon-star-289,
.icon-star-290,
.icon-star-291,
.icon-star-292,
.icon-star-293,
.icon-star-294,
.icon-star-295 {
  height: 22px;
  left: 70px;
  position: absolute;
  top: 2px;
  width: 23px;
}

