.group-48-23,
.group-48-24,
.group-48-25,
.group-48-26,
.group-48-27,
.group-48-28,
.group-48-29,
.group-48-30,
.group-48-31,
.group-48-32,
.group-48-33,
.group-48-34,
.group-48-35,
.group-48-36,
.group-48-37,
.group-48-39,
.group-48-40 {
  align-items: flex-start;
  display: flex;
  min-width: 87px;
}

.overlap-group-842,
.overlap-group-843,
.overlap-group-844,
.overlap-group-845,
.overlap-group-846,
.overlap-group-847,
.overlap-group-848,
.overlap-group-849,
.overlap-group-850,
.overlap-group-851,
.overlap-group-852,
.overlap-group-853,
.overlap-group-854,
.overlap-group-855,
.overlap-group-856,
.overlap-group-857,
.overlap-group-858 {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  height: 27px;
  min-width: 85px;
  padding: 4.1px 6px;
}

.distance-78,
.distance-79,
.distance-80,
.distance-81,
.distance-82,
.distance-83,
.distance-84,
.distance-85,
.distance-86,
.distance-87,
.distance-88,
.distance-89,
.distance-90,
.distance-91,
.distance-92,
.distance-93,
.distance-94 {
  letter-spacing: 0;
  min-height: 18px;
  width: 58px;
}

.vector-347,
.vector-348,
.vector-349,
.vector-350,
.vector-351,
.vector-352,
.vector-353,
.vector-354,
.vector-355,
.vector-356,
.vector-357,
.vector-358,
.vector-359,
.vector-360,
.vector-361,
.vector-362,
.vector-363 {
  align-self: center;
  height: 8px;
  margin-bottom: 0.25px;
  margin-left: 7px;
  width: 8px;
}

